.blog-section{
    width: 90%;
    margin: auto;
    display: flex;
}
.dr-contact{
    background-color: #f5f5f5;
    padding: 20px 20px;
    border-bottom: 4px solid #00bbf2;
    margin-bottom: 20px;
    
}
.blog-section-left{
    width: 20%;
}

.dr-contact .dr-opd {
    font-size: 20px;
    font-family: "Inter-Bold";
  }

  .dr-opd-name{
    list-style: none;
    padding: 0;
    font-family: "Inter-Medium";
    font-size: 12px;
    
  }
  .dr-opd-name li a{
      color: #000;
      text-decoration: none;
  }
  .blog-section-right{
      width: 80%;
      /* background-color: aquamarine; */
      padding: 0 20px;
      
      
  }
  .dr-name-desc{
      display: flex;
      margin-bottom: 20px;
      
  }
   .dr-booking-section{
      padding: 0 20px;
  }


  .dr-deseases-desc .des-name{
      font-size: 28px;
      font-family: "Inter-Bold";
  }

  .dr-deseases-desc .desease-desc{
      font-size: 16px;
      font-family: "Inter-Regular";
      padding: 15px 0;
  }
  
.social-icons{
    font-size: 16px;
}
.social-icons a i{
    color: #00BBF2;
    background-color: #D9F5FD;
    font-size: 14px;
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 50%;
    line-height: 1.9;
}
.social-icons a {
    padding-left: 20px;
}

.dr-booking-section .dr-name{
    font-size: 24px;
    font-family: "Inter-Bold";
}
.dr-booking-section .dr-name .yello{
    background-color: #FFD100;
    padding: 5px;
    font-size: 11px;
}
.dr-booking-section .dr-director{
    font-size: 16px;
    font-family: "Inter-Regular";
}
.dr-booking-section .hosp-name{
    font-size: 14px;
    font-family: "Inter-Regular";
}
.dr-booking-section .book{
    font-size: 16px;
    font-family: "Inter-Regular";
    background-color: #1E2F3F;
    color: #FFFFFF;
    padding: 10px 15px;
    border: none;
    margin: 5px 10px;
}
.dr-booking-section .read-more{
    border: none;
    background-color: none;
    border: 1px solid #1E2F3F;
    padding: 10px 16px;
    font-size: 14px;
}
/* Media query */
@media only screen and (max-width: 1400px) {
}

@media only screen and (max-width: 1250px) {

    .blog-section-right .blog-card-details{
        display: block;
       
        
    }
    .blog-card .blog-img img{
        width: 100%;
    }
    .blog-section-right .blog-card{
        width: 100%;
        margin: 20px 10px;
        background-color: #f5f5f5;
    
    
        
      }
  
}

@media only screen and (max-width: 768px) {
    .blog-section{
       
        display: block;
    }
    .blog-section-left{
        width: 100%;
        text-align: center;
        text-align: start;
    }
    .blog-section-right{
        width: 100%;
    }

}
@media only screen and (max-width: 650px) {
    .result{
        display: flex;
        flex-direction: column;
    }
    .button-group .page{
        margin: 0 3px;
    }
    .dr-name-desc{
        display: block;
        text-align: center;
    }
    .dr-name-desc .dr-booking-section{
        margin-top: 10px;
    }
}