<app-title [name]="customTitle"> </app-title>
<section class="ph-container ph-beardCIcons">
  <div class="ph-container-flax beardCIconsOuter">
    <div class="ph-beardCIconsLeft">
      <nav class="rank-math-breadcrumb-example">
        <p>
          <a href="/">Home</a>
          <span class="separator"
            ><i class="fa fa-angle-right" aria-hidden="true"></i
          ></span>
          <span>Blog</span>
          <!-- <span class="separator"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                    <span>Our Achivements</span> -->
        </p>
      </nav>
    </div>
    <div class="ph-beardCIconsRight">
      <a href="javascript:void(0);">
        <i class="fa fa-facebook-square" aria-hidden="true"></i>
      </a>
      <a href="javascript:void(0);">
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </a>
      <a href="javascript:void(0);">
        <i class="fa fa-instagram" aria-hidden="true"></i>
      </a>
      <a href="javascript:void(0);">
        <i class="fa fa-youtube-play" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</section>

<div class="blog-section">
  <div class="blog-section-left">
    <div class="dr-contact">
      <p class="dr-opd">Categories</p>
      <ul class="dr-opd-name">
        <li><a href="javascript:void(0);"> Bariatric Surgery (14)</a></li>
        <li><a href="javascript:void(0);">Black Fungus (5) </a></li>
        <li><a href="javascript:void(0);"> Bone Marrow transplant (3) </a></li>
        <li><a href="javascript:void(0);">Cardiac Surgery (71) </a></li>
        <li><a href="javascript:void(0);"> Cardiology (101) </a></li>
        <li><a href="javascript:void(0);">Covid Vaccination (5) </a></li>
        <li>
          <a href="javascript:void(0);"> Critical Care (5) </a>
        </li>
        <li><a href="javascript:void(0);">Dental (24)</a></li>
        <li><a href="javascript:void(0);"> Dermatology (35)</a></li>

        <li><a href="javascript:void(0);"> Dialysis Support Group (12)</a></li>
        <li><a href="javascript:void(0);"> Dietitian (33)</a></li>
        <li><a href="javascript:void(0);"> Emergency Medicine (9)</a></li>
        <li><a href="javascript:void(0);"> Emotional Health (11)</a></li>
        <li><a href="javascript:void(0);"> Endocrinology (40)</a></li>
        <li><a href="javascript:void(0);"> ENT (26)</a></li>
        <li>
          <a href="javascript:void(0);">
            Gastroenterology and GI Surgery (58)</a
          >
        </li>
        <li>
          <a href="javascript:void(0);">
            General and Laparoscopic Surgery (27) General Surgery (4)</a
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="blog-section-right">
    <div class="dr-name-desc">
      <div class="dr-img-section">
        <img src="assets/images/doctor.png" alt="" />
      </div>
      <div class="dr-booking-section">
        <h2 class="dr-name">Dr. P N Gupta <span class="yello">HOD</span></h2>
        <p class="dr-director">Director & HOD – Nephrology</p>
        <p class="hosp-name"><b>Location : </b>Paras HMRI Hospital, Patna</p>
        <button class="book">Book an appointment</button>
        <button class="read-more">Know More</button>
      </div>
    
    </div>
    <hr />
    <div class="dr-deseases-desc">
      <h2 class="des-name">Black Fungus’ Or Medically ‘Mucormycosis’</h2>

      <p class="desease-desc">
        With the world reeling under the throes of SARS CoV 2(COVID-19), we are
        now dealing with ‘Black Fungus’ or medically ‘Mucormycosis’.</p>
        <p class="desease-desc">
         The black
        fungus can occur at any time after the COVID-19 infection, either during
        the stay in the hospital or after days or weeks post-discharge.
        Medications like steroids increase blood sugar and a broad spectrum of
        antibiotics not only wipe out the pathogenic bacteria but also
        protective commensals. Long-term hypoxia reduces immunity and there are
        speculations of the fungus being transmitted by the humidified oxygen.
        All these make a perfect recipe for the infection.</p>
        <p class="desease-desc"> Nasal blockage,
        bleeding, discharge from the nose are initial features of mucormycosis.
        As the disease progresses the palate may be destroyed as a large black
        necrotic mass may be seen on opening the mouth. When the orbit is
        involved there will be protrusion of the eyeball, loss of movements of
        the eyeball with consequent double vision. Eye pain redness with
        blindness can follow.</p>
        <p class="desease-desc"> If the brain is invaded due to the blockage in the
        blood vessels there can be strokes, hemorrhage, and even death. MRI and
        CT scans give a clear picture of the presence of the lesion along with
        its extent.</p>
        <p class="desease-desc">  The infection can affect lungs with similar features of
        COVID-19 (fever, cough, shortness of breath, etc) making the clinical
        diagnosis difficult. CT scans and Bronchoscopy (Endoscopy of lungs) will
        be helpful.</p>
    
    <p class="desease-desc">    How to prevent it?</p>
  <p class="desease-desc">  Maintenance of good hygiene and
        cleanliness including oral hygiene Use sterile water for humidification
        while administering oxygen Usage of steroid must be limited with good
        blood sugar control Rational use of a broad spectrum of antibiotics Wear
        an N-95 mask while going out Avoid visits to construction areas, soil,
        plants, and the areas that abound with organic waste Seek immediate help
        if a patient recovering or recovered from COVID-19 develops sinus
        headache, facial pain, stuffy nose, bloody nasal discharge, blackish
        discoloration over nose or palate, eye pain, swelling, double vision,
        tooth pain, seizure, limb weakness.</p>

        <p class="desease-desc"> Early diagnosis and aggressive
        treatment are paramount for improving outcomes. TOGETHER WE CAN
        DEFINITELY WIN THIS BATTLE AGAINST COVID-19 AND BLACK FUNGUS.
      </p>
    </div>
    <hr>

    <div class="social-icons">
      <span>Share on:</span>
      <a href="javascript:void(0);">
        <i class="fa fa-facebook-square" aria-hidden="true"></i>
      </a>
      <a href="javascript:void(0);">
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </a>
      <a href="javascript:void(0);">
        <i class="fa fa-instagram" aria-hidden="true"></i>
      </a>
      <a href="javascript:void(0);">
        <i class="fa fa-youtube-play" aria-hidden="true"></i>
      </a>
    </div>
  </div>
 
</div>
