.coeHospitals{
    margin-top: 20px;
}
.coeHospitals .ph-coeHospitalOuter{
    /* justify-content: stretch;
    align-items: stretch; */
    padding-bottom: 40px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 40px;
}


.coeHospitals .coeHospitalText{
    /* background-color: #F5F5F5; */
    padding: 20px;
    width: 60%;
}
.coeHospitals .coeHospitalText .coeHospitalMainText{
color: #000;
font-size: 24px;
font-family: "Inter-Bold";
margin-bottom: 20px;
}
.coeHospitals .coeHospitalText .coeHospitalAddress{
    color: #000;
    font-size: 16px;
    font-family: "Inter-Regular";
}
.coeHospitals .coeHospitalText .coehospitalEmail{
    color: #000;
    font-size: 14px;
    font-family: "Inter-Regular";
}
.coeHospitals .coeHospitalText .coehospitalEmail span{
    font-family: "Inter-Bold";
}
.coeHospitals .coeHospitalText .ph-coeKnowMore{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    border: 1px solid #1E2F3F;
    margin-right: 20px;
    padding: 12px 20px;

}
.coeHospitals .coeHospitalText .ph-coeGetDirections{
    text-decoration: none;
    color: #1E2F3F;
    display: inline-block;
    border: 1px solid #1E2F3F;
    background-color: rgba(255, 255, 255, 0);
    padding: 12px 20px;

}


.ph-mkimagerOuter1{
    width: 50%;   
    
    position: relative;
}
 .ph-mkimagerOuter1 img
{
    width: 100%;
    background: transparent linear-gradient(180deg, #0077B700 0%, #0077B7 100%) 0% 0% no-repeat padding-box;
}


.ph-playLink{
    color: #fff;
    font-size: 14px;
    font-family: "Inter-Regular";
    position: absolute;
    bottom: 20px;
    left: 30px;
    text-decoration: none;
    z-index: 1;

}
 .ph-playLink i{
    color: #fff;
    font-size: 16px;
    background: #00BBF2;
    border-radius: 117px;
    width: 37px;
    height: 37px;
    vertical-align: middle;
    margin-right: 10px;
    padding: 11px 13px;
}
.ph-divbgGradiant{
    background: transparent linear-gradient(
        180deg, #0077B700 0%, #0077B7 100%) 0% 0% no-repeat padding-box;
            width: 100%;
            height: 90px;
            position: absolute;
            bottom: 0px;
            opacity: 0.5;
}


.one {
    font-family: "Inter-Regular";
    /* width: 100%; */
    padding: 12px 20px;
    margin: 10px 0;
    border: none;
    font-size: 16px;
    color: white;
    font-family: "Inter-Regular";
    background-color: #1e2f3f;
    border: 2px solid #1e2f3f;
  }
 .button-group .page {
    font-family: "Inter-Regular";
    /* width: 100%; */
    padding: 12px 20px;
    
    border: none;
    font-size: 16px;
    color: #1e2f3f;
    font-family: "Inter-Regular";
    border: 1px solid #1e2f3f;
  }
  
.button-group .page {
    margin: 0 10px;
  }
  .result{
      /* padding: 0 50px; */
      margin-bottom: 20px;
  }
.result .blog-result{
    font-size: 14px;
    font-family: "Inter-Regular";
    margin-top:15px ;
}


@media only screen and (max-width: 600px) {
    .coeHospitals .ph-coeHospitalOuter {
        display: block;
    }
    .coeHospitals .coeHospitalimage {
        width: 100%;
        min-height: 250px;
    }
    .coeHospitals .coeHospitalText {
        width: 100%;
    }
    .tabbable-panel{
        margin-left: 0px;
    }
    .coeHospitals .coeHospitalText .ph-coeKnowMore,
    .coeHospitals .coeHospitalText .ph-coeGetDirections{
        padding: 10px 15px;
    }

    .ph-mkimagerOuter1{
        width: 100%;   
        margin: 0;
}
}