<section class="ph-header">
<div class="headerFirstOuter">
    <div class="headerFirstleft">
        <span class="hidden-xs">
            <a class="ph-patientLogin" routerLink="/patient-login"><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="user-circle" class="svg-inline--fa fa-user-circle fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512"><path fill="currentColor" d="M248 8C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm0 96c48.6 0 88 39.4 88 88s-39.4 88-88 88-88-39.4-88-88 39.4-88 88-88zm0 344c-58.7 0-111.3-26.6-146.5-68.2 18.8-35.4 55.6-59.8 98.5-59.8 2.4 0 4.8.4 7.1 1.1 13 4.2 26.6 6.9 40.9 6.9 14.3 0 28-2.7 40.9-6.9 2.3-.7 4.7-1.1 7.1-1.1 42.9 0 79.7 24.4 98.5 59.8C359.3 421.4 306.7 448 248 448z"></path></svg> patient Login</a>
        </span>
        <span>
            <select name="" id="">
                <option value="Language">Language</option>
                <option value="english">English</option>
            </select>
        </span>
    </div>
    <div class="headerFirstright">
        <span>Emergency</span>
        <span>0172-5294455 (Panchkula)</span>
    </div>
</div>
<div class="headerSecondOuter">
    <div class="headerLogo">
        <img src="assets/images/logo.png" alt="">
    </div>
    <div class="headerSearchBox">
        <form class="example" action="" style="margin:auto;">
            <input type="text" placeholder="Search.." name="search2">
            <button type="submit">
                <svg style="width: 15px;" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="search" class="svg-inline--fa fa-search fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path></svg>
            </button>
        </form>
    </div>
</div>
<div class="headerThirdOuter">
    <nav>
        <img class="ph-mob-logo" src="assets/images/logo.png" alt="">
        <label for="drop" class="toggle toggle-mob">&#8801;</label>
        <input type="checkbox" id="drop" />
        <ul class="menu">
          <li class="visible-xs"><a class="ph-patientLoginMob" routerLink="/patient-login"><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="user-circle" class="svg-inline--fa fa-user-circle fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512"><path fill="currentColor" d="M248 8C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm0 96c48.6 0 88 39.4 88 88s-39.4 88-88 88-88-39.4-88-88 39.4-88 88-88zm0 344c-58.7 0-111.3-26.6-146.5-68.2 18.8-35.4 55.6-59.8 98.5-59.8 2.4 0 4.8.4 7.1 1.1 13 4.2 26.6 6.9 40.9 6.9 14.3 0 28-2.7 40.9-6.9 2.3-.7 4.7-1.1 7.1-1.1 42.9 0 79.7 24.4 98.5 59.8C359.3 421.4 306.7 448 248 448z"></path></svg> patient Login</a></li>
          <li> 

            <label for="drop-1" class="toggle">Departments & Specialities </label>
            <a href="#">Departments & Specialities</a>
            <input type="checkbox" id="drop-1"/>
            <ul>
              <li><a href="#">Service 1</a></li>
              <li><a href="#">Service 2</a></li>
              <li><a href="#">Service 3</a></li>
            </ul>
          </li>

          
          <li> 
            
            <label for="drop-2" class="toggle">Doctors & Professionals </label>
            <a href="#">Doctors & Professionals</a>
            <input type="checkbox" id="drop-2"/>
            <ul>
              <li><a routerLink="/doctors-listing">Doctors Lists</a></li>
              <!-- <li> 
                
                <label for="drop-3" class="toggle">Works </label>
                <a href="#" class="navRightAfter">Works</a>
                <input type="checkbox" id="drop-3"/>
                <ul>
                  <li><a href="#">HTML/CSS</a></li>
                  <li><a href="#">jQuery</a></li>
                  <li><a href="#">Python</a></li>
                </ul>
              </li> -->
            </ul>
          </li>
          <li> 
            <label for="drop-4" class="toggle">Patient & Visitors </label>
            <a href="#">Patient & Visitors</a>
            <input type="checkbox" id="drop-4"/>
            <ul>
              <li><a href="#">Service 1</a></li>
              <li><a href="#">Service 2</a></li>
              <li><a href="#">Service 3</a></li>
            </ul>
          </li>
          <li> 
            <label for="drop-5" class="toggle">Centre of Excellence </label>
            <a href="#">Centre of Excellence</a>
            <input type="checkbox" id="drop-5"/>
            <ul>
              <li><a routerLink="/coe/neurology">Neurology</a></li>
            </ul>
          </li>
          <li> 
            <label for="drop-6" class="toggle">Location & directions </label>
            <a href="#">Location & directions</a>
            <input type="checkbox" id="drop-6"/>
            <ul>
              <li><a href="#">Service 1</a></li>
              <li><a href="#">Service 2</a></li>
              <li><a href="#">Service 3</a></li>
            </ul>
          </li>
          <li> 
            <label for="drop-7" class="toggle">About Paras </label>
            <a href="#">About Paras</a>
            <input type="checkbox" id="drop-7"/>
            <ul>
              <li><a routerLink="/about-team">Management Team</a></li>
              <li><a routerLink="/about-ideology">Our Ideology</a></li>
              <li><a routerLink="/about-group-companies">Group Companies</a></li>
              <li><a routerLink="/about-md">Managing Director's Message</a></li>
              <li><a routerLink="/our-achivement">Our Achievements</a></li>
            </ul>
          </li>
        </ul>
      </nav>
</div>
</section>
