<section class="ph-footer">
    <div class="ph-footerOuter ph-container">
        <div class="ph-footerText">
            <p>About Paras Hospitals</p>
            <br>
            <p>We have super speciality hospitals in Gurgaon, Patna, Darbhanga, Panchkula, Ranchi, and Udaipur. Our initiatives are based on our three tenets of healthcare: Affordability, Accessibility, and Quality. Paras Healthcare was established in 2006, with the mission of providing specialized tertiary medical care services at affordable prices to under served communities across the country. This private healthcare provider stands apart from others in it’s vision of making healthcare for all a reality for ordinary people in rural and remote regions. Every single individual working in a ‘Paras’ Hospital- from doctors to nurses and the management- is united in the endeavor to deliver top quality healthcare to all. Paras Healthcare is a leader in establishing specialized hospitals in places that lack access to healthcare, specifically super specialty tertiary care. Each of it’s initiative is based on three tenets of healthcare- Affordability, Accessibility & Quality.</p>
        </div>
        <div class="ph-footerinner ph-container-flax">
            <div class="ph-footerLink">
                <p class="ph-footerLinkText">HOSPITAL NETWORKS</p>
                <ul>
                    <li><a href="javascript:void(0);">Paras Hospitals</a></li>
                    <li><a href="javascript:void(0);">Gurugram Paras HMRI Hospital</a></li>
                    <li><a href="javascript:void(0);">Patna Paras Global Hospital</a></li>
                    <li><a href="javascript:void(0);">Darbhanga Paras Hospitals</a></li>
                    <li><a href="javascript:void(0);">Panchkula Paras HEC Hospital</a></li>
                    <li><a href="javascript:void(0);">Ranchi Paras JK Hospital</a></li>
                    <li><a href="javascript:void(0);">Udaipur Paras Bliss</a></li>
                    <li><a href="javascript:void(0);">Panchkula Paras Bliss</a></li>
                    <li><a href="javascript:void(0);">Gurugram Paras Cancer Centre</a></li>
                </ul>
            </div>
             
            <div class="ph-footerLink">
                <p class="ph-footerLinkText">CENTRES OF EXCELLENCE</p>
                <ul>
                    <li><a href="javascript:void(0);">Neurology</a></li>
                    <li><a href="javascript:void(0);">Neurosurgery </a></li>
                    <li><a href="javascript:void(0);">Cardiology </a></li>
                    <li><a href="javascript:void(0);">Cardiac Surgery </a></li>
                    <li><a href="javascript:void(0);">Bariatric Surgery </a></li>
                    <li><a href="javascript:void(0);">Cancer Care </a></li>
                    <li><a href="javascript:void(0);">Orthopaedics & Joint Replacements </a></li>
                    <li><a href="javascript:void(0);">Gastroenterology & GI Surgery</a></li>
                    <li><a href="javascript:void(0);">Kidney Transplant</a></li>
                </ul>
            </div>
            <div class="ph-footerLink">
                <p class="ph-footerLinkText">ABOUT US</p>
                
                <ul>
                    <li><a href="javascript:void(0);">Make an Appointment</a></li>
                    <li><a href="javascript:void(0);">Find a Doctor </a></li>
                    <li><a href="javascript:void(0);">Request a Free Quote </a></li>
                    <li><a routerLink="/blogs">Blog </a></li>
                    <li><a href="javascript:void(0);">Dr. Nagar Blog </a></li>
                    <li><a href="javascript:void(0);">Preventive Health check-ups </a></li>
                    <li><a href="javascript:void(0);">Terms of Service & Privacy Policy </a></li>
                    <li><a href="javascript:void(0);">Refund Policy </a></li>
                    <li><a href="javascript:void(0);">Discontinuation of Senior Citizen</a></li>
                </ul>
            </div>
            <div class="ph-footerAddr">
                <select name="" id="">
                    <option value="">PARAS HOSPITALS, GURUGRAM</option>
                    <option value="">PARAS HOSPITALS, GURUGRAM</option>
                    <option value="">PARAS HOSPITALS, GURUGRAM</option>
                </select>
                <p>C-1, SUSHANT LOK- 1, SECTOR-43, PHASE- I, GURUGRAM, HARYANA 122002 (INDIA) PHONE:+911244585555 EMAIL : CONTACT@PARASHOSPITALS.COM</p>
                <div class="ph-footerLogo">
                    <img src="assets/images/footerlogo02.png" alt="">
                    <img src="assets/images/footerlogo01.png" alt="">
                </div>
            </div>
        </div>
        <div class="ph-footerCopyright ph-container-flax">
            <div class="ph-footericon ph-container-flax">
                <a href="javascript:void(0);"><img src="assets/images/socialIcon01.png" alt=""></a>
                <a href="javascript:void(0);"><img src="assets/images/socialIcon02.png" alt=""></a>
                <a href="javascript:void(0);"><img src="assets/images/socialIcon03.png" alt=""></a>
                <a href="javascript:void(0);"><img src="assets/images/socialIcon04.png" alt=""></a>
            </div>
            <div class="ph-copyright01">
                <p>Copyright © Paras Healthcare 2021</p>
            </div>
        </div>
    </div>
</section>
