<app-title [name]="customTitle"></app-title>
<!-- common -->
<section class="ph-container ph-beardCIcons">
    <div class="ph-container-flax beardCIconsOuter">
        <div class="ph-beardCIconsLeft">
            <nav class="rank-math-breadcrumb-example">
                <p>
                <a href="/">Home</a>Home > 
                <span class="separator"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                <span>About</span>
                <span class="separator"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                <span>Group Companies</span>
                </p>
            </nav>
        </div>
        <div class="ph-beardCIconsRight">
            <a href="javascript:void(0);">
                <i class="fa fa-facebook-square" aria-hidden="true"></i>
            </a>
            <a href="javascript:void(0);">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="javascript:void(0);">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
            <a href="javascript:void(0);">
                <i class="fa fa-youtube-play" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</section>
<!-- common ends -->



<section class="abt-group-section">
  <div class="company-brand">
    <div class="company-logo">
      <img src="assets/images/logo2.png" alt="" />
    </div>
    <div class="company-dec">
      <p class="companytext">
        Chaudhary VedRam Nagar ji, the founder and promoter of our company is
        one of the connoisseurs in the dairy farm industry. Ved Ram & Sons
        established their first unit in 1987 under company’s name VRS Foods
        Limited and since then the latest equipment and facilities enable them
        to cater to the needs of their clients by selling over 2, 50,000 liters
        of milk per day in Delhi Metro.
      </p>

      <p class="companytext">
        At the heart of the entire network of Paras are hundreds of Village
        level collection centers covering 5000 villages across Western UP,
        Haryana, Rajasthan, Maharashtra and Gujarat. The farmers are assisted
        financially, to buy cattle, feed, veterinary services and other
        infrastructure support.
      </p>

      <p class="companytext">
        For more info refer to:
        <a href="www.parasdairy.com"> www.parasdairy.com</a>
      </p>
    </div>
  </div>

  <div class="company-brand">
    <div class="company-logo">
      <img src="assets/images/logo3.png" alt="" />
    </div>
    <div class="company-dec">
      <p class="companytext">
        Backed by a decade’s worth of experience and an abundance of expertise,
        Paras Buildtech has pioneered the conceptualization and execution of
        upscale real estate projects in the retail, commercial and residential
        space. Adding to the array of services offered, it also sees the project
        through each stage right from site acquisition, designing and
        development to construction, marketing and sales. For more info refer
        to:
      </p>

      <p class="companytext">
        Today, Paras Buildtech is known to be one of the leading names in Indian
        real estate development and has done so by assuring its clients and
        business partners a sense of utmost quality and reliability.
      </p>

      <p class="companytext">
        For more info refer to:
        <a href=" www.parasbuildtech.com"> www.parasbuildtech.com</a>
      </p>
    </div>
  </div>
  <div class="company-brand">
    <div class="company-logo">
      <img src="assets/images/logo4.png" alt="" />
    </div>
    <div class="company-dec">
      <p class="companytext">
        State of the art school with international facilities to ensure that the
        your children get the best education, learning environment and
        direction. Paras World School aims at facilitating the growth and
        development of every child that enters its portals. The aim of the
        school is to touch the lives of the children and the community to
        envisage a brighter future for all.
      </p>

      <p class="companytext">
        With a rich history, valuable business experience, industry knowledge
        and a tradition of achievement under its wing, Paras views its
        participation in the educational sphere with optimism and resolve.
      </p>

      <p class="companytext">
        For more info refer to:
        <a href="www.parasworldschool.com"> www.parasworldschool.com</a>
      </p>
    </div>
  </div>

  <div class="company-brand">
    <div class="company-logo">
      <img src="assets/images/Paras-logo.png" alt="" />
    </div>
    <div class="company-dec">
      <p class="companytext">
        Paras Healthcare initiated with the inception of Paras Hospitals,
        Gurgaon in the year 2006, with the vision of providing specialized super
        specialty tertiary care services to the community at large. The aim of
        Paras Healthcare is to ensure that the dream of ‘Healthcare for All’ is
        a reality. We aim at establishing specialized centres at locations where
        access to healthcare is difficult and super specialty tertiary care is
        not available.
      </p>

     
      <p class="companytext">
        For more info refer to:
        <a href="www.parashospitals.com"> www.parashospitals.com</a>
      </p>
    </div>
  </div>
</section>
