.ph-direction{
    width: 90%;
    margin: auto;
    border-top: 4px solid #00BBF2;
    padding: 50px ;
}
.ph-direction .ph-form{
    padding: 50px;
    
}

.ph-direction .ph-row{
    display: flex;
    
    justify-content: space-evenly;
  
}
.ph-form .direction-button{
    border:none;
    background-color: #1E2F3F;
    color: white;
    padding: 10px 15px;
    margin-top: 25px;
    font-size: 16px;
    font-family: "Inter-Regular";
    
    height: 48px;
}
.ph-form input{
width: 378px;
    height: 48px;
    font-size: 16px;
}
.ph-form select{
    width: 378px;
    height: 48px;
    font-size: 16px;

}
.ph-form .label-name{
    font-size: 14px;
    font-family: "Inter-Regular";
    color: #000000;
}
.ph-form iframe{
    padding: 50px;
    width: 100%;

}
/* media */

@media only screen and (max-width: 1200px) {
    .ph-direction .ph-row{
        display: block;
        width: 100%;
      
    }
    .ph-form select{
       width: 100%;
    }
    .ph-form iframe{
        padding: 20px 0px;
        width: 100%;
    
    }
    

}

@media only screen and (max-width: 768px) {
    .ph-direction {
        padding: 25px;
    }
    

}