<app-title [name]="customTitle"> </app-title>
<section class="ph-container ph-beardCIcons">
    <div class="ph-container-flax beardCIconsOuter">
        <div class="ph-beardCIconsLeft">
            <nav class="rank-math-breadcrumb-example">
                <p>
                    <a href="/">Home</a>
                    <span class="separator"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                    <span>Get Directions</span>
                    <!-- <span class="separator"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                    <span>Our Achivements</span> -->
                </p>
            </nav>
        </div>
        <div class="ph-beardCIconsRight">
            <a href="javascript:void(0);">
                <i class="fa fa-facebook-square" aria-hidden="true"></i>
            </a>
            <a href="javascript:void(0);">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="javascript:void(0);">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
            <a href="javascript:void(0);">
                <i class="fa fa-youtube-play" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</section>
<div class="ph-direction shadow">
    <!-- <form >
        <div class="col-md-6">
            <label for="inputCity" class="form-label">City</label>
            <input type="text" class="form-control" id="inputCity">
          </div>
          <div class="col-md-4">
            <label for="inputState" class="form-label">State</label>
            <select id="inputState" class="form-select">
              <option selected>Choose...</option>
              <option>...</option>
            </select>
          </div>
    </form> -->

    <form class="ph-form">
        <div class="ph-row">
            <div class="ph-select">
                <label class="label-name">Travelling From</label>
                <div class="input-group">
                    <input type="text" class="form-control" />
                </div>
            </div>
            <div class="ph-select">
                <label class="label-name">Hospital</label>
                <select class="form-select form-control">
                    <option selected>Select Hospital</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>

            <div class="ph-select">
                <button type="submit" class="direction-button">Get Directions</button>
            </div>
        </div>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d1892877.8527305813!2d71.76897454926828!3d22.08678367074386!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e6!4m3!3m2!1d21.1456393!2d72.8365496!4m5!1s0x395e85b6c8cfcb91%3A0xb692d3659dcce41d!2sParas%20Healthcare%2C%20Shubhada%20Colony%2C%20Saumitrey%20Society%2C%20Jodhpur%20Village%2C%20Ahmedabad%2C%20Gujarat!3m2!1d23.0193357!2d72.5252933!5e0!3m2!1sen!2sin!4v1640240447256!5m2!1sen!2sin"
            width="600" height="450" style="border: 0" allowfullscreen="" loading="lazy"></iframe>
    </form>
</div>