.our-achive-section {
  width: 90%;
  margin: auto;
}

.dr-abt-right {
  width: 100%;
}

.set {
  position: relative;
  width: 100%;
  height: auto;
  padding: 15px 0px;
  margin: 10px 0;
}
.set > a {
  display: block;
  padding: 20px 15px;
  text-decoration: none;
  color: #000000;
  font-size: 20px;
  font-family: "Inter-Bold";
  background-color: #f5f5f5;

  /* border-bottom: 1px solid #ddd; */
  /* -webkit-transition:all 0.2s linear;
      -moz-transition:all 0.2s linear;
      transition:all 0.2s linear; */
}
.set > a i {
  float: right;
  margin-top: 2px;
  font-size: 16px;
}
/* .set > a.active{
      background-color:#3399cc;
      color: #fff;
    } */
.content {
  background-color: #fff;
  /* border-bottom: 1px solid #ddd; */
  display: none;
}
.content p {
  font-size: 16px;
  font-family: "Inter-Regular";

  padding: 15px 0;
  margin: 0;
  color: #000000;
}
.ourmain-section {
  display: flex;
  width: 100%;
  margin: 20px 0;
}
.ourmain-section .our-section-left {
  width: 25%;
}
.our-section-left img {
  width: 100%;
}
.ourmain-section .our-section-right {
  width: 75%;
}
.ourmain-section .our-section-right ul {
  list-style-type: none;
  list-style-position: outside;
  font-size: 16px;
  font-family: "Inter-Regular";
  padding-left: 30px;
}
.ourmain-section .our-section-right ul li {
  padding: 20px 0;
  counter-increment: list;
  list-style-type: none;
  list-style-position: outside;
}

.ourmain-section .our-section-right ul li:before {
  color: white;
  content: counter(list) "";
  font-size: 15px;
  background-color: #b0cc82;
  border-radius: 50%;
  padding: 5px 10px;
  text-align: center;
  margin-right: 10px;
}

@media only screen and (max-width: 768px) {
  .ourmain-section {
    display: block;
  }

  .ourmain-section .our-section-left {
    width: 100%;
  }
  .ourmain-section .our-section-right {
    width: 100%;
  }
}
