
<app-title-banner [name]="customTitle" [image]="customImage">

</app-title-banner>
<!-- common -->
<section class="ph-container ph-beardCIcons">
    <div class="ph-container-flax beardCIconsOuter">
        <div class="ph-beardCIconsLeft">
            <nav class="rank-math-breadcrumb-example">
                <p>
                <a href="/">Home</a>
                <span class="separator"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                <span>CoE</span>
                <span class="separator"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                <span>Neurology</span>
                </p>
            </nav>
        </div>
    </div>
</section>
<!-- common ends -->


<div class="doctor-section">
    <div class="dr-abt-section">
        <div class="dr-abt-left">
            <div class="dr-contact text-center">
                <img class="dr-app-ph-img" src="assets/images/appointment01.png" alt="">
                <p class="dr-opd">Appointments</p>
                <p class="dr-opd-name"><span class="time"> We're here for you. <br> Call us at +91 1244 585555 or </span>
                </p>
                <a class="ph-btn ph-bookAppointment01" href="javascript:void(0);">Book an appointment</a>
                <a class="ph-btn ph-bookAppointment01" href="javascript:void(0);">Find a doctor</a>
                <a class="ph-btn ph-bookAppointment01" href="javascript:void(0);">Find a Location</a>
            </div>
            <div class="dr-contact">
                <p class="dr-opd">Centre of Excellence</p>
                <ul class="dr-opd-name">
                    <li><a href="javascript:void(0);">Neurology</a></li>
                    <li><a href="javascript:void(0);">Neurosurgery </a></li>
                    <li><a href="javascript:void(0);">Cardiology </a></li>
                    <li><a href="javascript:void(0);">Cardiac Surgery </a></li>
                    <li><a href="javascript:void(0);">Bariatric Surgery </a></li>
                    <li><a href="javascript:void(0);">Cancer Care </a></li>
                    <li><a href="javascript:void(0);">Orthopaedics & Joint Replacements </a></li>
                    <li><a href="javascript:void(0);">Gastroenterology & GI Surgery</a></li>
                    <li><a href="javascript:void(0);">Kidney Transplant</a></li>
                </ul>
            </div>
        </div>
        <div class="dr-abt-right">
            <div class="tabbable-panel">
				<div class="tabbable-line">
					<ul class="nav nav-tabs ">
						<li class="active">
							<a href="#tab_default_1" data-toggle="tab">Introduction</a>
						</li>
						<li>
							<a href="#tab_default_2" data-toggle="tab">Our Doctors</a>
						</li>
						<li>
							<a href="#tab_default_3" data-toggle="tab">Patient Testimonials</a>
						</li>
                        <li>
							<a href="#tab_default_4" data-toggle="tab">Network Hospitals</a>
						</li>
                        <li>
							<a href="#tab_default_5" data-toggle="tab">FAQs</a>
						</li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="tab_default_1">
                            <app-departments></app-departments>
						</div>
						<div class="tab-pane" id="tab_default_2">
                            <app-coe-doctors></app-coe-doctors>
						</div>
						<div class="tab-pane" id="tab_default_3">
                            <app-patient-testimonial></app-patient-testimonial>
						</div>
                        <div class="tab-pane" id="tab_default_4">
                            <app-coe-hospitals></app-coe-hospitals>
                        </div>
                        <div class="tab-pane" id="tab_default_5">
                            <app-coe-faq></app-coe-faq>
                        </div>
					</div>
				</div>
			</div>         
        </div>
    </div>
</div>

