.ph-aboutTeam .ph-aboutTeamOuter .ph-aboutTeamInner img{
    width: 100%;
    
}

.ph-aboutTeam .ph-aboutTeamOuter .ph-aboutTeamText{
    padding: 20px;
    background-color: #F5F5F5;
    border-bottom: 1px solid #E5E5E5;
}
.ph-aboutTeam .ph-aboutTeamOuter .ph-aboutTeamText p:nth-child(1){
font-size: 20px;
font-family: "Inter-Bold";
margin-bottom: 15px;
}
.ph-aboutTeam .ph-aboutTeamOuter .ph-aboutTeamText .context{
    font-size: 14px;
    font-family: "Inter-Regular";
    margin-bottom: 15px;
    position: relative;
    
    }
    .ph-aboutTeam .ph-aboutTeamOuter .ph-aboutTeamText p:nth-child(2){
        font-size: 20px;
        font-family: "Inter-Bold";
        margin-bottom: 15px;
        height: 50px;
        }
    

    .ph-aboutTeam .ph-aboutTeamOuter .ph-aboutTeamText a{
        font-size: 12px;
        color: #00BBF2;
        text-decoration: none;
        text-transform: uppercase;
        font-family: "Inter-Medium";
        display: inline-block;
    }
    .ph-aboutTeam .ph-aboutTeamOuter .ph-aboutTeamText a svg{
        width: 8px;
        vertical-align: middle;
        margin-left: 4px;
        margin-top: -3px;
    }
    .ph-aboutTeam .ph-aboutTeamOuter .ph-aboutTeamInner{
        margin-bottom: 20px;
    }