<app-title [name]="customTitle"> </app-title>

<!-- common -->
<section class="ph-container ph-beardCIcons">
    <div class="ph-container-flax beardCIconsOuter">
        <div class="ph-beardCIconsLeft">
            <nav class="rank-math-breadcrumb-example">
                <p>
                    <a href="/">Home</a>
                    <span class="separator"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                    <span>Management Team</span>
                </p>
            </nav>
        </div>
        <div class="ph-beardCIconsRight">
            <a href="javascript:void(0);">
                <i class="fa fa-facebook-square" aria-hidden="true"></i>
            </a>
            <a href="javascript:void(0);">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="javascript:void(0);">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
            <a href="javascript:void(0);">
                <i class="fa fa-youtube-play" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</section>
<!-- common ends -->

<section class="ph-aboutTeam ph-container">
    <div class="ph-aboutTeamOuter row">
        <div class="col-md-4 col-sm-6 col-xs-12 ph-aboutTeamInner ph-sm-custom">
            <img src="assets/images/team01.png" alt="" />
            <div class="ph-aboutTeamText">
                <p>Dr. Dharminder Nagar</p>
                <p>Managing Director</p>
            </div>
            <div class="ph-aboutTeamText" style="border-bottom: none">
                <a href="javascript:void(0);">know more
                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right"
                        class="svg-inline--fa fa-chevron-right fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 320 512">
                        <path fill="currentColor"
                            d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z">
                        </path>
                    </svg></a>
                <!-- <span class="context">
                    Dr. Dharminder Nagar has the vision to provide the best medical
                    expertise and infrastructure to the community at large, particularly
                    to areas where access to such facilities is neglected. He graduated as
                    a doctor from Mysore University in 1995 and worked as a doctor in UK
                    between 1995 and 1998. He has a M. Phil in Hospital and Health System
                    Management from Birla Institute of Technology and Science, Pilani, and
                    an Executive Management Program in Healthcare Delivery from Harvard
                    Business School. He also obtained an Advanced Diploma in Healthcare
                    Management and Health Systems Administration from Imperial College,
                    London (1999-2001). He decided in 2004 to set up in Gurgaon (NCR) –
                    the first tertiary care hospital in this area – Paras Hospitals,
                    Gurgaon. Dr Dharminder Nagar has been awarded the Entrepreneur of the
                    Year (2015) Award at the India Health & Wellness Summit 2015 and
                    Dynamic Healthcare Entrepreneur of the Year 2015 by Six Sigma
                    Healthcare Awards at the World Entrepreneur Summit.
                </span> -->
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 ph-aboutTeamInner ph-sm-custom">
            <img src="assets/images/team02.png" alt="" />
            <div class="ph-aboutTeamText">
                <p>Dr. Dharminder Nagar</p>
                <p>Managing Director</p>
            </div>
            <div class="ph-aboutTeamText" style="border-bottom: none">
                <a href="javascript:void(0);">know more
                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right"
                        class="svg-inline--fa fa-chevron-right fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 320 512">
                        <path fill="currentColor"
                            d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z">
                        </path>
                    </svg></a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 ph-aboutTeamInner ph-sm-custom">
            <img src="assets/images/team03.png" alt="" />
            <div class="ph-aboutTeamText">
                <p>Dr. Dharminder Nagar</p>
                <p>Managing Director</p>
            </div>
            <div class="ph-aboutTeamText" style="border-bottom: none">
                <a href="javascript:void(0);">know more
                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right"
                        class="svg-inline--fa fa-chevron-right fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 320 512">
                        <path fill="currentColor"
                            d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z">
                        </path>
                    </svg></a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 ph-aboutTeamInner ph-sm-custom">
            <img src="assets/images/team04.png" alt="" />
            <div class="ph-aboutTeamText">
                <p>Dr. Dharminder Nagar</p>
                <p>Managing Director</p>
            </div>
            <div class="ph-aboutTeamText" style="border-bottom: none">
                <a href="javascript:void(0);">know more
                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right"
                        class="svg-inline--fa fa-chevron-right fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 320 512">
                        <path fill="currentColor"
                            d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z">
                        </path>
                    </svg></a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 ph-aboutTeamInner ph-sm-custom">
            <img src="assets/images/team05.png" alt="" />
            <div class="ph-aboutTeamText">
                <p>Dr. Dharminder Nagar</p>
                <p>Managing Director</p>
            </div>
            <div class="ph-aboutTeamText" style="border-bottom: none">
                <a href="javascript:void(0);">know more
                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right"
                        class="svg-inline--fa fa-chevron-right fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 320 512">
                        <path fill="currentColor"
                            d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z">
                        </path>
                    </svg></a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 ph-aboutTeamInner ph-sm-custom">
            <img src="assets/images/team01.png" alt="" />
            <div class="ph-aboutTeamText">
                <p>Dr. Dharminder Nagar</p>
                <p>Managing Director</p>
            </div>
            <div class="ph-aboutTeamText" style="border-bottom: none">
                <a href="javascript:void(0);">know more
                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right"
                        class="svg-inline--fa fa-chevron-right fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 320 512">
                        <path fill="currentColor"
                            d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z">
                        </path>
                    </svg></a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 ph-aboutTeamInner ph-sm-custom">
            <img src="assets/images/team02.png" alt="" />
            <div class="ph-aboutTeamText">
                <p>Dr. Dharminder Nagar</p>
                <p>Managing Director</p>
            </div>
            <div class="ph-aboutTeamText" style="border-bottom: none">
                <a href="javascript:void(0);">know more
                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right"
                        class="svg-inline--fa fa-chevron-right fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 320 512">
                        <path fill="currentColor"
                            d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z">
                        </path>
                    </svg></a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 ph-aboutTeamInner ph-sm-custom">
            <img src="assets/images/team03.png" alt="" />
            <div class="ph-aboutTeamText">
                <p>Dr. Dharminder Nagar</p>
                <p>Managing Director</p>
            </div>
            <div class="ph-aboutTeamText" style="border-bottom: none">
                <a href="javascript:void(0);">know more
                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right"
                        class="svg-inline--fa fa-chevron-right fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 320 512">
                        <path fill="currentColor"
                            d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z">
                        </path>
                    </svg></a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 ph-aboutTeamInner ph-sm-custom">
            <img src="assets/images/team04.png" alt="" />
            <div class="ph-aboutTeamText">
                <p>Dr. Dharminder Nagar</p>
                <p>Managing Director</p>
            </div>
            <div class="ph-aboutTeamText" style="border-bottom: none">
                <a href="javascript:void(0);">know more
                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right"
                        class="svg-inline--fa fa-chevron-right fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 320 512">
                        <path fill="currentColor"
                            d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z">
                        </path>
                    </svg></a>
            </div>
        </div>
    </div>
</section>