input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: none;
  font-family: "Inter-Regular";
  font-size: 16px;
}

.contact-form {
  width: 50%;
}
.cont-form label {
  font-family: "Inter-Regular";
  font-size: 14px;
}
.cont-form input {
  height: 48px;
}

.cont-form h2 {
  font-size: 28px;
  font-family: "Inter-Bold";
  padding: 15px 0;
}
input[type="number"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="email"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.cont-form {
  width: 60%;
  margin: auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.contact-left {
  border-top: 3px solid #00bbf2;
  padding: 25px 50px;
}

.set {
  position: relative;
  width: 100%;
  height: auto;
  padding: 0px 0px 15px 20px;
}
.set > a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #000000;
  font-size: 17px;
  font-family: "Inter-Bold";
  background-color: #d9f5fd;

  /* border-bottom: 1px solid #ddd; */
  /* -webkit-transition:all 0.2s linear;
      -moz-transition:all 0.2s linear;
      transition:all 0.2s linear; */
}
.set > a i {
  float: right;
  margin-top: 2px;
  font-size: 16px;
}
/* .set > a.active{
      background-color:#3399cc;
      color: #fff;
    } */
.content {
  background-color: #f5f5f5;
  padding: 10px 25px;
}
.content p {
  font-size: 16px;
  font-family: "Inter-Regular";

  padding: 10px 15px;
  margin: 0;
  color: #000000;
}
.contact-button {
  border: none;
  padding: 10px 15px;
  margin: 10px;
  font-size: 16px;
  font-family: "Inter-Regular";
  background-color: transparent;
  color: #1e2f3f;
  border: 1px solid #1e2f3f;
}
.content table tr {
  font-size: 14px;
  font-family: "Inter-Regular";
}
.content table tr td b {
  font-family: "Inter-Bold";
}
.contact-submit
{
    background-color: #1E2F3F;
    font-size: 16px;
    font-family: "Inter-Regular";
    border: none;
    color: white;
    padding: 10px 30px;
    width: 200px;
}


.contact-reset{
    border: none;
    padding: 10px 15px;
    margin: 10px;
    font-size: 16px;
    width: 100px;
    font-family: "Inter-Regular";
    background-color: transparent;
    color: #1e2f3f;
    border: 1px solid #1e2f3f;
}

@media screen and (max-width: 992px) {
  .cont-form {
    width: 100%;
  }
  .contact-right{
      margin: 20px 0;
  }
  .set{
      padding: 0
  }
  .cont-form img{
    width: 100%;
}
}
