<app-title [name]="customTitle"> </app-title>

<!-- common -->
<section class="ph-container ph-beardCIcons">
    <div class="ph-container-flax beardCIconsOuter">
        <div class="ph-beardCIconsLeft">
            <nav class="rank-math-breadcrumb-example">
                <p>
                    <a href="/">Home</a>
                    <span class="separator"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                    <span>Contact us</span>
                </p>
            </nav>
        </div>
        <div class="ph-beardCIconsRight">
            <a href="javascript:void(0);">
                <i class="fa fa-facebook-square" aria-hidden="true"></i>
            </a>
            <a href="javascript:void(0);">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="javascript:void(0);">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
            <a href="javascript:void(0);">
                <i class="fa fa-youtube-play" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</section>
<div class="ph-container row">
    <div class="col-xl-7  col-lg-7  contact-left  align-center shadow">
        <form class="cont-form  ">
            <h2>Any question or remarks? Just drop us a message.</h2>


            <label for="country">Hospital*</label>
            <select class="form-select">
                <option value="Gurugram">Select Hospital</option>
                <option value="Patna">Patna</option>

            </select>

            <label> Name*</label>
            <input type="text" class="form-control" required>

            <label>Email Id*</label>
            <input type="email" class="form-control" required>

            <label>Phone*</label>
            <input type="number" class="form-control" required>



            <label for="subject"> Your Query</label>
            <textarea placeholder="Enter your Query" style="height: 120px;" class="text-capitalize"
                required> </textarea>

            <img src="assets/images/captch.png" alt="" style="display:block ;">
            <button type="submit" class="contact-submit">Submit</button>
            <button type="reset" class="contact-reset">Reset</button>

        </form>
    </div>
    <div class="col-xl-5 col-lg-5 contact-right">


        <div class="set">
            <a href="javascript:void(0);">
                Paras Hospitals, Gurugram
                <i class="fa fa-angle-down" aria-hidden="true"></i>

            </a>
            <div class="content">

                <h3>C-1, Sushant Lok- 1, Sector-43, Phase- I, Gurugram, Haryana 122002 (INDIA)</h3>
                <b>
                    Phone:
                </b><span>+911244585555 </span><br>
                <b>Email:</b><span> contact@parashospitals.com</span><br>
                <button class="contact-button">Know More</button> <button class="contact-button">Get Directions</button>
                <hr>
              
              

              
                <table>
                    <tr>
                        <td><b>24×7 Enquiry :</b></td>
                        <td>+91-124-4585722  </td>
                    </tr>
                    <tr>
                        <td>
                <b> Emergency :</b>

                        </td>
                        <td>
                            +91 124 458 5666
                        </td>
                    </tr>
                    <tr>
                        <td><b>OPD Reception :</b></td>
                        <td> +91-124-4585722 </td>
                      
                    </tr>
                    <tr>
                        <td></td>
                        <td>+91-124-4585721</td>
                    </tr>
                    <tr>
                        <td><b> TPA / Corporate Desk :</b></td>
                        <td>+91-124-4585573</td>
                      
                    </tr><tr>
                        <td><b>HR Deptt.:</b></td>
                        <td>  +91-124-4585624 </td>
                      
                    </tr><tr>
                        <td><b>Fax :</b></td>
                        <td>  +91-124-4585572 </td>
                      
                    </tr><tr>
                        <td><b>Blood Bank:</b></td>
                        <td>+91-124-4585500 </td>
                      
                    </tr>
                </table>

            </div>
        </div>
        <div class="set">
            <a href="javascript:void(0);">
                Paras HMRI Hospital, Patna
                <i class="fa fa-angle-down" aria-hidden="true"></i>

            </a>
            <div class="content">
              
            </div>
        </div>
        <div class="set">
            <a href="javascript:void(0);">
                Paras Global Hospital, Darbhanga
                <i class="fa fa-angle-down" aria-hidden="true"></i>

            </a>
            <div class="content">
              
            </div>
        </div>
        <div class="set">
            <a href="javascript:void(0);">
                Paras Hospitals, Panchkula
                <i class="fa fa-angle-down" aria-hidden="true"></i>

            </a>
            <div class="content">
               
            </div>
        </div>
        <div class="set">
            <a href="javascript:void(0);">
                Paras HEC Hospital, Ranchi
                <i class="fa fa-angle-down" aria-hidden="true"></i>

            </a>
            <div class="content">
                
            </div>
        </div>
        <div class="set">
            <a href="javascript:void(0);">
                Paras Cancer Centre, Patna
                <i class="fa fa-angle-down" aria-hidden="true"></i>

            </a>
            <div class="content">
               
            </div>

        </div>
        <div class="set">
            <a href="javascript:void(0);">
                Paras Bliss, Panchkula
                <i class="fa fa-angle-down" aria-hidden="true"></i>
    
            </a>
            <div class="content">
               
            </div>
        </div>
        <div class="set">
            <a href="javascript:void(0);">
                Paras JK Hospital, Udaipur
                <i class="fa fa-angle-down" aria-hidden="true"></i>
        
            </a>
            <div class="content">
              
            </div>
        </div>
    </div>
    
    </div>
   