<section class="ph-networkHospital ph-container">
    <div class="ph-netHospitalOuter ph-container-flax">
        <div class="ph-netHospitalLeft">
            <p class="ph-ourNetHos01">Our <br> Network <br> Hospitals</p>
            <a href="javascript:void(0);">All locations <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" class="svg-inline--fa fa-chevron-right fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"></path></svg></a>
        </div>
        <div class="ph-netHospitalRight ph-Slider">
            <owl-carousel [options]="netHospital" [carouselClasses]="['owl-theme','customClassName']">
                <div class="item">
                    <div class="ph-itemSlider">
                        <img src="assets/images/paras-hospital-gurgaon.png" alt="">
                        <div class="ph-knwParas01">
                            <p class="ph-hospName">Paras Hospitals <br> Gurgaon</p>
                            <a href="javascript:void(0);">know more <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" class="svg-inline--fa fa-chevron-right fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"></path></svg></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="ph-itemSlider">
                        <img src="assets/images/paras-panchkula.png" alt="">
                        <div class="ph-knwParas01">
                            <p class="ph-hospName">Paras Hospitals <br> Panchkula</p>
                            <a href="javascript:void(0);">know more <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" class="svg-inline--fa fa-chevron-right fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"></path></svg></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="ph-itemSlider">
                        <img src="assets/images/patna-day.png" alt="">
                        <div class="ph-knwParas01">
                            <p class="ph-hospName">Paras HMRI Hospital  <br> Patna</p>
                            <a href="javascript:void(0);">know more <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" class="svg-inline--fa fa-chevron-right fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"></path></svg></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="ph-itemSlider">
                        <img src="assets/images/darbhanga.png" alt="">
                        <div class="ph-knwParas01">
                            <p class="ph-hospName">Paras Global Hospital  <br> Darbhanga</p>
                            <a href="javascript:void(0);">know more <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" class="svg-inline--fa fa-chevron-right fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"></path></svg></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="ph-itemSlider">
                        <img src="assets/images/paras-hospital-gurgaon.png" alt="">
                        <div class="ph-knwParas01">
                            <p class="ph-hospName">Paras Hospitals <br> Gurgaon</p>
                            <a href="javascript:void(0);">know more <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" class="svg-inline--fa fa-chevron-right fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"></path></svg></a>
                        </div>
                    </div>
                </div>
                
            </owl-carousel>
        </div>

    </div>
</section>
