.ph-networkHospital .ph-netHospitalLeft .ph-ourNetHos01{
    font-size: 40px;
    font-family: "Inter-Bold";
    padding: 10% 30px;
    color: #000;
    border-bottom: 1px solid #E5E5E5;
    height: 80%;
    }
    .ph-networkHospital{
        margin-top: 80px;
        padding-bottom: 50px;
        border-bottom: 1px solid #E5E5E5;
    }
    .ph-networkHospital .ph-netHospitalLeft{
        box-shadow: 0px 3px 10px #00000012;
        width: 25%;
        margin-right: 40px;
        margin-bottom: 15px;
    }
    .ph-networkHospital .ph-netHospitalLeft a{
        font-size: 12px;
        color: #00BBF2;
        text-decoration: none;
        text-transform: uppercase;
        font-family: "Inter-Medium";
        display: inline-block;
        margin: 20px 40px;
    }
    .ph-networkHospital .ph-netHospitalLeft a svg{
        width: 8px;
        vertical-align: middle;
        margin-left: 4px;
        margin-top: -3px;
    }
    .ph-networkHospital .ph-netHospitalRight{
    width: 73%;
    }
    
    .ph-networkHospital .ph-netHospitalRight .ph-itemSlider{
        box-shadow: 0px 3px 10px #00000012;
        margin-bottom: 15px;
    }
    .ph-networkHospital .ph-netHospitalRight .ph-itemSlider .ph-hospName{
    font-size: 14px;
    font-family: "Inter-Medium";
    color: #000;
    margin-bottom: 25px;
    }
    .ph-networkHospital .ph-netHospitalRight .ph-itemSlider  a{
        font-size: 12px;
        color: #00BBF2;
        text-decoration: none;
        text-transform: uppercase;
        font-family: "Inter-Medium";
        display: inline-block;
    }
    .ph-networkHospital .ph-netHospitalRight .ph-itemSlider  a svg{
        width: 8px;
        vertical-align: middle;
        margin-left: 4px;
        margin-top: -3px;
    }
    .ph-networkHospital .ph-netHospitalRight .ph-itemSlider .ph-knwParas01{
    padding: 25px;
    }
    .ph-awardsAndRec{
        margin-top: 50px;
    }
    .ph-networkHospital .ph-netHospitalOuter{
        display: flex;
        justify-content: stretch;
        align-items: stretch;
    }

    @media only screen and (max-width: 1600px) {
        .ph-banner .ph-bannerOuter .ph-bannerLeft {
            width: 40%;
            padding: 0 8%;
        }
        
        }
        
        @media only screen and (max-width: 1400px) {
            .ph-ceofexSlider .ph-itemSlider p {
                font-size: 12px;
        }
        .ph-networkHospital .ph-netHospitalRight .ph-itemSlider .ph-hospName {
            font-size: 12px;
        }
        .ph-banner .ph-bannerOuter .ph-bannerLeft {
            width: 40%;
            padding: 0 5%;
        }
        .ph-blogs .ph-blogSlider .ph-blogSliderRight {
            width: 40%;
            padding: 0 30px;
            padding-right: 0;
        }
        .ph-blogs .ph-blogSlider .ph-blogSliderRight .ph-blogText01,
        .ph-blogs .ph-blogSlider .ph-blogSliderRight .ph-blogText02,
        .ph-blogs .ph-blogSlider .ph-blogSliderRight .ph-blogText03{
            margin-bottom: 10px;
        }
        }
        @media only screen and (max-width: 1300px) {
            .ph-ceofexSlider .ph-itemSlider p {
                font-size: 11px;
        }
        .ph-testimonial .ph-testimonialOuter .ph-testSecond01 {
            width: 39%;
        }
        
        }
        
        @media only screen and (max-width: 1050px) {
            .ph-appDoc .ph-appDocOuter .ph-appDocInner {
                padding: 20px;
            }
            .ph-networkHospital .ph-netHospitalLeft .ph-ourNetHos01 {
                font-size: 26px;
            }
            .ph-banner .ph-bannerOuter .ph-bannerLeft p {
                font-size: 25px;
            }
            .ph-appDoc .ph-appDocOuter .ph-appDocInner .ph-bookSearchLocate a:nth-child(1) {
                padding: 13px 23px;
            }
            .ph-makeDiffinP .ph-mkDiffLeft .ph-mkadiffPea {
                font-size: 25px;
            }
            .ph-atthebestpri {
                font-size: 14px;
            }
            .ph-makeDiffinP .ph-mkDiffRight .ph-mkdiffImageinner .ph-mkimagerOuter2,
            .ph-makeDiffinP .ph-mkDiffRight .ph-mkdiffImageinner .ph-mkimagerOuter1{
                margin: 5px;
            }
            .ph-makeDiffinP .ph-mkDiffRight .ph-mkdiffImageinner .ph-playLink i {
                font-size: 12px;
                width: 30px;
                height: 30px;
                padding: 10px 12px;
            }
            .ph-makeDiffinP .ph-mkDiffRight .ph-mkdiffImageinner .ph-playLink {
                font-size: 12px;
        
            }
            .ph-blogs .ph-blogSlider .ph-blogSliderRight .ph-blogText02 {
                font-size: 13px;
            }
            .ph-blogs .ph-blogSlider .ph-blogSliderRight .ph-blogText03 {
                font-size: 10px;
            }
            .ph-blogs .ph-blogSlider .ph-blogSliderRight .ph-blogsReadMore {
                font-size: 10px;
            }
            .ph-testimonial .ph-testimonialOuter .ph-testSecond01 {
                font-size: 13px;
            }
            .ph-testimonial .ph-testimonialOuter .ph-testSecond01 p:nth-child(2) {
                font-size: 12px;
            }
            .ph-testimonial .ph-testimonialOuter .ph-testFirst01 i {
                font-size: 50px;
            }
            .ph-testimonial .ph-testimonialOuter .ph-testThird01 {
                width: 20%;
            }
            .ph-awardsAndRec .ph-awardFirst .ph-awardInnerText p {
                font-size: 20px;
            }
        }
        
        @media only screen and (max-width: 800px) {
            .ph-blogs .ph-blogSlider {
                display: block;
            }
            .ph-blogs .ph-blogSlider .ph-blogSliderleft,
            .ph-blogs .ph-blogSlider .ph-blogSliderRight{
                width: 100%;
            }
            .ph-appDoc .ph-appDocOuter .ph-appDocInner .pg-bookAppText {
                font-size: 15px;
                font-family: "Inter-Bold";
            }
            .ph-appDoc .ph-appDocOuter .ph-appDocInner .ph-bookSearchLocate {
                display: block;
            }
            .ph-appDoc .ph-appDocOuter .ph-appDocInner .ph-bookSearchLocate a:nth-child(1) {
                padding: 13px 23px;
                width: 100%;
                margin-bottom: 10px;
                text-align: center;
            }
            .ph-awardsAndRec .ph-awardFirst .ph-awardInnerText p {
                font-size: 17px;
            }
            .ph-testimonial .ph-testimonialOuter .ph-testThird01 {
                width: 30%;
            }
            .ph-networkHospital .ph-netHospitalLeft a {
                margin: 10px 25px;
            }
        }
        
        @media only screen and (max-width: 700px){
            .ph-banner .ph-bannerOuter,
            .ph-appDoc .ph-appDocOuter{
                display: block;
            }
            .ph-banner .ph-bannerOuter .ph-bannerLeft,
            .ph-banner .ph-bannerOuter .ph-bannerRight,
            .ph-appDoc .ph-appDocOuter .ph-appDocInner,
            .ph-makeDiffinP .ph-mkDiffLeft,
            .ph-makeDiffinP .ph-mkDiffRight,
            .ph-networkHospital .ph-netHospitalLeft,
            .ph-networkHospital .ph-netHospitalRight,
            .ph-awardsAndRec .ph-awardFirst{
                width: 100%;
            }
            .ph-awardsAndRec .ph-awardFirst{
                margin-bottom: 30px;
            }
            .ph-awardBorderOuter{
                display: flex !important;
            }
            .ph-networkHospital .ph-netHospitalLeft{
                margin-bottom: 70px;
            }
            .ph-networkHospital .ph-netHospitalRight .ph-itemSlider .ph-knwParas01 {
                padding: 10px;
            }
            .ph-banner .ph-bannerOuter .ph-bannerLeft{
                padding: 20px;
            }
            .ph-appDoc .ph-appDocOuter .ph-appDocInner{
                margin-bottom: 20px;
            }
            .ph-ceofexSlider .ph-centerofExc {
                font-size: 18px;
            }
            .ph-container-flax,
            .ph-networkHospital .ph-netHospitalOuter{
                display: block;
            }
            .ph-makeDiffinP .ph-mkDiffLeft{
                padding-right: 0;
            }
            .ph-makeDiffinP .ph-mkDiffRight .ph-mkdiffImageinner {
                align-items: flex-end;
                display: flex;
            }
            .ph-makeDiffinP .ph-mkDiffRight{
                margin-top: 20px;
            }
            .ph-makeDiffinP .ph-mkDiffRight .ph-mkdiffImageinner .ph-playLink {
                font-size: 10px;
                bottom: 10px;
                left: 10px;
            }
            .ph-makeDiffinP .ph-mkDiffRight .ph-mkdiffImageinner .ph-playLink i {
                font-size: 10px;
                width: 20px;
                height: 20px;
                padding: 5px 7px;
            }
            .ph-networkHospital .ph-netHospitalLeft .ph-ourNetHos01 {
                font-size: 20px;
            }
            .ph-blogs .ph-blogSlider .ph-blogSliderRight {
                padding: 15px 0px;
            }
            .ph-testimonial .ph-testimonialOuter {
                justify-content: center;
                align-items: flex-start;
                display: flex;
            }
            .ph-testimonial .ph-testimonialOuter .ph-testFirst01 i {
                font-size: 25px;
            }
            .ph-testimonial .ph-testimonialOuter .ph-testSecond01 {
                width: 60%;
            }
            .ph-testimonial {
                margin-top: 30px;
            }
            .ph-testimonial .ph-testimonialOuter .ph-testThird01 {
                width: 53%;
            }
            .ph-testimonial .ph-testimonialOuter .ph-testSecond01,
            .ph-testimonial .ph-testimonialOuter .ph-testSecond01 p:nth-child(2){
                font-size: 10px;
            }
            .ph-appDoc .ph-appDocOuter .ph-appDocInner .ph-bookSearchLocate {
                display: flex;
            }
            .ph-appDoc .ph-appDocOuter .ph-appDocInner .ph-bookSearchLocate a:nth-child(1) {
                width: fit-content;
            }
            .ph-networkHospital{
                margin-top: 50px;
            }
            
        }