.doctor-section {
    width: 90%;
    margin: auto;
  }
  .doctor-section .doc-nav {
    padding-left: 20px;
    font-size: 12px;
    font-family: "Inter-Regular";
  }
  .doctor-intro {
    width: 70%;
    background-color: #f5f5f5;
    padding: 30px;
    margin: 20px 0;
  }
  .doctor-intro .doc-name {
    display: flex;
  }
  .doc-desc .dr-name {
    font-size: 24px;
    font-family: "Inter-Bold";
  }
  .doc-desc .dr-position {
    font-size: 16px;
    font-family: "Inter-Regular";
  }
  .doc-desc {
    padding: 0 15px;
  }
  .dr-position .dr-bold {
    font-family: "Inter-Bold";
  }
  .doc-desc .dr-rating {
    color: #00bbf2;
    font-family: "Inter-Bold";
    margin-top: 90px;
  
    font-size: 28px;
  }
  .dr-rating i {
    width: 18px;
  }
  .dr-rating .dr-review {
    font-size: 14px;
    color: #1e2f3f;
    font-family: "Inter-Regular";
  }
  .doc-consult {
    width: 30%;
    background-color: #b0cc82;
    padding: 30px;
    margin: 20px 0;
  }
  .doc-box {
    display: flex;
    width: 100%;
  }
  .doc-consult .opd {
    display: block;
    background-color: #1e2f3f;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    font-family: "Inter-Regular";
    width: 100%;
    padding: 10px 0;
    margin: 10px 0;
    border: none;
  }
  .doc-consult .review {
    font-family: "Inter-Regular";
    width: 100%;
    padding: 10px 0;
    margin: 10px 0;
    border: none;
    font-size: 16px;
    font-family: "Inter-Regular";
    background-color: transparent;
    border: 2px solid #1e2f3f;
  }
  .dr-abt-section {
    display: flex;
  }
  .dr-abt-left {
    width: 20%;
  }
  .dr-abt-right {
    width: 80%;
  }
  .dr-abt-section .dr-abt-left .dr-schedule {
    background-color: #d9f5fd;
    padding: 15px 15px;
    margin-bottom: 20px;
    border-bottom: 4px solid #00bbf2;
  }
  .dr-abt-section .dr-abt-left .dr-contact {
    background-color: #f5f5f5;
    padding: 20px 20px;
    border-bottom: 4px solid #00bbf2;
    margin-bottom: 20px;
  }
  .dr-abt-section .dr-abt-left .dr-schedule .dr-opd {
    font-size: 20px;
    font-family: "Inter-Bold";
  }
  .dr-abt-section .dr-abt-left .dr-contact .dr-opd {
    font-size: 20px;
    font-family: "Inter-Bold";
  }
  .dr-abt-section .dr-abt-left .dr-contact .dr-app-ph-img{
    width: 50px;
    margin-bottom: 15px;
  }
  .dr-abt-section .dr-abt-left .dr-contact .ph-bookAppointment01{
    width: 100%;
    text-decoration: none;
    color: #fff;
    margin-top: 10px;
  }
  .dr-abt-section .dr-opd-name {
    font-size: 14px;
    font-family: "Inter-Bold";
  }
  .dr-abt-section ul.dr-opd-name{
    list-style: none;
    padding: 0;
    font-family: "Inter-Medium";
    
  }
  .dr-abt-section ul.dr-opd-name li a{
      color: #000;
      text-decoration: none;
  }
  .dr-opd-name .time {
    font-size: 14px;
    font-family: "Inter-Regular";
    color: #000;
  }
  
  .set {
    position: relative;
    width: 100%;
    height: auto;
    padding: 15px 20px;
  }
  .set > a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #000000;
    font-size: 24px;
    font-family: "Inter-Bold";
  
    border-bottom: 1px solid #ddd;
    /* -webkit-transition:all 0.2s linear;
      -moz-transition:all 0.2s linear;
      transition:all 0.2s linear; */
  }
  .set > a i {
    float: right;
    margin-top: 2px;
    font-size: 16px;
  }
  /* .set > a.active{
      background-color:#3399cc;
      color: #fff;
    } */
  .content {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    display: none;
  }
  .content p {
    font-size: 16px;
    font-family: "Inter-Regular";
  
    padding: 10px 15px;
    margin: 0;
    color: #000000;
  }
  .dr-contact .review {
    font-family: "Inter-Regular";
    width: 100%;
    padding: 10px 0;
    margin: 10px 0;
    border: none;
    font-size: 16px;
    font-family: "Inter-Regular";
    background-color: transparent;
    border: 2px solid #1e2f3f;
  }
  
  .dr-patient {
    background-color: #f5f5f5;
    padding: 20px;
    padding: 30px;
    margin: 50px 0 50px 20px;
  }

  
  .dr-patient .comment .p-comment {
    font-size: 20px;
    font-family: "Inter-Bold";
    margin-bottom: 30px;
  }

  .dr-patient .ph-departBlogs .ph-dprtBlogsInner img{
      width: 80px;
  }
  .dr-patient .ph-departBlogs .ph-dprtBlogsInner p{
      font-size: 14px;
      color: #1E2F3F;
      font-family: "Inter-Regular";
      padding: 10px;

  }
  .dr-patient .comment .ph-departViewAll{
    font-size: 12px;
    color: #00BBF2;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Inter-Medium";
    margin-top: 30px;
    display: inline-block;
  }
  .commentbox-1 .dr-rating .customer-img {
    display: flex;
    padding: 15px 0;
  }
  .commentbox-1 {
    padding: 20px;
    margin: 20px 0;
  }
  .dr-rating .cust-review {
    padding: 0 10px;
  }
  .dr-patient .review {
    font-family: "Inter-Regular";
    /* width: 100%; */
    padding: 12px 20px;
    margin: 10px 0;
    border: none;
    font-size: 16px;
    color: white;
    font-family: "Inter-Regular";
    background-color: #1e2f3f;
    border: 2px solid #1e2f3f;
  }
  .dr-patient .one {
    font-family: "Inter-Regular";
    /* width: 100%; */
    padding: 12px 20px;
    margin: 10px 0;
    border: none;
    font-size: 16px;
    color: white;
    font-family: "Inter-Regular";
    background-color: #1e2f3f;
    border: 2px solid #1e2f3f;
  }
  .dr-patient .button-group .page {
    font-family: "Inter-Regular";
    /* width: 100%; */
    padding: 12px 20px;
    margin: 10px 0;
    border: none;
    font-size: 16px;
    color: #1e2f3f;
    font-family: "Inter-Regular";
    border: 1px solid #1e2f3f;
  }
  
  .dr-patient .button-group .page {
    margin: 0 10px;
  }
  
  .comment .dr-rating {
    font-size: 28px;
    font-family: "Inter-Bold";
  
    color: #00bbf2;
  }
  .dr-rating .dr-review {
    font-size: 12px;
    font-family: "Inter-Regular";
    color: #1e2f3f;
  }
  .cust-review .cust-name {
    font-size: 15px;
    font-family: "Inter-Medium";
    color: #000000;
  }
  
  .cust-review .cust-words {
    font-size: 14px;
    font-family: "Inter-Regular";
    color: #1e2f3f;
    opacity: 1;
  }
  .cd-rightMainDiv {
    padding-left: 30px;

}
.cd-rightMainDiv .cd-aboutCanText{
    font-size: 24px;
    font-family: "Inter-Bold";
    color: #000;
    margin-bottom: 20px;
}
.cd-rightMainDiv .cd-theGrowthText{
font-size: 16px;
font-family: "Inter-Regular";
color: #000;
margin-bottom: 20px;
}
.cd-rightMainDiv .cd-bccdiv{
    background-color: #F5F5F5;
    padding: 20px;
    
}
.cd-rightMainDiv .cd-bccdText{
    font-size: 20px;
    font-family: "Inter-Bold";
    color: #000;
    margin-bottom: 20px;
}
.cd-rightMainDiv hr{
    margin: 3rem 0;
}
.cd-rightMainDiv .cd-bccd001{
    width: 33%;
    display: inline-block;
    margin-bottom: 20px;
    padding-right: 20px;
    
}
.cd-rightMainDiv .cd-bccd001 div{
    justify-content: flex-start;
    align-items: flex-start;
}
.cd-rightMainDiv .cd-bccd001 p{
    font-size: 15px;
    font-family: "Inter-Medium";
    color: #000000;
    margin: 0;
}
.cd-rightMainDiv .cd-bccd001 img{
    width: 30px;
    margin-right: 10px;
}
.cd-symhowTo .cd-symhowtoOuter{
    width: 48%;
    border-bottom: 1px solid #ddd;
    margin-bottom: 40px;
    padding-bottom: 40px;
}
.cd-symhowTo .cd-symhowtoOuter .cd-sympBgColor{
    background-color: #00bbf2;
    padding: 25px;
    justify-content: space-around;
    margin-bottom: 20px;
}
.cd-symhowTo .cd-symhowtoOuter .cd-sympBgColor img{
    width: 150px;
}
.cd-symhowTo .cd-symhowtoOuter .cd-sympBgColor p{
    font-size: 20px;
    font-family: "Inter-Bold";
    color: #000;
    margin: 0;
}
.cd-symhowTo .cd-symhowtoOuter .cd-secondFlax{
    display: inline-block;
    width: 49%;
    margin-bottom: 20px;
}
.cd-symhowTo .cd-symhowtoOuter .cd-secondFlax .ph-link{
text-decoration: none;
}
.cd-symhowTo .cd-symhowtoOuter .cd-thirdFlax{
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}
.cd-symhowTo .cd-symhowtoOuter .cd-thirdFlax p{
    font-size: 15px;
    font-family: "Inter-Medium";
    color: #000000;
    margin: 0;
    width: 92%;

}
.cd-symhowTo .cd-symhowtoOuter .cd-thirdFlax img{
    width: 8%;
    margin-right: 10px;
}
  /* Media query */
  @media only screen and (max-width: 1400px) {
  }
  
  @media only screen and (max-width: 1050px) {
    .dr-patient .ph-departBlogs .ph-dprtBlogsInner {
        display: block;
        text-align: center;
        padding: 10px;
      }
  }
  
  @media only screen and (max-width: 800px) {
    .doc-box {
      display: flex;
      flex-direction: column;
      
    }
    .doctor-intro {
      width: 100%;
      background-color: #f5f5f5;
      padding: 30px;
      /* margin: 20px 0; */
    }
  
    .doctor-intro .doc-name .dr-rating{
      margin-top: 0px;
      
    }
    .doc-consult{
      width: 100%;
    }
  
  }
  @media only screen and (max-width: 770px) {
    .doctor-intro .doc-name{
      display: block;
      text-align: center;
      
    }
    .doc-desc{
      margin-top: 20px;
    }
    .dr-abt-section{
      display: flex;
      flex-direction: column;
      width: 100%;
    }
   .dr-abt-left{
     display: flex;
     width: 100%;
   }
   .dr-abt-left .dr-schedule{
     width: 50%;
   }
   .dr-abt-left .dr-contact{
    width: 50%;
  }
  .dr-abt-right{
    width: 100%;
  }
  .dr-patient .review {
   width: 100%;
  
  }
  .button-group {
    float: none !important;
    margin: 0 10px;
  }
  .set > a {
    font-size: 16px;
  }
  }

  @media only screen and (max-width: 600px) {
    .tabbable-panel{
      margin-left: 0px;
  }
    .dr-patient .ph-departBlogs .ph-dprtBlogsInner {
        display: flex;
        text-align: center;
        padding: 10px;
    }
    .dr-patient .ph-departBlogs{
        display: block;
    }
    .dr-patient{
        margin: 50px 0;
    }
    .dr-abt-left{
        display: block;
    }
    .dr-abt-left .dr-contact {
        width: 100%;
    }
    .cd-rightMainDiv .cd-bccd001 {
        width: 100%;

    }
    .cd-symhowTo{
        display: block;
    }
    .cd-symhowTo .cd-symhowtoOuter {
        width: 100%;
    }
    .cd-rightMainDiv {
        padding-left: 0px;
    }
  }