<section class="ph-banner">
    <div class="ph-bannerOuter" [style.background] = "bgColor ? bgColor : '#B0CC82'">
        <div class="ph-container">
        <div class="ph-bannerLeft">
            <p [style.color] = "textColor ? textColor : '#000'">{{name}}</p>
        </div>
        <div class="ph-bannerRight">
            <img src="{{image}}" alt="" width="100%">
        </div>
    </div>
    </div>
</section>
