<app-title-banner [name]="customTitle" [image]="customImage" [bgColor]="customColor">
</app-title-banner>
<section class="ph-container ph-beardCIcons">
    <div class="ph-container-flax beardCIconsOuter">
        <div class="ph-beardCIconsLeft">
            <nav class="rank-math-breadcrumb-example">
                <p>
                    <a href="/">Home</a>
                    <span class="separator"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                    <span>Special Clinics</span>

                </p>
            </nav>
        </div>
    </div>
</section>
<div class="doctor-section">
    <div class="dr-abt-section">
        <div class="dr-abt-left">
            <div class="dr-contact">
                <p class="dr-opd">About us</p>
                <ul class="dr-opd-name">
                    <li>
                        Our Ideology</li>
                    <li> Managing Director’s Message</li>
                    <li>Management Team</li>
                    <li>Our Achievements</li>
                    <li> Group Companies</li>
                </ul>
            </div>
        </div>
        <div class="dr-abt-right ">
            <h4 class="right-details">Paras Healthcare provides specialised clinical programs to deliver expert medical care for major
                ailments. The specialised clinics are headed and suppoted by a team of doctors of national and
                international repute ensuring that the best medical solutions for treatment and management are delivered
                to you. Paras Healthcare specialised clinics include ailments associted with neurology, spine services,
                sexual health, urology, nephrology and cardiology.</h4>

               <div class="content-img-section">
                <h2 class="content-title">
                    Paras Hospitals Gurgaon - Special Clinic
                </h2>
               
               <a href="javascript:void(0);"> <img src="assets/images/image1.png" alt=""></a>
               <a href="javascript:void(0);"> <img src="assets/images/image2.png" alt=""></a>
               <a href="javascript:void(0);"> <img src="assets/images/image3.png" alt=""></a>
               <a href="javascript:void(0);"> <img src="assets/images/image4.png" alt=""></a>
               <a href="javascript:void(0);"> <img src="assets/images/image5.png" alt=""></a>
               <a href="javascript:void(0);"> <img src="assets/images/image6.png" alt=""></a>

               

            </div>
            <div class="content-img-section">
                <h2 class="content-title">
                    Paras Hmri Hospital Patna - Special Clinic
                </h2>
               
               <a href="javascript:void(0);"> <img src="assets/images/image7.png" alt=""></a>
               <a href="javascript:void(0);"> <img src="assets/images/image8.png" alt=""></a>
               <a href="javascript:void(0);"> <img src="assets/images/image9.png" alt=""></a>
               <a href="javascript:void(0);"> <img src="assets/images/image10.png" alt=""></a>
              
               

            </div>
        </div>
    </div>