
.ph-treatment-list-section{ padding-bottom: 3rem;}
.ph-treatment-block{ margin-bottom: 10px;}
.ph-treatment-block .block--title{ font-family: "Inter-Bold"; background-color: #D9F5FD; padding: 10px 40px; font-size: 18px; color: #000000; display: flex; align-items: center; line-height: normal;}
.ph-treatment-block .block--title .icon{ margin-right: 15px; width: 48px; flex-basis: 48px; flex-grow: 0; flex-shrink: 0;}
.ph-treatment-block .block--title .icon img{ border-radius: 50%; width: 100%;}
.ph-treatment-block .treatments-list-container ul{ margin: 0 -5px; display: flex; flex-wrap: wrap; padding: 5px 0; list-style: none;}
.ph-treatment-block .treatments-list-container ul li{ width: 33.33%; padding: 5px; text-align: center; font-size: 14px; color: #000;}
.ph-treatment-block .treatments-list-container ul li a{ display: flex; align-items: center; justify-content: center; width: 100%; line-height: normal; height: 100%; text-decoration: none; background-color: #F5F5F5; color: inherit; padding:18px 10px;}

@media screen and (max-width:767px){
.ph-treatment-block .block--title{padding: 10px 20px; font-size: 16px;}
.ph-treatment-block .treatments-list-container ul li{ width: 50%; font-size: 13px;}
}