<app-title [name]="customTitle"></app-title>

<!-- common -->
<section class="ph-container ph-beardCIcons">
    <div class="ph-container-flax beardCIconsOuter">
        <div class="ph-beardCIconsLeft">
            <nav class="rank-math-breadcrumb-example">
                <p>
                <a href="/">Home</a>
                <span class="separator"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                <span>Treatments And Procedures</span>
                </p>
            </nav>
        </div>
        <div class="ph-beardCIconsRight">
            <a href="javascript:void(0);">
                <i class="fa fa-facebook-square" aria-hidden="true"></i>
            </a>
            <a href="javascript:void(0);">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="javascript:void(0);">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
            <a href="javascript:void(0);">
                <i class="fa fa-youtube-play" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</section>
<!-- common ends -->

<section class="ph-treatment-list-section">
    <div class="ph-container">
        <div class="ph-treatment-block">
            <div class="block--title">
                <div class="icon"><img src="assets/images/icons/cardiac-sciences-icon.jpg" alt=""></div>
                Cardiac Sciences
            </div>
            <div class="block--body">
                <div class="treatments-list-container">
                    <ul>
                        <li>
                            <a href="#">Ventricular Assist Devices (Vads)</a>
                        </li>
                        <li>
                            <a href="#">Tilt Table Test</a>
                        </li>
                        <li>
                            <a href="#">Stress Test</a>
                        </li>
                        <li>
                            <a href="#">Pacemaker</a>
                        </li>
                        <li>
                            <a href="#">Nuclear Stress Test</a>
                        </li>
                        <li>
                            <a href="#">Neonatal And Pediatric Heart Surgery</a>
                        </li>
                        <li>
                            <a href="#">Carotid Angioplasty And Stenting</a>
                        </li>
                        <li>
                            <a href="#">Electrocardiogram (Ecg Or Ekg)</a>
                        </li>
                        <li>
                            <a href="#">Echocardiogram</a>
                        </li>
                        <li>
                            <a href="#">Implantable Cardioverter-Defibrillator (Icds)</a>
                        </li>
                        <li>
                            <a href="#">Holter Monitor</a>
                        </li>
                        <li>
                            <a href="#">Heart Scan (Coronary Calcium Scan)</a>
                        </li>
                        <li>
                            <a href="#">Ct Coronary Angiogram</a>
                        </li>
                        <li>
                            <a href="#">Coronary Bypass Surgery</a>
                        </li>
                        <li>
                            <a href="#">Coronary Angioplasty And Stents</a>
                        </li>
                        <li>
                            <a href="#">Coronary Angiogram</a>
                        </li>
                        <li>
                            <a href="#">Cholesterol Test</a>
                        </li>
                        <li>
                            <a href="#">Cardioversion</a>
                        </li>
                        <li>
                            <a href="#">Cardiac Catheterization</a>
                        </li>
                        <li>
                            <a href="#">Cardiac Ablation</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="ph-treatment-block">
            <div class="block--title">
                <div class="icon"><img src="assets/images/icons/nephrology-icon.jpg" alt=""></div>
                Nephrology (Kidney) &amp; Urology
            </div>
            <div class="block--body">
                <div class="treatments-list-container">
                    <ul>
                        <li>
                            <a href="#">Tur-P (Transurethral Resection Of Prostate)</a>
                        </li>
                        <li>
                            <a href="#">Pvp (Photoselective Vaporization Of Prostate)</a>
                        </li>
                        <li>
                            <a href="#">Treatment Of Kidney Failure</a>
                        </li>
                        <li>
                            <a href="#">Medication &amp; Treatment Of Ckd</a>
                        </li>
                        <li>
                            <a href="#">Kidney Transplantation</a>
                        </li>
                        <li>
                            <a href="#">Healthcare For Ckd Patients</a>
                        </li>
                        <li>
                            <a href="#">Chronic Kidney Disease Program</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="ph-treatment-block">
            <div class="block--title">
                <div class="icon"><img src="assets/images/icons/neurosciences-icon.jpg" alt=""></div>
                Neurosciences
            </div>
            <div class="block--body">
                <div class="treatments-list-container">
                    <ul>
                        <li>
                            <a href="#">Vagus Nerve Stimulation</a>
                        </li>
                        <li>
                            <a href="#">Transcranial Magnetic Stimulation</a>
                        </li>
                        <li>
                            <a href="#">Skull Base Surgery</a>
                        </li>
                        <li>
                            <a href="#">Sclerotherapy</a>
                        </li>
                        <li>
                            <a href="#">Radiofrequency Neurotomy</a>
                        </li>
                        <li>
                            <a href="#">Interventional Neuroradiology</a>
                        </li>
                        <li>
                            <a href="#">Mri Scan</a>
                        </li>
                        <li>
                            <a href="#">Endovascular Neurosurgery</a>
                        </li>
                        <li>
                            <a href="#">Electromyography</a>
                        </li>
                        <li>
                            <a href="#">Electroconvulsive Therapy (Ect)</a>
                        </li>
                        <li>
                            <a href="#">Electroencephalogram</a>
                        </li>
                        <li>
                            <a href="#">Discogram</a>
                        </li>
                        <li>
                            <a href="#">Deep Brain Stimulation</a>
                        </li>
                        <li>
                            <a href="#">Ct Scan</a>
                        </li>
                        <li>
                            <a href="#">Cranioplasty &amp; Craniotomy</a>
                        </li>
                        <li>
                            <a href="#">Cerebral Angiogram</a>
                        </li>
                        <li>
                            <a href="#">Carotid Ultrasound</a>
                        </li>
                        <li>
                            <a href="#">Brain Aneurysm Surgery</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="ph-treatment-block">
            <div class="block--title">
                <div class="icon"><img src="assets/images/icons/plastic-surgery-icon.jpg" alt=""></div>
                Plastic (Cosmetic) Surgery &amp; Dermatology (Skin)
            </div>
            <div class="block--body">
                <div class="treatments-list-container">
                    <ul>
                        <li>
                            <a href="#">Alopecia Treatment</a>
                        </li>
                        <li>
                            <a href="#">Psoriasis Treatment</a>
                        </li>
                        <li>
                            <a href="#">Vitiligo Treatment</a>
                        </li>
                        <li>
                            <a href="#">Scar Treatment</a>
                        </li>
                        <li>
                            <a href="#">Acne Treatment</a>
                        </li>
                        <li>
                            <a href="#">Hair Transplant</a>
                        </li>
                        <li>
                            <a href="#">Chin Surgery</a>
                        </li>
                        <li>
                            <a href="#">Laser Resurfacing</a>
                        </li>
                        <li>
                            <a href="#">Laser Hair Removal</a>
                        </li>
                        <li>
                            <a href="#">Tattoo Removal</a>
                        </li>
                        <li>
                            <a href="#">Co2 Laser</a>
                        </li>
                        <li>
                            <a href="#">Botox</a>
                        </li>
                        <li>
                            <a href="#">Mole Removal</a>
                        </li>
                        <li>
                            <a href="#">Rhinoplasty</a>
                        </li>
                        <li>
                            <a href="#">Otoplasty</a>
                        </li>
                        <li>
                            <a href="#">Liposuction</a>
                        </li>
                        <li>
                            <a href="#">Hand Surgery</a>
                        </li>
                        <li>
                            <a href="#">Gynecomastia Surgery</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="ph-treatment-block">
            <div class="block--title">
                <div class="icon"><img src="assets/images/icons/orthopaedics-icon.jpg" alt=""></div>
                Orthopaedics &amp; Joint Replacement
            </div>
            <div class="block--body">
                <div class="treatments-list-container">
                    <ul>
                        <li>
                            <a href="#">Spinal Fusion</a>
                        </li>
                        <li>
                            <a href="#">Rheumatoid Factor</a>
                        </li>
                        <li>
                            <a href="#">Lumbur Puncture (Spinal Tap)</a>
                        </li>
                        <li>
                            <a href="#">Knee Replacement</a>
                        </li>
                        <li>
                            <a href="#">Knee Osteotomy</a>
                        </li>
                        <li>
                            <a href="#">Knee Braces For Osteoarthritis</a>
                        </li>
                        <li>
                            <a href="#">Hip Replacement</a>
                        </li>
                        <li>
                            <a href="#">Diskectomy</a>
                        </li>
                        <li>
                            <a href="#">Chiropractic Adjustment</a>
                        </li>
                        <li>
                            <a href="#">Chiari Malformation Surgery</a>
                        </li>
                        <li>
                            <a href="#">Bone Scan</a>
                        </li>
                        <li>
                            <a href="#">Bone Density Test</a>
                        </li>
                        <li>
                            <a href="#">Arthroscopy</a>
                        </li>
                        <li>
                            <a href="#">Ankle – Brachial Index</a>
                        </li>
                        <li>
                            <a href="#">Acl Reconstruction</a>
                        </li>
                        <li>
                            <a href="#">Radiofrequency Neurotomy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="ph-treatment-block">
            <div class="block--title">
                <div class="icon"><img src="assets/images/icons/orthopaedics-icon.jpg" alt=""></div>
                Spine Services
            </div>
            <div class="block--body">
                <div class="treatments-list-container">
                    <ul>
                        <li>
                            <a href="#">Minimally Invasive Spine Surgery</a>
                        </li>
                        <li>
                            <a href="#">Slip Disc Treatment</a>
                        </li>
                        <li>
                            <a href="#">Scoliosis Surgery</a>
                        </li>
                        <li>
                            <a href="#">Vertebroplasty</a>
                        </li>
                        <li>
                            <a href="#">Kyphoplasty</a>
                        </li>
                        <li>
                            <a href="#">Spinal Decompression</a>
                        </li>
                        <li>
                            <a href="#">Laminectomy</a>
                        </li>
                        <li>
                            <a href="#">Lumbar Discectomy</a>
                        </li>
                        <li>
                            <a href="#">Spinal Stenosis Treatment</a>
                        </li>
                        <li>
                            <a href="#">Disc Replacement Surgery</a>
                        </li>
                        <li>
                            <a href="#">Cervical Discectomy</a>
                        </li>
                        <li>
                            <a href="#">Microdiscectomy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
