<div class="dr-abt-right">
  <div class="set">
    <a href="javascript:void(0);">
      The standard Lorem Ipsum message?
      <i class="fa fa-plus"></i>
    </a>
    <div class="content">
      <p>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
        illo inventore veritatis et quasi architecto beatae vitae dicta sunt
        explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
        odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
        voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum
        quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam
        eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat
        voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam
        corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
        Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse
        quam nihil molestiae consequatur, 
       <br><br> vel illum qui dolorem eum fugiat quo
        voluptas nulla pariatur? Sed ut perspiciatis unde omnis iste natus error
        sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
        eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae
        vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
        aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos
        qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui
        dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia
        non numquam eius modi tempora incidunt ut labore et dolore magnam
        aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum
        exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea
        commodi consequatur?
      </p>
    </div>
  </div>
  <div class="set">
    <a href="javascript:void(0);">
        Sed ut perspiciatis unde omnis iste natus error sit?
      <i class="fa fa-plus"></i>
    </a>
    <div class="content">
      <p>
        This is the second-most common oral health issue that can make your life
        miserable. In general, there is no symptom of the cavity. This is the
        condition in which most of the time people cannot understand that their
        tooth is damaged until they visit their dentist. However, a prevalent
        symptom of the cavity is having a tooth that becomes sensitive to cold
        and hot or sweet dishes. A kind of sensation can be felt whenever you
        eat or drink such types of foods.
       
      </p>
    </div>
  </div>
  <div class="set">
    <a href="javascript:void(0);">
        Voluptate velit esse quam nihil molestiae consequatur?
      <i class="fa fa-plus"></i>
    </a>
    <div class="content">
      <p>
        Bacteria in the mouth are the main cause of getting cavities. Apart from
        that eating starch diet is another cause.
      </p>
    </div>
  </div>
  <div class="set">
    <a href="javascript:void(0);">
        Quis autem vel eum iure reprehenderit?
      <i class="fa fa-plus"></i>
    </a>
    <div class="content">
      <p>
        Maintain the oral hygiene by regular brushing and flossing your teeth to
        get rid of the cavity. Avoid consuming sugary foods and drinks. You can
        go for dental sealants as well.
      </p>
    </div>
  </div>
  <div class="set">
    <a href="javascript:void(0);">
        Ut enim ad minima veniam, quis nostrum exercitationem?
      <i class="fa fa-plus"></i>
    </a>
    <div class="content">
      <p>
        Maintain the oral hygiene by regular brushing and flossing your teeth to
        get rid of the cavity. Avoid consuming sugary foods and drinks. You can
        go for dental sealants as well.
      </p>
    </div>
  </div>
  <!-- <div class="dr-patient">
                      <div class="comment">
                          <h3 class="p-comment">Related Blogs</h3>
                          <div class="ph-departBlogs ph-container-flax">
                              <div class="ph-deprtBlogsOuter ">
                                  <div class="ph-dprtBlogsInner ph-container-flax">
                                      <img src="assets/images/prelz21a.png" alt="">
                                      <p>Vaccines and functional neurological disorder: A complex story, say experts</p>
                                  </div>
                                  
                              </div>
                              <div class="ph-deprtBlogsOuter ">
                                  <div class="ph-dprtBlogsInner ph-container-flax">
                                      <img src="assets/images/7dhmffn6.png" alt="">
                                      <p>Vaccines and functional neurological disorder: A complex story, say experts</p>
                                  </div>
                                  
                              </div>
                              <div class="ph-deprtBlogsOuter ">
                                  <div class="ph-dprtBlogsInner ph-container-flax">
                                      <img src="assets/images/fy1pjwz8.png" alt="">
                                      <p>Vaccines and functional neurological disorder: A complex story, say experts</p>
                                  </div>
                                  
                              </div>
                          </div>
                          <a class="ph-departViewAll ph-link" href="javascript:void(0);">View All <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" class="svg-inline--fa fa-chevron-right fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"></path></svg></a>
                      </div>
      
                  </div> -->
</div>
