.set {
    position: relative;
    width: 100%;
    height: auto;
    padding: 15px 0px;
  }
  .set > a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    font-family: "Inter-Bold";
    background-color: #F5F5F5;
  
    /* border-bottom: 1px solid #ddd; */
    /* -webkit-transition:all 0.2s linear;
      -moz-transition:all 0.2s linear;
      transition:all 0.2s linear; */
  }
  .set > a i {
    float: right;
    margin-top: 2px;
    font-size: 16px;
  }
  /* .set > a.active{
      background-color:#3399cc;
      color: #fff;
    } */
  .content {
    background-color: #fff;
    /* border-bottom: 1px solid #ddd; */
    display: none;
  }
  .content p {
    font-size: 16px;
    font-family: "Inter-Regular";
  
    padding: 10px 15px;
    margin: 0;
    color: #000000;
  }