.blog-section{
    width: 90%;
    margin: auto;
    display: flex;
}
.dr-contact{
    background-color: #f5f5f5;
    padding: 20px 20px;
    border-bottom: 4px solid #00bbf2;
    margin-bottom: 20px;
    
}
.blog-section-left{
    width: 20%;
}

.dr-contact .dr-opd {
    font-size: 20px;
    font-family: "Inter-Bold";
  }

  .dr-opd-name{
    list-style: none;
    padding: 0;
    font-family: "Inter-Medium";
    font-size: 12px;
    
  }
  .dr-opd-name li a{
      color: #000;
      text-decoration: none;
  }
  .blog-section-right{
      width: 80%;
      /* background-color: aquamarine; */
      padding: 0 20px;
      
      
  }
  .blog-section-right .blog-card-details{
      display: flex;
      justify-content: space-evenly;
  }

  .blog-section-right .blog-card{
    width: 430px;
    margin: 20px 10px;
    background-color: #f5f5f5;


    
  }
  .blog-card .blog-img{
      width: 100%;
  }
  
  
  .blog-section-right .blog-details{
      padding: 15px;

  }
  .blog-details .blog-date{
      font-size: 12px;
      font-family: "Inter-Medium";
  }
  .blog-details .blog-desc-name{
      font-size: 24px;
      font-family: "Inter-Bold";
  }
  .blog-details .blog-dr-name{
      padding-top:30px ;
      font-size: 16px;
      font-family: "Inter-Bold";


  }
  .blog-details .blog-dr-posit{
      font-size: 16px;
      font-family: "Inter-regular";
      margin: 0;
  }

  .blog-details .blog-dr-location{
    font-size: 14px;
    font-family: "Inter-regular";
}
.blog-details .read-more{
    border: none;
    background-color: none;
    border: 1px solid #1E2F3F;
    padding: 10px 16px;
    font-size: 14px;
    color: inherit;
    text-decoration: none; 
    display: inline-block;
}

.one {
    font-family: "Inter-Regular";
    /* width: 100%; */
    padding: 12px 20px;
    margin: 10px 0;
    border: none;
    font-size: 16px;
    color: white;
    font-family: "Inter-Regular";
    background-color: #1e2f3f;
    border: 2px solid #1e2f3f;
  }
 .button-group .page {
    font-family: "Inter-Regular";
    /* width: 100%; */
    padding: 12px 20px;
    
    border: none;
    font-size: 16px;
    color: #1e2f3f;
    font-family: "Inter-Regular";
    border: 1px solid #1e2f3f;
  }
  
.button-group .page {
    margin: 0 10px;
  }
  .result{
      padding: 0 50px;
      margin-bottom: 20px;
  }
.result .blog-result{
    font-size: 14px;
    font-family: "Inter-Regular";
}

/* Media query */
@media only screen and (max-width: 1400px) {
}

@media only screen and (max-width: 1250px) {

    .blog-section-right .blog-card-details{
        display: block;
       
        
    }
    .blog-card .blog-img img{
        width: 100%;
    }
    .blog-section-right .blog-card{
        width: 100%;
        margin: 20px 10px;
        background-color: #f5f5f5;
    
    
        
      }
  
}

@media only screen and (max-width: 768px) {
    .blog-section{
       
        display: block;
    }
    .blog-section-left{
        width: 100%;
        text-align: center;
        text-align: start;
    }
    .blog-section-right{
        width: 100%;
    }

}
@media only screen and (max-width: 650px) {
    .result{
        display: flex;
        flex-direction: column;
    }
    .button-group .page{
        margin: 0 3px;
    }
    
}