<app-title-banner
  [name]="customTitle"
  [image]="customImage"
  [bgColor]="customColor"
  [textColor]="customTextColor"
>
</app-title-banner>
<section class="ph-container ph-beardCIcons">
  <div class="ph-container-flax beardCIconsOuter">
    <div class="ph-beardCIconsLeft">
      <nav class="rank-math-breadcrumb-example">
        <p>
          <a href="/">Home</a>
          <span class="separator"
            ><i class="fa fa-angle-right" aria-hidden="true"></i
          ></span>
          <span>Cancer Care</span>
          <span class="separator"
            ><i class="fa fa-angle-right" aria-hidden="true"></i
          ></span>
          <span>Survior Story</span>
        </p>
      </nav>
    </div>
  </div>
</section>

<div class="doctor-section">
  <div class="dr-abt-section">
    <div class="dr-abt-left">
      <div class="dr-contact">
        <p class="dr-opd">Testimonials</p>
        <ul class="dr-opd-name">
          <li>Kumud Verma</li>
          <li>Pramod</li>
          <li>Abhinab Kumar</li>
          <li>Pramila Kumari</li>
        </ul>
      </div>
    </div>
    <div class="dr-abt-right cd-rightMainDiv">
      <p class="cd-aboutCanText">Survior Story: Kumud Verma</p>
      <p class="cd-theGrowthText">
        TONGUE CANCER TREATMENT GIVES NEW VOICE TO EARLY DETECTION.
      </p>
      <div class="cd-bccdiv">
        <div class="cd-left-details">
            <div class="cust-desc">
          <h2>Patient name:</h2> 
          <h2>Treatment name:</h2> 
          <h2>Doctor Name:</h2>
        
          </div>
          <div class="cust-words">
            <p>Kumud Verma</p>
            <p>Oral Cancer Treatment</p> 
            <p
            >Dr. Rajeev Sharan Sr Consultant Surgical Oncology, Chief Head &
            Neck Cancer, Paras Cancer Centre, Patna</p>
          </div>
        </div>

        <div class="cd-right-details">
          <img src="assets/images/female2.png" alt="" />
        </div>
      </div>
      <div class="cd-review">
        <p class="name-desc">
          Kumud Verma was an exceptionally active lady. Even at an age of 67
          yrs, she would end up doing the entire house hold work and would
          single handedly take care of her grandchildren. Regarded as the most
          responsible and physically fit, she ensured that nothing stops her.
          “It is best to remain active. It is a saying in our village that the
          minute you are bed ridden, you become a burden for your family,
          “exclaims Kumud.
        </p>

        <p class="name-desc">
          But all her beliefs and everyday practices were to change when a few
          months back she started to complain of severe pain in her mouth and
          tongue region. She thought it might be because of the spicy food or
          due to an ulcer. She consulted a local dentist, but the prescribed
          medicines gave her no relief. For 6 months she battled the pain. “It
          was as if my tongue had swollen. I couldnt’t eat or chew anything.
        </p>

        <p class="name-desc">
          I was on a liquid diet and ended up losing a lot of weight.” Concerned
          about the situation of his mother, Hemant, Kumud’s son who works in
          Patna, decided to get her from Siwan and decided to consult a
          specialist at Paras HMRI hospital, Patna.
        </p>
        <hr />
        <div class="patient-quote text-center">
          <img src="assets/images/quotes1.png" alt="" />
          <h2 class="pq-desc">
            Even After Consulting All The Doctors Near Our Village, My Mother
            Could Not Get Relief. I Guessed That It Is More Than Just An Ulcer
            Or Tooth Pain.
          </h2>
          <p class="pq-name">- Kumud Verma</p>
          <p class="name-desc">
            At Paras Patna, Dr Rajeev Sharan, Sr Consultant Surgical Oncology
            Chief of Head & Neck Oncology, recommended a biopsy of the tongue
            growth. The results highlighted a squamous cell carcinoma on
            examination.
          </p>
        </div>
        <hr />
        <div class="patient-quote text-center">
          <img src="assets/images/quotes1.png" alt="" />
          <h2 class="pq-desc">
            Kumud Is An Exceptional Case. With No History Of Tobacco Chewing,
            Smoking Or Any Family History Of Oral Cancer, Kumud Developed A
            Large Carcinoma On Her Tongue.
          </h2>
          <p class="pq-name">- According to Dr Rajeev Sharan</p>
          <p class="name-desc">
            The size of the tumor was 8 cm and she was just able to close her
            mouth due to large size of the tumor. The tumor involved anterior
            2/3rd of the tongue. Post discussion with the tumor board of the
            hospital, it was decided that more than the 2/3rd of the tongue
            which has the tumor would be removed with wide margin with bilateral
            neck dissection and reconstruction would be done at the same
            time.”Reconstruction is the key to post op rehabilitation. Modern
            technique of free flap reconstructionhas revolutionised the
            management of oral cancer and has improved quality of life
            remarkedly, as these patients can speak and take oral diet postop.
          </p>

          <p class="name-desc">
            When Kumud was explained her condition, the risks associated with
            the same and the reconstruction that would follow, she was worried.
            “I kept on asking God, why he has punished me. Also I kept on
            blaming myself for avoiding a specialist’s consultation. Had I come
            to Patna earlier, the situation could have been better.”
            Apprehensive and scared Kumud and her family consented for the
            recommended procedures.
          </p>
          <p class="name-desc">
            During the operation, more than 2/3rd of the tongue was removed and
            reconstruction of the same was done with radial forearm free flap.
            Her results were promising and she resumed eating food orally 2
            weeks post surgery. Today Kumud’s days have changed.
          </p>
        </div>
        <hr />
        <div class="patient-quote text-center">
          <img src="assets/images/quotes1.png" alt="" />
          <h2 class="pq-desc">
            I Am No Longer In Pain And Discomfort. Moreover I Can Speak Again
            And Take Oraly. I Consider My Condition A Minor Bump In My Life And
            I Also Consider It As A Lesson – Don’t Take Yourself Or Your Health
            For Granted.
          </h2>
          <p class="pq-name">- Kumud Verma</p>
          <p class="name-desc">
            At Paras Patna, Dr Rajeev Sharan, Sr Consultant Surgical Oncology
            Chief of Head & Neck Oncology, recommended a biopsy of the tongue
            growth. The results highlighted a squamous cell carcinoma on
            examination.
          </p>
        </div>
      </div>

      <!-- <div class="cd-symhowTo ph-container-flax" style="align-items: stretch;">
                <div class="cd-symhowtoOuter">
                    <div class="cd-sympBgColor ph-container-flax">
                        <img src="assets/images/symp02.png" alt="">
                        <p>Symptoms</p>
                    </div>
                    <p class="cd-theGrowthText">Symptoms of brain cancer depend on the grade and stage of the cancer. However, there are several early signs of brain cancer, some of which are:</p>
                    <div class="cd-secondFlax">
                        <div class="cd-thirdFlax ph-container-flax">
                            <img src="assets/images/playBtnWhite.png" alt="">
                            <p>Radiation to the head</p>
                        </div>
                    </div>
                    <div class="cd-secondFlax">
                        <div class="cd-thirdFlax ph-container-flax">
                            <img src="assets/images/playBtnWhite.png" alt="">
                            <p>Difficulty walking and/or dizziness</p>
                        </div>
                    </div>
                    <div class="cd-secondFlax">
                        <div class="cd-thirdFlax ph-container-flax">
                            <img src="assets/images/playBtnWhite.png" alt="">
                            <p>Seizures</p>
                        </div>
                    </div>
                    <div class="cd-secondFlax">
                        <div class="cd-thirdFlax ph-container-flax">
                            <img src="assets/images/playBtnWhite.png" alt="">
                            <p>Headaches</p>
                        </div>
                    </div>
                    <div class="cd-secondFlax">
                        <div class="cd-thirdFlax ph-container-flax">
                            <img src="assets/images/playBtnWhite.png" alt="">
                            <p>Nausea</p>
                        </div>
                    </div>
                    <div class="cd-secondFlax">
                        <div class="cd-thirdFlax ph-container-flax">
                            <img src="assets/images/playBtnWhite.png" alt="">
                            <p>Vomiting</p>
                        </div>
                    </div>
                    <div class="cd-secondFlax">
                        <div class="cd-thirdFlax ph-container-flax">
                            <img src="assets/images/playBtnWhite.png" alt="">
                            <p>Blurry vision</p>
                        </div>
                    </div>
                    <div class="cd-secondFlax">
                        <div class="cd-thirdFlax ph-container-flax">
                            <img src="assets/images/playBtnWhite.png" alt="">
                            <p>Hallucination (in certain cases)</p>
                        </div>
                    </div>
                    <div class="cd-secondFlax">
                        <div class="cd-thirdFlax ph-container-flax">
                            <img src="assets/images/playBtnWhite.png" alt="">
                            <p>Change in a person’s alertness, mental capacity, memory, speech, or personality</p>
                        </div>
                    </div>
                </div>
                <div class="cd-symhowtoOuter">
                    <div class="cd-sympBgColor ph-container-flax" style="background-color: #b0cc82;">
                        <img src="assets/images/symp01.png" alt="">
                        <p>How to prevent?</p>
                    </div>
                    <p class="cd-theGrowthText">There is no remedy for brain cancer prevention. However, if diagnosed in an early stage, treatment can help in reducing the risk of metastatic brain tumors.</p>
                    <div class="cd-secondFlax">
                        <a class="ph-link" href="javascript:void(0);">Book an appointment <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" class="svg-inline--fa fa-chevron-right fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"></path></svg></a>
                    </div>
                    <div class="cd-secondFlax">
                        <a class="ph-link" href="javascript:void(0);">Contact us <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" class="svg-inline--fa fa-chevron-right fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"></path></svg></a>
                    </div>
                    
                    
                </div>
            </div> -->
    </div>
  </div>
</div>
