<app-title [name]="customTitle"> </app-title>
<section class="ph-container ph-beardCIcons">
    <div class="ph-container-flax beardCIconsOuter">
        <div class="ph-beardCIconsLeft">
            <nav class="rank-math-breadcrumb-example">
                <p>
                    <a href="/">Home</a>
                    <span class="separator"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                    <span>Preventive</span>
                    <span class="separator"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                    <span>Child Health Check</span>
                </p>
            </nav>
        </div>
        <div class="ph-beardCIconsRight">
            <a href="javascript:void(0);">
                <i class="fa fa-facebook-square" aria-hidden="true"></i>
            </a>
            <a href="javascript:void(0);">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="javascript:void(0);">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
            <a href="javascript:void(0);">
                <i class="fa fa-youtube-play" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</section>
<div class="doctor-section">
    <div class="dr-abt-section">
        <div class="dr-abt-left">
            <div class="dr-contact text-center">
                <img class="dr-app-ph-img" src="assets/images/appointment01.png" alt="" />
                <p class="dr-opd">Appointments</p>
                <p class="dr-opd-name">
                    <span class="time">
                        We're here for you. <br />
                        Call us at +91 1244 585555 or
                    </span>
                </p>
                <a class="ph-btn ph-bookAppointment01" href="javascript:void(0);">Book an appointment</a>
                <a class="ph-btn ph-bookAppointment01" href="javascript:void(0);">Find a doctor</a>
                <a class="ph-btn ph-bookAppointment01" href="javascript:void(0);">Find a Location</a>
            </div>
        </div>
        <div class="dr-abt-right cd-rightMainDiv">
            <p class="cd-aboutCanText">
                Child Health Preventive Health Check Up Package
            </p>
            <p class="cd-theGrowthText">
                A specialized preventive health check up package designed for young ones
                to ensure their good health and well being.
            </p>

            <div class="cd-bccdiv">
                <!-- <p class="cd-bccdText">Brain Cancer Causes:</p>
                <p class="cd-theGrowthText">The exact cause of brain cancer is not known. But there are certain risk
                    factors that may cause the growth of cancerous cells. These are:</p> -->

                <div class="cd-bccd001">
                    <div class="child-checkup">
                        <div class="child-head">
                            <h2>Blood Profiling</h2>
                        </div>
                        <div class="child-icons">
                            <img src="assets/images/playBtn.png" alt="" />
                            <p>Radiation to the head</p>
                            <br />
                            <img src="assets/images/playBtn.png" alt="" />
                            <p>Complete Haemogram & ESR</p>
                        </div>
                    </div>
                    <hr />
                    <div class="child-checkup">
                        <div class="child-head">
                            <h2>Infection Screening</h2>
                        </div>
                        <div class="child-icons">
                            <img src="assets/images/playBtn.png" alt="" />
                            <p>Urine Routine & Microscopy</p>
                            <br />
                            <img src="assets/images/playBtn.png" alt="" />
                            <p>Stool Routine & Microscopy</p>
                            <br />
                            <img src="assets/images/playBtn.png" alt="" />
                            <p>Stool for Occult Microscopy</p>
                        </div>
                    </div>
                    <hr />
                    <div class="child-checkup">
                        <div class="child-head">
                            <h2>Ear Health</h2>
                        </div>
                        <div class="child-icons">
                            <img src="assets/images/playBtn.png" alt="" />
                            <p>Pure Tone Audiometry</p>
                            <br />
                        </div>
                    </div>
                    <hr />
                    <div class="child-checkup">
                        <div class="child-head">
                            <h2>Montoux Test</h2>
                        </div>
                        <div class="child-icons">
                            <img src="assets/images/playBtn.png" alt="" />
                            <p>Montoux Test</p>
                            <br />
                        </div>
                    </div>
                </div>

            </div>
            <hr>
            <div class="consult">
                <h2>Consultations:</h2>
                <span class="dr-type">Ophthalmologist</span>
                <span class="dr-type">Dental Consultation</span>
                <span class="dr-type">Pediatric Consultation</span>

            </div>
            <hr>

            <div class="instruction">
                <h2>General Instructions:</h2>
                <ul>
                    <li>To book an appointment log onto – Make an Appointment or Call on 0124 – 4585555 
                       </li>
                    <li>For the lipid
                        profile and blood sugar test you are requested to come to the hospital empty stomach.</li>
                    <li>Complimentary breakfast is provided to all patients opting for the above mentioned preventive
                        health check up packages </li>
                    <li>
                        Prior appointment is required for all preventive health check up
                        packages.
                    </li>
                <p>  NOTE: **Screen that Films will not be provided with Ultrasound.</p>

                </ul>
            </div>
        </div>
    </div>
</div>