.book{
    font-size: 16px;
    font-family: "Inter-Regular";
    background-color: #1E2F3F;
    color: #FFFFFF;
    padding: 10px 15px;
    border: none;
    margin: 5px 10px;
}
.read-more{
    border: none;
    background-color: none;
    border: 1px solid #1E2F3F;
    padding: 10px 16px;
    font-size: 14px;
}