
.ph-drListings{
    margin-bottom: 80px;
}
.ph-drListings .ph-drListingsOuter .ph-drSearchOuter{
background-color: #D9F5FD;
padding: 20px;
font-size: 16px;
font-family: "Inter-Regular";
color: #000;
height: 455px;
margin-bottom: 20px;
}

.ph-drListings .ph-drListingsOuter .ph-drSearchOuter form.example input[type=text]{
    padding: 10px;
    font-size: 16px;
    border: 1px solid #E5E5E5;
    width: 80%;
    background: #fff;
    font-family: "Inter-Regular";
}
.ph-drListings .ph-drListingsOuter .ph-drSearchOuter form.example button {
    width: 20%;
    padding: 9px;
    background: #B0CC82;
    color: white;
    font-size: 17px;
    border: 1px solid #B0CC82;
    border-left: none;
    cursor: pointer;
}
.ph-drListings .ph-drListingsOuter .ph-drSearchOuter .ph-shortBy{
    font-size: 12px;
    font-family: "Inter-Medium";
    margin-top: 20px;
}
.ph-drListings .ph-drListingsOuter .ph-drSearchOuter .ph-drSearchSelect{
    width: 100%;
    border: 1px solid #E5E5E5;
    padding: 15px;
    margin-bottom: 10px;
}
.ph-drListings .ph-drListingsOuter .ph-drSearchOuter .ph-drSearchBtn{
    width: 100%;
    border: 1px solid #1e2f3f;
    margin-bottom: 10px;
}
.ph-drListings .ph-drListingsOuter .ph-drSearchOuter .ph-drResetBtn{
    width: 100%;
    border: 1px solid #1e2f3f;
    color: #1e2f3f;
    background-color: rgba(30, 46, 62, 0);

}

.ph-drListings .ph-drListingsOuter .ph-drListinginner{
    text-align: center;
    border: 1px solid #E5E5E5;
    padding: 30px;
    font-family: "Inter-Regular";
    font-size: 14px;
    color: #000;
    height: 455px;
    margin-bottom: 20px;
    border-bottom: 3px solid #00BBF2;
}
.ph-drListings .ph-drListingsOuter .ph-drListinginner img{
    width: 190px;
    margin-bottom: 20px;
}
.ph-drListings .ph-drListingsOuter .ph-drListinginner .ph-drListName{
    font-family: "Inter-Bold";
    font-size: 14px;
    cursor: pointer;
}
.ph-drListings .ph-drListingsOuter .ph-drListinginner .ph-bookAppointment{
width: 100%;
margin-top: 20px;
color: #fff;
text-decoration: none;
}

@media only screen and (max-width: 1050px) {
    .ph-drListings .ph-drListingsOuter .ph-drListinginner img{
        width: 130px;
    }
}
@media only screen and (max-width: 800px) {
.ph-drListings .ph-drListingsOuter .ph-sm-custom{
    flex: 0 0 auto;
    width: 50%;
}
}
@media only screen and (max-width: 700px) {
    .ph-drListings .ph-drListingsOuter .ph-sm-custom{
        flex: 0 0 auto;
        width: 100%;
    }
    .ph-drListings .ph-drListingsOuter .ph-drListinginner {
        height: auto;
    }
    }