@font-face {
    font-family: "Inter-Medium";
    src: url(../fonts/Inter-Medium.ttf);
 }
 @font-face {
    font-family: "Inter-Regular";
    src: url(../fonts/Inter-Regular.ttf);
 }

 @font-face {
    font-family: "Inter-Bold";
    src: url(../fonts/Inter-Bold.ttf);
 }