
body{
    margin: 0;
    font-family: "Inter-Medium";
}
* {
    box-sizing: border-box;
  }
  input:focus,
  select:focus{
      outline: none;
  }

  .ph-container{
    width: 90%;
    margin: auto;
}
.ph-container-flax{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ph-btn{
    font-size: 16px;
    font-family: "Inter-Regular";
    background-color: #1E2F3F;
    padding: 12px 30px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
}

.ph-link{
  font-size: 12px;
  color: #00BBF2;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Inter-Medium";
  text-decoration: none;
}
.ph-link:hover{
  color: #00BBF2;
}
.ph-link svg{
  width: 8px;
  vertical-align: middle;
  margin-left: 4px;
}


/*  */

.ph-beardCIcons{
    padding: 20px 0;
}
.ph-beardCIcons .rank-math-breadcrumb-example p{ margin: 0;}
.ph-beardCIcons .rank-math-breadcrumb-example p a,
.ph-beardCIcons .rank-math-breadcrumb-example p span{
    font-size: 12px;
    font-family: "Inter-Regular";
    color: #000;
    text-decoration: none;
}
.ph-beardCIcons .rank-math-breadcrumb-example p span.separator{ padding: 0 10px;}

.ph-beardCIcons .ph-beardCIconsRight{ padding-left: 15px; white-space: nowrap;}
.ph-beardCIcons .ph-beardCIconsRight a{
    color: #00BBF2;
    background-color: #D9F5FD;
    font-size: 14px;
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 50%;
    line-height: 1.9;
    display: inline-block; margin-left: 7px;
}

  :root {
    --star-size: 18px;
    --star-color: #fff;
    --star-background: #00BBF2;
    --star-bg:black;
  }
  
  .Stars {
    --percent: calc(var(--rating) / 5 * 100%);
    display: inline-block;
    font-size: var(--star-size);
    font-family: Times;
    line-height: 1;
    color: black;
  -webkit-text-fill-color: white; 
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #00BBF2
  }
  .Stars::before {
    content: "★★★★★";
    letter-spacing: 3px;
    background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  

  .ph-header .headerThirdOuter #container {
    margin: 0 auto;
    max-width: 890px;
  }
  .ph-header .headerThirdOuter .toggle, 
  .ph-header .headerThirdOuter [id^=drop] {
   display: none;
  }
  .ph-header .headerThirdOuter nav {
    margin: 0;
    padding: 0;
  }
  
  .ph-header .headerThirdOuter #logo {
    display: block;
    padding: 0 30px;
    float: left;
    font-size: 20px;
    line-height: 60px;
  }
  
  .ph-header .headerThirdOuter nav:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .ph-header .headerThirdOuter nav ul {
    float: left;
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .ph-header .headerThirdOuter nav ul li {
    margin: 0px;
    display: inline-block;
    float: left;
  }
  
  .ph-header .headerThirdOuter nav a {
    display: block;
    padding: 0 20px;
    color: #000;
    font-size: 15px;
    font-family: "Inter-Medium";
    line-height: 60px;
    text-decoration: none;
    position: relative;
  }
  
  
  .ph-header .headerThirdOuter nav ul ul {
    display: none;
    position: absolute;
    top: 60px;
    padding: 10px 0;
    background-color: #1e2f3f;
  }
  
  .ph-header .headerThirdOuter nav ul li:hover > ul { 
    display: inline-block;
    width: fit-content;
    z-index: 999;
  }
  
  .ph-header .headerThirdOuter nav ul ul li {
    width: 170px;
    float: none;
    display: list-item;
    position: relative;
    background: #1e2f3f;
    
  }
  .ph-header .headerThirdOuter nav ul ul li a{
      color: #fff;
      font-size: 13px;
      line-height: normal;
      padding: 7px 20px;
  }
  
  .ph-header .headerThirdOuter nav ul ul ul li {
    position: relative;
    top: -60px;
    left: 170px;
  }
  
  .ph-header .headerThirdOuter li > a:after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 7px;
    height: 7px;
    border-bottom: 2px solid;
    border-right: 2px solid;
    transform: rotate(45deg);
    right: 0px;
    top: 25px;
  }
  .ph-header .headerThirdOuter li > a.navRightAfter:after{
      right: 20px;
  }
  
  .ph-header .headerThirdOuter li > a:only-child:after { content: ''; display: none;}
  

  /* Media Queries
  --------------------------------------------- */
  @media only screen and (max-width: 1050px) {
    .ph-header .headerThirdOuter nav a {

        font-size: 10px;
    }
  }
  @media only screen and (max-width: 768px) {
  
    .ph-header .headerThirdOuter #logo {
    display: block;
    padding: 0;
    width: 100%;
    text-align: center;
    float: none;
  }
  .ph-blogs .owl-stage {
    right: 50px !important;
}
  
  .ph-header .headerThirdOuter nav { margin: 0; }
  
  .ph-header .headerThirdOuter .toggle + a,
  .ph-header .headerThirdOuter .menu { display: none; }
  
  .ph-header .headerThirdOuter .toggle {
    display: block;
    /* background-color: #254441; */
    padding: 0 20px;
    color: #FFF;
    font-size: 16px;
    font-weight: normal;
    line-height: 50px;
    text-decoration: none;
    border: none;
    position: relative;
    font-family: "Inter-Medium";
  }
  .ph-header .headerThirdOuter li > label:after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 7px;
    height: 7px;
    border-bottom: 2px solid;
    border-right: 2px solid;
    transform: rotate(45deg);
    right: 25px;
    top: 25px;
  }
  
  /* .ph-header .headerThirdOuter .toggle:hover { background-color: #000000; } */
 
  .ph-header .headerThirdOuter [id^=drop]:checked + ul { 
      display: block; 
      background-color: #1e2f3f;
    }
  
  .ph-header .headerThirdOuter nav ul li {
    display: block;
    width: 100%;
  }
  
  .ph-header .headerThirdOuter nav ul ul .toggle,
  .ph-header .headerThirdOuter  nav ul ul a { 
      padding: 0 40px;
      font-size: 14px;
      color: #fff;
    }
  
  .ph-header .headerThirdOuter nav ul ul ul a { padding: 0 80px; }
  
  .ph-header .headerThirdOuter nav a:hover,
  /* .ph-header .headerThirdOuter  nav ul ul ul a { background-color: #000000; } */
  
  .ph-header .headerThirdOuter nav ul li ul li .toggle,
  /* .ph-header .headerThirdOuter  nav ul ul a { background-color: #212121; } */
  
  .ph-header .headerThirdOuter nav ul ul {
    float: none;
    position: static;
    color: #ffffff;
    background-color: #1c3348 !important;
  }
  
 
  .ph-header .headerThirdOuter  nav ul ul li:hover > ul,
  .ph-header .headerThirdOuter nav ul li:hover > ul { display: none; }
  .ph-header .headerThirdOuter nav ul ul li {
    display: block;
    width: 100%;
  }
  
  .ph-header .headerThirdOuter nav ul ul ul li { position: static;
  
  }
  .ph-sm-custom{
    flex: 0 0 auto;
    width: 50%;
}
  }

  @media only screen and (max-width: 700px){
    .ph-patientLoginMob{
        color: #FFF !important;
    font-size: 16px !important;
    font-weight: normal;
    font-family: "Inter-Medium";
    }
    .ph-patientLoginMob svg{
        width: 15px;
    }
    .ph-header .headerThirdOuter .toggle-mob {
        display: inline-block;
        float: right;
        margin-top: 5px;
        background-color: #1e2f3f;
        font-size: 30px;
        padding: 0px 15px;
        color: #FFF;
        font-weight: normal;
        line-height: 40px;
    }
    .ph-sm-custom{
        flex: 0 0 auto;
        width: 100%;
    }
  }
  
  @media screen and (max-width:767px){
    .ph-container{ width: 100%; padding-left:15px; padding-right: 15px;}
    .ph-beardCIcons{ padding: 15px;}
  }

  @media only screen and (max-width: 330px) {
  
    .ph-header .headerThirdOuter nav ul li {
    display: block;
    width: 94%;
  }
  
  }

.ph-Slider .owl-theme .owl-nav {
    margin-top: 10px;
    position: absolute;
    top: -65px;
    right: 0;
}
.ph-Slider .owl-carousel .owl-nav button.owl-next, .ph-Slider .owl-carousel .owl-nav button.owl-prev{
    background-color: #B0CC82;
    width: 30px;
    height: 30px;
    border-radius: 0;
    font-size: 20px;
    color: #fff;
}

/* .ph-blogs .owl-carousel.owl-drag .owl-item{
    margin-left: -40px;
} */
.ph-blogs .owl-stage {
    right: 200px;
}

.cancer-img .ph-Slider .owl-theme .owl-nav {
  margin-top: 10px;
  position: absolute;
  top: 85%;
  right: 25px;
}

@media only screen and (max-width: 1050px) {
  .cancer-img .ph-Slider .owl-theme .owl-nav {
    margin-top: 10px;
    position: absolute;
    top: 75%;
    right: 25px;
  }
  @media only screen and (max-width: 1050px) {
    .cancer-img .ph-Slider .owl-theme .owl-nav {
      margin-top: 10px;
      position: absolute;
      top: 65%;
      right: 25px;
    }
  }
}
