.cancer-section {
  margin: auto;
  width: 90%;
  position: relative;
}

.cancer-section.cancer-logo {
  width: 100%;
}
.cancer-protect {
  position: absolute;
  top: 3%;
  right: 3%;
}

.item .cancer-box img {
  width: 100%;
}

.cancer-text .cancer-head {
  background-color: #652f9e;
  color: white;
  padding: 5px 5px;
  font-size: 28px;
  font-family: "Inter-Bold";
}
.cancer-text .pre-list {
  font-size: 14px;
  font-family: "Inter-Regular";
  padding: 10px 0;
  list-style: none;
}

.pre-list li::before {
  content: "\2022";
  color: #b0cc82;
  font-weight: bold;
  display: inline-block;
  width: 1em;
}
.cancer-text {
  position: absolute;
  top: 8%;
  left: 10%;
}
.cancer-text .button-more {
  background-color: none;
  border: 1px solid #1e2f3f;
  padding: 10px 15px;
  font-size: 16px;
}
.cancer-header {
  text-align: center;
  margin: 40px auto;
  width: 80%;
}
.cancer-header .header-heading {
  font-size: 24px;
  color: #000000;
  font-family: "Inter-Bold";
}
.cancer-header .header-desc {
  font-size: 16px;
  font-family: "Inter-Regular";
  color: #000000;
}
.cancer-header .header-button {
  border: none;
  background-color: #1e2f3f;
  color: white;
  margin: 0 10px;
  padding: 10px 30px;
  font-size: 16px;
  font-family: "Inter-Regular";
  width: 236px;
}
/*********************************************************** section 2******************************************** */
.cancer-main-box {
  padding: 20px 25px;
  margin: 50px 0;
  border-top: 3px solid#00BBF2;
}
.cancer-main-box .cancer-box-heading {
  padding: 10px 25px;
  font-size: 24px;
  font-family: "Inter-Bold";
}
.cancer-treatment-box {
  display: flex;
  justify-content: space-between;
}

/******************************************************* section 2 end ************************************************/

/**************************************************** child box start **************************************************/
.cancer-child-box {
  display: flex;
  margin: 80px;
}
.cancer-child-box .child-img {
  position: relative;
  width: 581px;
}
.ph-playLinkss {
  color: #fff;
  font-size: 14px;
  font-family: "Inter-Regular";
  position: absolute;
  bottom: 35px;
  left: 20px;
  text-decoration: none;
  z-index: 1;
}

.ph-playLinkss i {
  color: #fff;
  font-size: 16px;
  background: #00bbf2;
  border-radius: 117px;
  width: 37px;
  height: 37px;
  vertical-align: middle;
  margin-right: 10px;
  padding: 11px 13px;
}
.ph-divbgGradiantss {
  background: transparent linear-gradient(180deg, #0077b700 0%, #0077b7 100%) 0%
    0% no-repeat padding-box;
  width: 100%;
  height: 90px;
  bottom: 0px;
  opacity: 0.5;
  margin: -90px 2px;
}
.cancer-child-box .child-desc {
  background-color: #d9f5fd;
  padding: 25px 80px;
  width: 683px;
  /* margin-left: -40px; */
  margin-top: 40px;
  margin-left: -60px;
}
.child-desc .child-name {
  font-size: 28px;
  font-family: "Inter-Bold";
  padding: 10px 0;
}
.child-desc .child-story {
  font-size: 20px;
  font-family: "Inter-Bold";
  letter-spacing: -0.6px;
}
.child-desc .child-storyhash {
  font-size: 14px;
  font-family: "Inter-Bold";
}

.ph-playLinks {
  color: #fff;
  font-size: 14px;
  font-family: "Inter-Bold";
  position: absolute;
  top: 100px;
  left: 20px;
  text-decoration: none;
  z-index: 1;
}

.ph-divbgGradiants {
  background: transparent linear-gradient(180deg, #0077b700 0%, #0077b78e 100%)
    0% 0% no-repeat padding-box;
  width: 100%;
  height: 90px;
  bottom: 0px;
  opacity: 0.5;
  margin: -89px auto;
}
/*  */

.about-foot {
  width: 100%;
  background-color: #f5f5f5;
  text-align: center;
  margin-bottom: 50px;
}
.about-foot {
  position: relative;
}
.about-foot {
  width: 90%;
  margin: auto;
  /* background: transparent linear-gradient(180deg, #0077B700 0%, #0077B7 100%) 0% 0% no-repeat padding-box; */
}

.ph-mkimagerOuter1 {
  width: 100%;
  margin: 20px;
  position: relative;
}
.ph-mkimagerOuter1 img {
  width: 90%;
  background: transparent linear-gradient(180deg, #0077b700 0%, #0077b7 100%) 0%
    0% no-repeat padding-box;
  margin-top: -60px;
}
.ph-playLink {
  color: #fff;
  font-size: 14px;
  font-family: "Inter-Regular";
  position: absolute;
  bottom: 50px;
  left: 120px;
  text-decoration: none;
  z-index: 1;
}

.ph-playLink i {
  color: #fff;
  font-size: 16px;
  background: #00bbf2;
  border-radius: 117px;
  width: 37px;
  height: 37px;
  vertical-align: middle;
  margin-right: 10px;
  padding: 11px 13px;
}
.ph-divbgGradiant {
  background: transparent linear-gradient(180deg, #0077b700 0%, #0077b7 100%) 0%
    0% no-repeat padding-box;
  width: 90%;
  height: 90px;
  bottom: 0px;
  opacity: 0.5;
  margin: -89px auto;
}
.about-foot-msg {
  margin: 80px 0;
}
.about-foot-msg p {
  padding: 30px 0;
  font-size: 20px;
  text-transform: capitalize;
  font-family: "Inter-Bold";
}

/* ****************************************************Section 3 advantage*********************************** */
.paras-adv {
  padding: 25px;
  background-color: #f5f5f5;
  margin: 50px 0;
}
.paras-adv .paras-title {
  font-size: 28px;
  font-family: "Inter-bold";
}
.paras-adv .adv-box {
  display: flex;
  padding: 20px 0;
}
.paras-adv .adv-box .adv-desc {
  padding: 10px 30px;
  width: 50%;
}
.adv-desc p {
  font-size: 14px;
  font-family: "Inter-Regular";
}
.adv-box .adv-desc {
  display: flex;
  border-bottom: 5px solid #f5f5f5;
}

.adv-desc img {
  width: 25px;
  height: 20px;
}
.cancer-footer {
  width: 100%;
  margin: 50px 0;
  position: relative;
}
.footer-img img {
  width: 100%;
  background-color: rgb(80, 80, 80);
}
.footer-desc {
  position: absolute;
  top: 18%;
  left: 50%;
}
.footer-desc .footer-head {
  background-color: #652f9e;
  color: white;
  padding: 5px 5px;
  font-size: 28px;
  font-family: "Inter-Bold";
}

.footer-para {
  font-size: 20px;
  font-family: "Inter-Bold";
  color: #ffffff;
  padding: 10px 0;
}

/* *********************** */

.ph-ceofexSlider {
  margin: 0px auto;
  position: relative;
  padding-bottom: 50px;
  border-bottom: 1px solid #e5e5e5;
}
.ph-ceofexSlider .ph-centerofExc {
  font-size: 24px;
  font-family: "Inter-Bold";
  color: #000;
  margin-bottom: 20px;
}
.ph-ceofexSlider .ph-itemSlider img {
  width: 45px;
  margin-bottom: 20px;
  height: 50px;
}
.ph-ceofexSlider .ph-itemSlider {
  background-color: #d9f5fd;
  padding: 25px;
}
.ph-ceofexSlider .ph-itemSlider p {
  color: #1e2f3f;
  font-size: 14px;
  font-family: "Inter-Bold";
  text-transform: uppercase;
}
@media only screen and (max-width: 1400px) {
  .ph-ceofexSlider .ph-itemSlider p {
    font-size: 12px;
  }
  .cancer-child-box {
    display: block;
    margin: 40px auto;
  }

  .cancer-child-box .child-desc {
    width: 100%;
    margin: 100px auto;
  }
}
@media only screen and (max-width: 1300px) {
  .ph-ceofexSlider .ph-itemSlider p {
    font-size: 11px;
  }

  .footer-desc .footer-head {
    font-size: 18px;
    font-family: "Inter-Bold";
    padding: 0;
  }

  .footer-para {
    font-size: 15px;
    padding: 0;
  }
}
@media only screen and (max-width: 1050px) {
  .ph-playLink {
    position: absolute;
    bottom: 10px;
    left: 20px;
  }

  .ph-divbgGradiant {
    width: 100%;
  }
  .ph-mkimagerOuter1 img {
    width: 100%;
    margin: 0;
  }

  .cancer-text {
    position: absolute;
    top: 2%;
    left: 5%;
  }

  .cancer-text .cancer-head {
    padding: 5px 5px;
    font-size: 18px;
  }
  .cancer-text .pre-list {
    font-size: 14px;

    padding: 5px 0;
  }

  .cancer-text .button-more {
    padding: 8px 15px;
    font-size: 13px;
  }
}
@media only screen and (max-width: 700px) {
  .ph-ceofexSlider .ph-centerofExc {
    font-size: 18px;
  }
  .cancer-protect {
    position: absolute;
    top: 0;
    right: 0%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .cancer-child-box .child-desc {
    width: 100%;
    margin: 100px auto;
    padding: 25px;
  }
  .cancer-header {
    text-align: center;
    margin: 40px auto;
    width: 100%;
  }
  .cancer-text {
    position: absolute;
    top: 2%;
    left: 5%;
  }

  .cancer-text .cancer-head {
    padding: 5px 5px;
    font-size: 14px;
  }
  .cancer-text .pre-list {
    font-size: 14px;

    padding: 5px 0;
  }

  .cancer-text .button-more {
    padding: 5px 15px;
    font-size: 8px;
  }
  .cancer-header .header-desc {
    text-align: start;
  }

  .cancer-header .header-button {
    margin: 10px 0;
  }

  .cancer-child-box .child-img {
    position: relative;
    width: 100%;
  }
  .item .cancer-box {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .cancer-logo {
    width: 100%;
  }
  .footer-desc .footer-head {
    font-size: 13px;
    font-family: "Inter-Bold";
  }

  .footer-para {
    font-size: 10px;
  }

  .footer-desc {
    position: absolute;
    top: 10%;
  }

  .paras-adv .adv-box {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .paras-adv .adv-box .adv-desc {
    width: 100%;
    border-bottom: 2px solid #e5e5e5;
    margin: 10px 0;
  }

  @media only screen and (max-width: 564px) {
    .footer-desc .footer-head {
      padding: 0;
      font-size: 10px;
      font-family: "Inter-Bold";
      word-wrap: break-word;
    }
    .footer-desc {
      position: absolute;
      top: 10%;
    }

    .cancer-text {
      position: absolute;
      top: 2%;
      left: 5%;
    }
    .item .cancer-protect img {
      width: 40px;
    }

    .cancer-text .cancer-head {
      padding: 5px 0px;
      font-size: 10px;
    }
    .cancer-text .pre-list {
      font-size: 8px;
      margin: 0;
      padding: 5px 0;
    }

    .cancer-text .button-more {
      padding: 5px 10px;
      font-size: 13px;
      margin: 0;
    }
  }
}
