<section class="cancer-section">
    <div class="cancer-logo">
        <div class="cancer-img">
        
            <section class="ph-ceofexSlider ph-container ph-Slider">
                <!-- <p class="ph-centerofExc">Cancer treatments</p> -->
                <owl-carousel [options]="cancerAdd" [carouselClasses]="['owl-theme', 'customClassName']">
                    <div class="item">
                        <div class="cancer-box">
                            <img src="assets/images/cancer-ad.png" alt="" />
                            <div class="cancer-protect">
                                <img src="assets/images/Paras-Protect-logo.png" alt="" />
                            </div>
                            <div class="cancer-text">
                                <h2 class="cancer-head">Don’t let safety come in the</h2>
                                <h2 class="cancer-head">way of your treatment</h2>
                                <ul class="pre-list">
                                    <li>Appointment booking through Paras App</li>
                                    <li>Chemical sanitization every 2 hours</li>
                                    <li>Thermal screening at entry</li>
                                    <li>Mandatory social distancing</li>
                                </ul>
                    
                                <button class="button-more">Know More</button>
                            </div>

                           
                        </div>
                    </div>
                    <div class="item">
                        <div class="cancer-box">
                            <img src="assets/images/cancer-ad.png" alt="" />
                            <div class="cancer-protect">
                                <img src="assets/images/Paras-Protect-logo.png" alt="" />
                            </div>
                            <div class="cancer-text">
                                <h2 class="cancer-head">Don’t let safety come in the</h2>
                                <h2 class="cancer-head">way of your treatment</h2>
                                <ul class="pre-list">
                                    <li>Appointment booking through Paras App</li>
                                    <li>Chemical sanitization every 2 hours</li>
                                    <li>Thermal screening at entry</li>
                                    <li>Mandatory social distancing</li>
                                </ul>
                    
                                <button class="button-more">Know More</button>
                            </div>

                           
                        </div>
                    </div>
                    
                   
                </owl-carousel>
            </section>
        </div>
        <!-- <div class="cancer-protect">
            <img src="assets/images/Paras-Protect-logo.png" alt="" />
        </div> -->
        <!-- <div class="cancer-text">
            <h2 class="cancer-head">Don’t let safety come in the</h2>
            <h2 class="cancer-head">way of your treatment</h2>
            <ul class="pre-list">
                <li>Appointment booking through Paras App</li>
                <li>Chemical sanitization every 2 hours</li>
                <li>Thermal screening at entry</li>
                <li>Mandatory social distancing</li>
            </ul>

            <button class="button-more">Know More</button>
        </div> -->

        <div class="cancer-header">
            <h2 class="header-heading">WELCOME TO PARAS CANCER CENTRE</h2>
            <p class="header-desc">
                To the thousands of patients who visit us for cancer care, Paras Cancer
                Centre symbolizes the aspect that we can overcome cancer with hope. The
                hospital services are based on the concept that each patient can – Heal
                with Hope – overcome cancer and other related adversities if they
                continue to fight. Paras Cancer Centre is a unique initiative under the
                aegis of Paras Healthcare established to provide affordable, accessible
                and quality cancer care. The centre involves more than 100 surgical and
                radiation oncology specialists as well as diagnostic consultants
                providing comprehensive Cancer Care. The mission is to take the fight
                against cancer to the next frontier, and redefine clinical benchmarks
                and outcomes.
            </p>
            <button class="header-button">Book an appointment</button>
            <button class="header-button">Refer a Patient</button>
        </div>

        <!-- <div class="cancer-main-box shadow">
      <h2 class="cancer-box-heading">Cancer treatments</h2>
      <div class="cancer-treatment-box">
        <div class="cancer-box">
          <img src="assets/images/t1.png" alt="" />
        </div>
        <div class="cancer-box">
          <img src="assets/images/t2.png" alt="" />
        </div>
        <div class="cancer-box">
          <img src="assets/images/t3.png" alt="" />
        </div>
        <div class="cancer-box">
          <img src="assets/images/t4.png" alt="" />
        </div>
      </div>
    </div> -->

        <section class="ph-ceofexSlider  ph-Slider cancer-main-box shadow">
            <p class="ph-centerofExc cancer-box-heading">Cancer treatments</p>
            <owl-carousel [options]="cancerTreatment" [carouselClasses]="['owl-theme', 'customClassName']">
                <div class="item">
                    <div class="cancer-box">
                        <img src="assets/images/t1.png" alt="" />
                        <a class="ph-playLinks" href="javascript:void(0);">Medical Oncology</a>
                        <div class="ph-divbgGradiants"></div>  
                    </div>
                </div>
                <div class="item">
                    <div class="cancer-box">
                        <img src="assets/images/t2.png" alt="" />
                        <a class="ph-playLinks" href="javascript:void(0);">Hemato Oncology</a>
                        <div class="ph-divbgGradiants"></div>   
                    </div>
                </div>

                <div class="item">
                    <div class="cancer-box">
                        <img src="assets/images/t3.png" alt="" />
                        <a class="ph-playLinks" href="javascript:void(0);">Surgical Oncology</a>
                        <div class="ph-divbgGradiants"></div>
                    </div>
                </div>
                <div class="item">
                    <div class="cancer-box">
                        <img src="assets/images/t4.png" alt="" />
                        <a class="ph-playLinks" href="javascript:void(0);">Gynae Oncology</a>
                        <div class="ph-divbgGradiants"></div>   
                    </div>
                </div>
                <div class="item">
                    <div class="cancer-box">
                        <img src="assets/images/t1.png" alt="" />
                        <a class="ph-playLinks" href="javascript:void(0);">Hemato Oncology</a>
                        <div class="ph-divbgGradiants"></div> 
                    </div>
                </div>
                <div class="item">
                    <div class="cancer-box">
                        <img src="assets/images/t1.png" alt="" />
                        <!-- <a class="ph-playLinks" href="javascript:void(0);">Hemato Oncology</a>
                        <div class="ph-divbgGradiants"></div>  -->
                    </div>
                </div>
            </owl-carousel>
        </section>
    </div>
    <div class="cancer-child-box">
        <div class="child-img text-center ">
            <img src="assets/images/child.png" alt="" class="img-fluid" />
            <a class="ph-playLinkss" routerLink="/cancer-survior-story"><i class="fa fa-play" aria-hidden="true"></i>Parveen's Story
                </a>
            <div class="ph-divbgGradiantss"></div>
        </div>
        <div class="child-desc">
            <h2 class="child-name">Parveen's Story</h2>
            <p class="child-story">
                The story of Praveen Kumar, 7 yr old, fighting Brain Cancer. Abandoned
                by his father and with no family except of his well wishers, Paras Patna
                ensured that Praveen gets the compassionate care and the medical
                expertise that he needs. A CSR Initiative of Paras Healthcare in
                providing the best cancer care.
            </p>
            <p class="child-storyhash">#SupportPraveen #HealWithHope</p>
        </div>
    </div>

    <div class="about-foot">
        <div class="ph-mkimagerOuter1">
            <img src="assets/images/t5.png" alt="" />
            <a class="ph-playLink" routerLink="/cancer-detail"><i class="fa fa-play" aria-hidden="true"></i>Heal with
                Hope</a>
            <div class="ph-divbgGradiant"></div>
        </div>

        <div class="about-foot-msg">
            <p>Paras Cancer Center-Heal With Hope</p>
        </div>
    </div>
    <div class="paras-adv">
        <h2 class="text-center paras-title">The Paras Advantage</h2>
        <div class="adv-box">
            <div class="adv-desc">
                <img src="assets/images/playBtnWhite.png" alt="" />

                <h4>
                    <b> Exclusive team of specialised oncologists:</b>
                    <p>
                        Our reputed team of experts specialise in all cancer streams to
                        provide comprehensive cancer care to all.
                    </p>
                </h4>
            </div>

            <div class="adv-desc">
                <img src="assets/images/playBtnWhite.png" alt="" />

                <h4>
                    <b> First Centre equipped with Nuclear Medicine: </b>
                    <p>
                        The only centre in Bihar and Jharkhand to have a PET CT and
                        comprehensive Nuclear Medicine and imaging technology. The centre is
                        equipped with the latest MRI,CT and X ray facility.
                    </p>
                </h4>
            </div>
        </div>
        <div class="adv-box">
            <div class="adv-desc">
                <img src="assets/images/playBtnWhite.png" alt="" />

                <h4>
                    <b> Comprehensive Cancer Treatment:</b>
                    <p>
                        The only hospital in Bihar to provide comprehensive cancer care
                        treatment. The team of experts specialise in Medical, Surgical and
                        Radiation Therapy.
                    </p>
                </h4>
            </div>

            <div class="adv-desc">
                <img src="assets/images/playBtnWhite.png" alt="" />

                <h4>
                    <b> High Technology Radiation Technology:</b>
                    <p>
                        Paras Cancer Centre is equipped with the latest third generation
                        LINAC for targeted and localised radiation therapy. The cancer
                        treatment infrastructure is one of its kind in the state and is
                        adept to perform procedures such as IGRT, IMRT, 3D RT,
                        Brachytherapy, to list a few.
                    </p>
                </h4>
            </div>
        </div>
    </div>
    <div class="cancer-footer">
        <div class="footer-img">
            <img src="assets/images/cancer-girl.png" alt="" width="100%"/>
        </div>
        <div class="footer-desc">
            <h2 class="footer-head">It’s your life.</h2>
            <h2 class="footer-head">No one can protect it better than you.</h2>
            <p class="footer-para">PREVENTIVE CANCER CHECK UP PACKAGE</p>
        </div>
    </div>
</section>
<app-footer></app-footer>