<div class="coeHospitals">
    <div class="ph-container-flax ph-coeHospitalOuter">
        <div class="coeHospitalimage" style="background-image: url(assets/images/coeHospital01.png);">
        </div>
        <div class="coeHospitalText">
            <p class="coeHospitalMainText">
                Paras Hospital, Gurugram
            </p>
            <p class="coeHospitalAddress">C-1, Sushant Lok- 1, Sector-43, Phase- I, Gurugram, Haryana 122002 (INDIA)</p>
            <p class="coehospitalEmail">
                <span>Phone: </span> +911244585555 
            </p>
            <p class="coehospitalEmail"><span>Email: </span> contact@parashospitals.com</p>
            <a class="ph-btn ph-coeKnowMore" href="javascript:void(0);">Know More</a>
            <a class="ph-btn ph-coeGetDirections" href="javascript:void(0);">Get Directions</a>
        </div>
    </div>
</div>
<div class="coeHospitals">
    <div class="ph-container-flax ph-coeHospitalOuter">
        <div class="coeHospitalimage" style="background-image: url(assets/images/coeHospital01.png);">
        </div>
        <div class="coeHospitalText">
            <p class="coeHospitalMainText">
                Paras Hospital, Gurugram
            </p>
            <p class="coeHospitalAddress">C-1, Sushant Lok- 1, Sector-43, Phase- I, Gurugram, Haryana 122002 (INDIA)</p>
            <p class="coehospitalEmail">
                <span>Phone: </span> +911244585555 
            </p>
            <p class="coehospitalEmail"><span>Email: </span> contact@parashospitals.com</p>
            <a class="ph-btn ph-coeKnowMore" href="javascript:void(0);">Know More</a>
            <a class="ph-btn ph-coeGetDirections" href="javascript:void(0);">Get Directions</a>
        </div>
    </div>
</div>
<div class="coeHospitals">
    <div class="ph-container-flax ph-coeHospitalOuter">
        <div class="coeHospitalimage" style="background-image: url(assets/images/coeHospital01.png);">
        </div>
        <div class="coeHospitalText">
            <p class="coeHospitalMainText">
                Paras Hospital, Gurugram
            </p>
            <p class="coeHospitalAddress">C-1, Sushant Lok- 1, Sector-43, Phase- I, Gurugram, Haryana 122002 (INDIA)</p>
            <p class="coehospitalEmail">
                <span>Phone: </span> +911244585555 
            </p>
            <p class="coehospitalEmail"><span>Email: </span> contact@parashospitals.com</p>
            <a class="ph-btn ph-coeKnowMore" href="javascript:void(0);">Know More</a>
            <a class="ph-btn ph-coeGetDirections" href="javascript:void(0);">Get Directions</a>
        </div>
    </div>
</div>

