.coeHospitals{
    margin-top: 20px;
}
.coeHospitals .ph-coeHospitalOuter{
    justify-content: stretch;
    align-items: stretch;
    padding-bottom: 40px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 40px;
}

.coeHospitals .coeHospitalimage{
width: 40%;
background-position: center;
background-attachment: scroll;
background-size: cover;
background-repeat: no-repeat;
min-height: 330px;

}
.coeHospitals .coeHospitalimage img{
    width: 100%;
}
.coeHospitals .coeHospitalText{
    background-color: #F5F5F5;
    padding: 30px;
    width: 60%;
}
.coeHospitals .coeHospitalText .coeHospitalMainText{
color: #000;
font-size: 24px;
font-family: "Inter-Bold";
margin-bottom: 20px;
}
.coeHospitals .coeHospitalText .coeHospitalAddress{
    color: #000;
    font-size: 16px;
    font-family: "Inter-Regular";
}
.coeHospitals .coeHospitalText .coehospitalEmail{
    color: #000;
    font-size: 14px;
    font-family: "Inter-Regular";
}
.coeHospitals .coeHospitalText .coehospitalEmail span{
    font-family: "Inter-Bold";
}
.coeHospitals .coeHospitalText .ph-coeKnowMore{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    border: 1px solid #1E2F3F;
    margin-right: 20px;
    padding: 12px 20px;

}
.coeHospitals .coeHospitalText .ph-coeGetDirections{
    text-decoration: none;
    color: #1E2F3F;
    display: inline-block;
    border: 1px solid #1E2F3F;
    background-color: rgba(255, 255, 255, 0);
    padding: 12px 20px;

}


@media only screen and (max-width: 600px) {
    .coeHospitals .ph-coeHospitalOuter {
        display: block;
    }
    .coeHospitals .coeHospitalimage {
        width: 100%;
        min-height: 250px;
    }
    .coeHospitals .coeHospitalText {
        width: 100%;
    }
    .tabbable-panel{
        margin-left: 0px;
    }
    .coeHospitals .coeHospitalText .ph-coeKnowMore,
    .coeHospitals .coeHospitalText .ph-coeGetDirections{
        padding: 10px 15px;
    }
}