<section class="patient-section">
    <div class="patient-box">
        <div class="patient-login">
            <h5>Patient portal</h5>
            <h3>Welcome to your</h3>
            <h3>Secure Online Health</h3>
            <h3>Connection</h3>

            <form>
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Paras ID" />
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" />
                </div>
                <a href="" class="forgot-pass">Forgot Password <span>&#62; </span></a>
                <div class="checkbox">
                    <label> <input type="checkbox" /> Remember me on this device </label>
                </div>
                <button type="submit" class="button-submit">Login</button>
            </form>
            <div class="patient-account">
                <span>Keep your Paras ID ready</span><button class="Login-create">Create account</button>
            </div>
        </div>
        <div class="patient-portal">
            <div class="patient-img">
                <div class="patient-img-box">
                    <img src="assets/images/patient1.png" alt="" />
                </div>
                <div class="patient-img-box" style="background-color: #b0cc82">
                    <svg viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"
                        class="text-brand-blue-azureRadiance" style="width: 30px; margin: 65px 10px 0px 25px">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M7.778 11.111H1.11C.5 11.111 0 10.611 0 10V1.111C0 .5.5 0 1.111 0h6.667c.61 0 1.11.5 1.11 1.111V10c0 .611-.5 1.111-1.11 1.111zm0 8.89H1.11C.5 20 0 19.5 0 18.888v-4.444c0-.612.5-1.112 1.111-1.112h6.667c.61 0 1.11.5 1.11 1.111v4.445c0 .611-.5 1.111-1.11 1.111zM12.222 20h6.667C19.5 20 20 19.5 20 18.889v-8.89c0-.61-.5-1.11-1.111-1.11h-6.667c-.61 0-1.11.5-1.11 1.11v8.89c0 .61.5 1.11 1.11 1.11zm-1.11-14.444V1.11c0-.611.5-1.111 1.11-1.111h6.667C19.5 0 20 .5 20 1.111v4.445c0 .61-.5 1.11-1.111 1.11h-6.667c-.61 0-1.11-.5-1.11-1.11z"
                            fill="currentColor"></path>
                    </svg>
                    <h2 class="portal-heading">Use this portal to</h2>
                    <ul class="patient-points">
                        <li>TRACK & VIEW YOUR REPORTS</li>
                        <li>Book an Appointments</li>
                        <li>Request an Estimate</li>
                        <li>Frequently Asked Questions</li>
                    </ul>
                </div>
            </div>
            <div class="patient-img">
                <div class="patient-img-box">
                    <img src="assets/images/patient2.png" alt="" />
                </div>
                <div class="patient-img-box">
                    <img src="assets/images/patient3.png" alt="" />
                </div>
            </div>
        </div>
    </div>
</section>