<section class="ph-ceofexSlider ph-container ph-Slider">
    <p class="ph-centerofExc">Centres Of Excellence</p>
    <owl-carousel [options]="customOptions" [carouselClasses]="['owl-theme','customClassName']">
        <div class="item">
            <div class="ph-itemSlider">
                <img src="assets/images/cfe01.png" alt="">
                <p>NEUROLOGY</p>
            </div>
        </div>
        <div class="item">
            <div class="ph-itemSlider">
                <img src="assets/images/cfe02.png" alt="">
                <p>CARDIOLOGY</p>
            </div>
        </div>
        <div class="item">
            <div class="ph-itemSlider">
                <img src="assets/images/cfe03.png" alt="">
                <p>BARIATRIC SURGERY</p>
            </div>
        </div>
        <div class="item">
            <div class="ph-itemSlider">
                <img src="assets/images/cfe04.png" alt="">
                <p>PLASTIC SURGERY</p>
            </div>
        </div>
        <div class="item">
            <div class="ph-itemSlider">
                <img src="assets/images/cfe05.png" alt="">
                <p>ORTHOPAEDICS</p>
            </div>
        </div>
        <div class="item">
            <div class="ph-itemSlider">
                <img src="assets/images/cfe01.png" alt="">
                <p>NEUROLOGY</p>
            </div>
        </div>
        <div class="item">
            <div class="ph-itemSlider">
                <img src="assets/images/cfe05.png" alt="">
                <p>ORTHOPAEDICS</p>
            </div>
        </div>
        <div class="item">
            <div class="ph-itemSlider">
                <img src="assets/images/cfe01.png" alt="">
                <p>NEUROLOGY</p>
            </div>
        </div>
    </owl-carousel>
</section>
