.coeHospitals{
    margin-top: 20px;
}
.coeHospitals .ph-coeHospitalOuter{
    justify-content: stretch;
    align-items: stretch;
    padding-bottom: 40px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 40px;
}

.coeHospitals .coeHospitalimage{
width: 40%;
background-position: center;
background-attachment: scroll;
background-size: cover;
background-repeat: no-repeat;
min-height: 330px;

}
.coeHospitals .coeHospitalimage img{
    width: 100%;
}
.coeHospitals .coeHospitalText{
    background-color: #F5F5F5;
    padding: 30px;
    width: 60%;
}
.coeHospitals .coeHospitalText .coeHospitalMainText{
color: #000;
font-size: 24px;
font-family: "Inter-Bold";
margin-bottom: 20px;
}
.coeHospitals .coeHospitalText .coeHospitalAddress{
    color: #000;
    font-size: 16px;
    font-family: "Inter-Regular";
}
.coeHospitals .coeHospitalText .coehospitalEmail{
    color: #000;
    font-size: 14px;
    font-family: "Inter-Regular";
}
.coeHospitals .coeHospitalText .coehospitalEmail span{
    font-family: "Inter-Bold";
}
.coeHospitals .coeHospitalText .ph-coeKnowMore{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    border: 1px solid #1E2F3F;
    margin-right: 20px;
    padding: 12px 20px;

}
.coeHospitals .coeHospitalText .ph-coeGetDirections{
    text-decoration: none;
    color: #1E2F3F;
    display: inline-block;
    border: 1px solid #1E2F3F;
    background-color: rgba(255, 255, 255, 0);
    padding: 12px 20px;

}


.dr-name-desc{
    display: flex;
    margin-bottom: 20px;
    
}
 .dr-booking-section{
    padding: 0 20px;
}


.dr-deseases-desc .des-name{
    font-size: 28px;
    font-family: "Inter-Bold";
}

.dr-deseases-desc .desease-desc{
    font-size: 16px;
    font-family: "Inter-Regular";
    padding: 15px 0;
}

.social-icons{
  font-size: 16px;
}
.social-icons a i{
  color: #00BBF2;
  background-color: #D9F5FD;
  font-size: 14px;
  width: 25px;
  height: 25px;
  text-align: center;
  border-radius: 50%;
  line-height: 1.9;
}
.social-icons a {
  padding-left: 20px;
}

.dr-booking-section .dr-name{
  font-size: 24px;
  font-family: "Inter-Bold";
}
.dr-booking-section .dr-name .yello{
  background-color: #FFD100;
  padding: 5px;
  font-size: 11px;
}
.dr-booking-section .dr-director{
  font-size: 16px;
  font-family: "Inter-Regular";
}
.dr-booking-section .hosp-name{
  font-size: 14px;
  font-family: "Inter-Regular";
}
.dr-booking-section .book{
  font-size: 16px;
  font-family: "Inter-Regular";
  background-color: #1E2F3F;
  color: #FFFFFF;
  padding: 10px 15px;
  border: none;
  margin: 5px 5px;
}
.dr-booking-section .read-more{
  border: none;
  background-color: none;
  border: 1px solid #1E2F3F;
  padding: 10px 16px;
  font-size: 14px;
}
.one {
    font-family: "Inter-Regular";
    /* width: 100%; */
    padding: 12px 20px;
    margin: 10px 0;
    border: none;
    font-size: 16px;
    color: white;
    font-family: "Inter-Regular";
    background-color: #1e2f3f;
    border: 2px solid #1e2f3f;
  }
 .button-group .page {
    font-family: "Inter-Regular";
    /* width: 100%; */
    padding: 12px 20px;
    
    border: none;
    font-size: 16px;
    color: #1e2f3f;
    font-family: "Inter-Regular";
    border: 1px solid #1e2f3f;
  }
  
.button-group .page {
    margin: 0 10px;
  }
  .result{
      /* padding: 0 50px; */
      margin-bottom: 20px;
  }
.result .blog-result{
    font-size: 14px;
    font-family: "Inter-Regular";
    margin-top:15px ;
}
.result-1{
    font-size: 16px;
    margin: 10px 0;
}

@media only screen and (max-width: 600px) {
    .coeHospitals .ph-coeHospitalOuter {
        display: block;
    }
    .coeHospitals .coeHospitalimage {
        width: 100%;
        min-height: 250px;
    }
    .coeHospitals .coeHospitalText {
        width: 100%;
    }
    .tabbable-panel{
        margin-left: 0px;
    }
    .coeHospitals .coeHospitalText .ph-coeKnowMore,
    .coeHospitals .coeHospitalText .ph-coeGetDirections{
        padding: 10px 15px;
    }
}