<div class="coeHospitals">
    <div class="result-1">
    <span class="blog-result-1">
        <b>13</b> results
         </span></div>
    
    <div class="dr-name-desc">
        <div class="dr-img-section">
          <img src="assets/images/doctor.png" alt="" />
        </div>
        <div class="dr-booking-section">
          <h2 class="dr-name">Dr. Anil Kumar Jha <span class="yello">HOD</span></h2>
          <p class="dr-director">Sr. Consultant, Department of Neurology</p>
          <p class="hosp-name"><b>Location : </b>Paras HMRI Hospital, Patna</p>
          <button class="book">Book an appointment</button>
          <button class="read-more">Know More</button>
        </div>
      
      </div>

</div>
<hr/>
<div class="coeHospitals">
    

    <div class="dr-name-desc">
        <div class="dr-img-section">
          <img src="assets/images/doctor05.png" alt="" />
        </div>
        <div class="dr-booking-section">
          <h2 class="dr-name">Dr. (Prof.) Vivek Gupta <span class="yello">HOD</span></h2>
          <p class="dr-director">Associate Consultant, Department of Neurology</p>
          <p class="hosp-name"><b>Location : </b>Paras Hospitals, Panchkula</p>
          <button class="book">Book an appointment</button>
          <button class="read-more">Know More</button>
        </div>
      
      </div>
      <hr/>
</div>
<div class="coeHospitals">
    
    <div class="dr-name-desc">
        <div class="dr-img-section">
          <img src="assets/images/doctor02.png" alt="" />
        </div>
        <div class="dr-booking-section">
          <h2 class="dr-name">Dr. Jaslovleen Kaur </h2>
          <p class="dr-director">Associate Consultant, Department of Neurology</p>
          <p class="hosp-name"><b>Location : </b>Paras HMRI Hospital, Patna</p>
          <button class="book">Book an appointment</button>
          <button class="read-more">Know More</button>
        </div>
      
      </div>
<hr/>
<div class="coeHospitals">
    

    <div class="dr-name-desc">
        <div class="dr-img-section">
          <img src="assets/images/doctor03.png" alt="" />
        </div>
        <div class="dr-booking-section">
          <h2 class="dr-name">Dr. Manish Kulshrestha </h2>
          <p class="dr-director">Sr. Consultant, Department of Neurology</p>
          <p class="hosp-name"><b>Location : </b>Paras HMRI Hospital, Patna</p>
          <button class="book">Book an appointment</button>
          <button class="read-more">Know More</button>
        </div>
      
      </div>
      <hr/>
</div>

<div class="result">
    <span class="blog-result">
 <b>   13</b> results
  </span>
               
            <span class="button-group float-end">    
                <button class=" one">1</button>
                <button class="page">2</button>
                <button class="page">3</button>
                <button class="page">Last</button></span>
            </div>

</div>

