<app-title-banner [name]="customTitle" [image]="customImage">
</app-title-banner>
<section class="ph-container ph-beardCIcons">
    <div class="ph-container-flax beardCIconsOuter">
        <div class="ph-beardCIconsLeft">
            <nav class="rank-math-breadcrumb-example">
                <p>
                    <a href="/">Home</a>
                    <span class="separator"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                    <span>Preventive</span>

                </p>
            </nav>
        </div>
    </div>
</section>
<div class="checkup-section">
    <div class="health-box">
        <h2 class="box-title">Child Health Check</h2>
        <img src="assets/images/checkup1.png" alt="">
        <button class="box-book-button">Book Now</button>
        <button class="box-book-button">Read More</button>

    </div>
    <div class="health-box">
        <h2 class="box-title">Well Woman Check</h2>
        <img src="assets/images/checkup2.png" alt="">
        <button class="box-book-button">Book Now</button>
        <button class="box-book-button">Read More</button>

    </div>  <div class="health-box">
        <h2 class="box-title">Diabetes Check</h2>
        <img src="assets/images/checkup3.png" alt="">
        <button class="box-book-button">Book Now</button>
        <button class="box-book-button">Read More</button>

    </div>  <div class="health-box">
        <h2 class="box-title">Cancer Check</h2>
        <img src="assets/images/checkup4.png" alt="">
        <button class="box-book-button">Book Now</button>
        <button class="box-book-button">Read More</button>

    </div>
    <hr>
    <div class="health-box">
        <h2 class="box-title">Healthy Heart Check</h2>
        <img src="assets/images/checkup5.png" alt="">
        <button class="box-book-button">Book Now</button>
        <button class="box-book-button">Read More</button>

    </div>  <div class="health-box">
        <h2 class="box-title">Master Health Check</h2>
        <img src="assets/images/checkup6.png" alt="">
        <button class="box-book-button">Book Now</button>
        <button class="box-book-button">Read More</button>

    </div>  <div class="health-box">
        <h2 class="box-title">Executive Health Check</h2>
        <img src="assets/images/checkup7.png" alt="">
        <button class="box-book-button">Book Now</button>
        <button class="box-book-button">Read More</button>

    </div>  <div class="health-box">
        <h2 class="box-title">Comprehensive Check</h2>
        <img src="assets/images/checkup8.png" alt="">
        <button class="box-book-button">Book Now</button>
        <button class="box-book-button">Read More</button>

    </div>

    <hr>

    <div class="checkup-accordian">
        <h2>Frequently Ask Questions</h2>

        <div class="set">
            <a href="javascript:void(0);">
                What Is Preventive Healthcare?
              <i class="fa fa-plus"></i>
            </a>
            <div class="content">
              <p>
                This is a kind of damage that generally occurs in the young adults
                and the children because of their wrong food habits. Tooth decay is
                generally known as Cavity, and this is also one of the common causes
                of tooth loss in the young people. This is one of the most chronic
                childhood diseases. Your tooth can be decayed completely or
                partially because of that. You can have holes inside the tooth, or
                your teeth can be broken due to that.
              </p>
            </div>
          </div>
          <div class="set">
            <a href="javascript:void(0);">
                Why Is Preventive Healthcare So Critical?
              <i class="fa fa-plus"></i>
            </a>
            <div class="content">
              <p>
                This is the second-most common oral health issue that can make your
                life miserable. In general, there is no symptom of the cavity. This
                is the condition in which most of the time people cannot understand
                that their tooth is damaged until they visit their dentist. However,
                a prevalent symptom of the cavity is having a tooth that becomes
                sensitive to cold and hot or sweet dishes. A kind of sensation can
                be felt whenever you eat or drink such types of foods.
               
              </p>
            </div>
          </div>
          <div class="set">
            <a href="javascript:void(0);">
                Do I Need A Preventive Health Check?
              <i class="fa fa-plus"></i>
            </a>
            <div class="content">
              <p>
                Bacteria in the mouth are the main cause of getting cavities. Apart
                from that eating starch diet is another cause.
              </p>
            </div>
          </div>
          <div class="set">
            <a href="javascript:void(0);">
              Treatment And ManagementCommon Instructions For Preventive Health Check
              <i class="fa fa-plus"></i>
            </a>
            <div class="content">
              <p>
                Maintain the oral hygiene by regular brushing and flossing your
                teeth to get rid of the cavity. Avoid consuming sugary foods and
                drinks. You can go for dental sealants as well.
              </p>
            </div>
    </div>
</div>