.checkup-section {
  width: 90%;
  margin: auto;
}
.health-box {
  display: inline-block;
  margin: 20px;
  width: 276px;
}
.health-box .box-title {
  font-size: 18px;
  font-family: "Inter-Bold";
  background-color: #d9f5fd;
  padding: 10px 10px 10px 10px;
  margin-bottom: 0;
}
.health-box img {
  display: block;
}
.health-box .box-book-button {
  border: none;
  background-color: transparent;
  border: 1px solid #1e2f3f;
  font-size: 14px;
  font-family: "Inter-Regular";
  margin-top: 10px;
  margin-right: 3px;
  padding: 10px 10px;
  width: 134px;
  color: #1e2f3f;
}

.set {
  position: relative;
  width: 100%;
  height: auto;
  padding: 10px 0px;
  background-color: #f5f5f5;
  margin: 15px 0;
}
.set > a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #000000;
  font-size: 20px;
  font-family: "Inter-Bold";

  /* border-bottom: 1px solid #ddd; */
  /* -webkit-transition:all 0.2s linear;
      -moz-transition:all 0.2s linear;
      transition:all 0.2s linear; */
}
.set > a i {
  float: right;
  margin-top: 2px;
  font-size: 16px;
}
/* .set > a.active{
      background-color:#3399cc;
      color: #fff;
    } */
.content {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  display: none;
}
.content p {
  font-size: 16px;
  font-family: "Inter-Regular";

  padding: 10px 15px;
  margin: 0;
  color: #000000;
}
.checkup-accordian {
  margin: 35px 0;
}
.checkup-accordian h2 {
  font-size: 24px;
  font-family: "Inter-Bold";
  margin: 15px 0;
}

/* media */

@media only screen and (max-width: 1400px) {
  .health-box {
    margin: 15px;
  }
}

@media only screen and (max-width: 1200px) {
  .health-box {
    margin: 15px;
  }
}

@media only screen and (max-width: 768px) {
    .health-box {
      margin: 10px 5px;
      
    }
   .checkup-section{
       padding: 0 25px;
   }
      
  }

  @media only screen and (max-width: 560px) {
    .health-box .box-book-button{
        width: 40%;
        margin:10px  15px;
    }
    .health-box{
        width: 100%;
    }

    .health-box img{
        width: 100%;
    }
    .checkup-section{
        padding: 0;
    }
}
