<app-title [name]="customTitle"> </app-title>
<section class="ph-container ph-beardCIcons">
  <div class="ph-container-flax beardCIconsOuter">
    <div class="ph-beardCIconsLeft">
      <nav class="rank-math-breadcrumb-example">
        <p>
          <a href="/">Home</a>
          <span class="separator"
            ><i class="fa fa-angle-right" aria-hidden="true"></i
          ></span>
          <span>About</span>
          <span class="separator"
            ><i class="fa fa-angle-right" aria-hidden="true"></i
          ></span>
          <span>MD Message</span>
        </p>
      </nav>
    </div>
    <div class="ph-beardCIconsRight">
      <a href="javascript:void(0);">
        <i class="fa fa-facebook-square" aria-hidden="true"></i>
      </a>
      <a href="javascript:void(0);">
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </a>
      <a href="javascript:void(0);">
        <i class="fa fa-instagram" aria-hidden="true"></i>
      </a>
      <a href="javascript:void(0);">
        <i class="fa fa-youtube-play" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</section>

<div class="about-md-section">
  <div class="about-md-box">
    <div class="md-img text-center">
      <img src="assets/images/md.png" alt="" class="img-fluid" />
    </div>

    <div class="md-desc">
      <p class="md-story">
        We believe in being the true ‘Partners in Health’- for the community,
        ensuring that along with guidance, attention and care, expertise is
        delivered with cutting edge technology and precision.
      </p>
      <p class="md-name">DR. DHARMENDRA NAGAR, MD</p>
    </div>
  </div>

  <div class="md-letter">
    <h2 class="md-greet">Greetings to all!</h2>
    <h3 class="md-welcome">
      I welcome all the visitors to the official portal of Paras Healthcare.</h3>

    <p class="md-letter-desc">  Paras Healthcare has the vision of providing establishments set on the
      principles of competence, commitment, compassion, convenience and
      effectiveness. We through our outreach aim at redefining the meaning of
      healthcare and its dimensions. We believe in being the true ‘Partners in
      Health’- for the community, ensuring that along with guidance, attention
      and care, expertise is delivered with cutting edge technology and
      precision.</p>
      
     <p class="md-letter-desc"> Fostered with the strength of its flagship hospital- Paras
      Hospitals, Gurgaon, the aim of Paras Healthcare is a pioneer in
      transpiring realities of healthcare- providing expert care where the same
      is inaccessible and inadequate. Our footprints in Patna, New Delhi,
      Panchkula, Darbhanga and Noida reinstate our mission of providing
      affordable, accessible, quality healthcare to underserved areas.</p>
      
     <p class="md-letter-desc"> We at
      Paras Healthcare believe that the journey of success needs forces of
      passion & dedication. These are imperative for growth and quality
      performance and we want to evolve as a corporate with a ‘conscious’.</p>
      
     <p class="md-letter-desc"> Paras
      Healthcare also aims at being the pioneer in changing the perception that
      quality healthcare provided by private hospitals is beyond the reach of
      common man, with choice of cost effective care and a wide range of
      services and facilities to choose from.</p>
      
     <p class="md-letter-desc"> At Paras Healthcare you can access
      the medical services for – Neurosciences, Orthopaedics & Joint
      Replacement, Cancer Treatment & Radiotherapy, Urology, Nephrology, Kidney
      Transplant, Aesthetic Sciences, Minimal Access Surgery, Obstetrics &
      Gynaecology, Nenatology & Pediatrics along with Cardiology & Cardiac
      Surgery. Paras Healthcare shall ensure that rare specialities like
      Endocrinology & Rheumatology are also provided to all. We also assure that
      our medical endeavours shall always be abreast with the latest
      developments in the scientific field as we understand that today’s
      tomorrow may become yesterday.</p>
      
      <p class="md-letter-desc">
      For us, our accomplishments and our happy
      moments shall encompass from saving lives and making every patient who
      walks into the portals of Paras Healthacare healthy and fit.</p>
      
     <h3 class="md-welcome"> Wishing a
      healthy life to all.</h3>
    <h2 class="md-ceo">Dr. Dharminder Nagar</h2>
    <h2 class="md-ceo"> Managing Director and CEO</h2>
  </div>
</div>
