<app-title [name]="customTitle"> </app-title>

<!-- common -->
<section class="ph-container ph-beardCIcons">
    <div class="ph-container-flax beardCIconsOuter">
        <div class="ph-beardCIconsLeft">
            <nav class="rank-math-breadcrumb-example">
                <p>
                    <a href="/">Home</a>
                    <span class="separator"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                    <span>Information Hub</span>
                </p>
            </nav>
        </div>
        <div class="ph-beardCIconsRight">
            <a href="javascript:void(0);">
                <i class="fa fa-facebook-square" aria-hidden="true"></i>
            </a>
            <a href="javascript:void(0);">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="javascript:void(0);">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
            <a href="javascript:void(0);">
                <i class="fa fa-youtube-play" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</section>
<div class="ph-container">
    <label>Filter by:</label>
    <select name="" id="" class="form-select info-select ">
        <option value="">Infographics</option>
        <option value="">.</option>
        <option value="">..</option>

    </select>
    <div class="info-box">
        <div class="row info-row">
            <div class="col-xl-4 info-col col-md-6 col-sm-6 ">
                <h2>All About Breast Cancer</h2>
                <img src="assets/images/info1.png" alt="">
            </div>
            <div class="col-xl-4 info-col col-md-6 col-sm-6  ">
                <h2>UTI Infection Symptoms And Its Prevention</h2>
                <img src="assets/images/info2.png" alt="">
            </div>
             <div class="col-xl-4 info-col col-md-6 col-sm-6 ">
                <h2>Oral cancer <i class="fa fa-share-alt float-end share" aria-hidden="true"></i>
                </h2>
                <img src="assets/images/info3.png" alt="">
            </div>
            <div class="col-xl-4 info-col col-md-6 col-sm-6">
                <h2>How To Prevent Cancer</h2>
                <img src="assets/images/info4.png" alt="">
            </div> <div class="col-xl-4 info-col col-md-6 col-sm-6">
                <h2>What is Menorrhagia?</h2>
                <img src="assets/images/info5.png" alt="">
            </div> <div class="col-xl-4 info-col col-md-6 col-sm-6">
                <h2>Signs Of Cancer In Children</h2>
                <img src="assets/images/info6.png" alt="">
            </div> <div class="col-xl-4 info-col col-md-6 col-sm-6">
                <h2>SIGN AND SYMPTOMS OF BLACK FUNGUS – MUCORMYCOSIS INFECTION</h2>
                <img src="assets/images/info7.png" alt="">
            </div> <div class="col-xl-4 info-col col-md-6 col-sm-6">
                <h2>Post Covid Care</h2>
                <img src="assets/images/info8.png" alt="">
            </div> <div class="col-xl-4 info-col col-md-6 col-sm-6">
                <h2>Pregnancy Safety During COVID-19 Pandemic</h2>
                <img src="assets/images/info9.png" alt="">
            </div>
          
        </div>
    </div>
</div>