img{ max-width: 100%; height: auto;}

.h3{font-family: "Inter-Bold"; font-size: 22px;}
.h4{font-family: "Inter-Bold"; font-size: 18px;}

.app-feature-list ul{ margin: 0 -15px; list-style: none; padding: 0; display: flex; flex-wrap: wrap;}
.app-feature-list ul li{ padding: 0 15px; width: 20%;}
.app-feature-list ul li .feature--card{ background-color: #B0CC82; border-radius: 6px; text-align: center; overflow: hidden; }
.app-feature-list ul li .feature--card .icon{padding: 20px 10px;}
.app-feature-list ul li .feature--card .icon img{ width: 54px; border-radius: 50%;}
.app-feature-list ul li .feature--card .meta{ color: #fff; display: flex; min-height: 70px; align-items: center; justify-content: center; background-color: #00BBF2; padding: 10px;}
.app-feature-list ul li .feature--card .meta .h6{ font-family: "Inter-Bold"; font-size: 15px;}

.getstarted-section{ padding: 30px 0;}
.getstarted-section .txt-get-started-holder{ background-color: #D9F5FD; padding: 15px; text-align: center;}

.easy-step-card{box-shadow: 0 3px 9px rgba(0,0,0,0.1); border-top: 3px solid #00BBF2; padding: 20px; text-align: center; margin-top: 15px;}
.easy-step-card .step-badge{ background-color: #B0CC82; display: inline-block; padding: 8px 20px; margin-bottom: 15px; border-radius: 35px; }
.easy-step-card .txt-holder{ font-size: 14px; min-height: 100px; justify-content: center; display: flex; width: 100%; align-items: center;}
.easy-step-card .txt-holder p{ width: 350px; max-width: 100%;}

.featured-row{ border-bottom: 1px solid #E5E5E5; margin-top: 40px;}
.featured-row .feature-row-inner{ width: 70%; margin: auto;}
.featured-row .featured-txt-holder{font-size: 14px; padding: 20px; width: 260px; max-width: 100%;}
.featured-row .featured-txt-holder .h3{ margin-bottom: 15px;}
.featured-row .img-holder{ width: 50%;}

.download-paras-app{ padding: 40px 0; text-align: center;}
.download-paras-app > a{ display: inline-block; vertical-align: middle; margin: 5px; width: 160px;}

@media screen and (min-width:768px) {
    .featured-row .order--1{ order:1}
    .featured-row .order--2{ order:2}
    .featured-row.featured-row-2 .img-holder{ text-align: right;}
}

@media screen and (max-width:1199px) {
    .app-feature-list ul li .feature--card .meta .h6{font-size: 14px;}
    .featured-row .feature-row-inner{ width: 80%;}
}
@media screen and (max-width:991px) {
    .easy-step-card{ padding: 20px 15px;}
    .app-feature-list ul{ margin: 0 -5px;}
    .app-feature-list ul li{ width: 33.33%; padding: 0 5px; margin-bottom: 10px;}
    .getstarted-section{ padding-top: 15px;}
    .easy-step-card .txt-holder{ min-height: 120px;}
}
@media screen and (max-width:767px) {
    .app-feature-list ul li{ width: 50%;}
    .easy-step-card .txt-holder{ min-height: 1px;}

    .featured-row .feature-row-inner{ width: 100%;}

    .featured-row{margin-top: 30px;}
    .featured-row .featured-txt-holder{padding:0; margin-bottom: 10px; text-align: center; width: 100%;}
    .featured-row .img-holder{ width: 100%; text-align: center;}
    .featured-row .img-holder img{ width: 70%;}
    .download-paras-app > a{ width: 125px;}
    .download-paras-app{ padding: 30px 0;}
}