<app-title [name]="customTitle"> </app-title>
<section class="ph-container ph-beardCIcons">
  <div class="ph-container-flax beardCIconsOuter">
    <div class="ph-beardCIconsLeft">
      <nav class="rank-math-breadcrumb-example">
        <p>
          <a href="/">Home</a>
          <span class="separator"
            ><i class="fa fa-angle-right" aria-hidden="true"></i
          ></span>
          <!-- <span>About</span>
          <span class="separator"
            ><i class="fa fa-angle-right" aria-hidden="true"></i
          ></span> -->
          <span>Specialities</span>
        </p>
      </nav>
    </div>
    <div class="ph-beardCIconsRight">
      <a href="javascript:void(0);">
        <i class="fa fa-facebook-square" aria-hidden="true"></i>
      </a>
      <a href="javascript:void(0);">
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </a>
      <a href="javascript:void(0);">
        <i class="fa fa-instagram" aria-hidden="true"></i>
      </a>
      <a href="javascript:void(0);">
        <i class="fa fa-youtube-play" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</section>

<div class="special-section text-center">
  <div class="row special-row">
    <div class="col-3 special-box">
      <a href="javascript:void(0);">
        <img src="assets/images/img1.png" alt="" />
        <p class="special-text">Critical Care</p></a
      >
    </div>
    <div class="col-3 special-box">
      <a href="javascript:void(0);">
        <img src="assets/images/img2.png" alt="" />
        <p class="special-text">Dentistry</p></a
      >
    </div>

    <div class="col-3 special-box">
      <a href="javascript:void(0);">
        <img src="assets/images/img3.png" alt="" />
        <p class="special-text">Dermatology</p></a
      >
    </div>

    <div class="col-3 special-box">
        <a href="javascript:void(0);">
      <img src="assets/images/img4.png" alt="" />
      <p class="special-text">Emergency Medicine</p></a>
    </div>
    <div class="col-3 special-box">
        <a href="javascript:void(0);">
      <img src="assets/images/img5.png" alt="" />
      <p class="special-text">ENT</p></a>
    </div>
    <div class="col-3 special-box">
        <a href="javascript:void(0);">
      <img src="assets/images/img6.png" alt="" />
      <p class="special-text">Endocrinology</p></a>
    </div>
    <div class="col-3 special-box">
        <a href="javascript:void(0);">
      <img src="assets/images/img7.png" alt="" />
      <p class="special-text">Haematology</p></a>
    </div>
    <div class="col-3 special-box">
        <a href="javascript:void(0);">
      <img src="assets/images/img8.png" alt="" />
      <p class="special-text">Internal Medicine</p></a>
    </div>
    <div class="col-3 special-box">
        <a href="javascript:void(0);">
      <img src="assets/images/img9.png" alt="" />
      <p class="special-text">Lab Sciences</p></a>
    </div>
    <div class="col-3 special-box">
        <a href="javascript:void(0);">
      <img src="assets/images/img10.png" alt="" />
      <p class="special-text">Nutrition & Dietetics</p></a>
    </div>
    <div class="col-3 special-box">
        <a href="javascript:void(0);">
      <img src="assets/images/img11.png" alt="" /></a>
      <p class="special-text">Ophthalmology</p>
    </div>
    <div class="col-3 special-box">
        <a href="javascript:void(0);">
      <img src="assets/images/img12.png" alt="" />
      <p class="special-text">Paediatrics</p></a>
    </div>
    <div class="col-3 special-box">
        <a href="javascript:void(0);">
      <img src="assets/images/img13.png" alt="" />
      <p class="special-text">Psychiatry & Psychology</p></a>
    </div>
    <div class="col-3 special-box">
        <a href="javascript:void(0);">
      <img src="assets/images/img14.png" alt="" />
      <p class="special-text">Spine Services</p></a>
    </div>
    <div class="col-3 special-box">
        <a href="javascript:void(0);">
      <img src="assets/images/img15.png" alt="" />
      <p class="special-text">Radiology</p></a>
    </div>
    <div class="col-3 special-box">
        <a href="javascript:void(0);">
      <img src="assets/images/img16.png" alt="" />
      <p class="special-text">
        Vascular & Non Vascular Interventional Radiology
      </p></a>
    </div>
    <div class="col-3 special-box">
        <a href="javascript:void(0);">
      <img src="assets/images/img17.png" alt="" />
      <p class="special-text">Physiotherapy</p></a>
    </div>
    <div class="col-3 special-box">
        <a href="javascript:void(0);">
      <img src="assets/images/img18.png" alt="" />
      <p class="special-text">Vascular & Endovascular Surgery</p></a>
    </div>
    <div class="col-3 special-box">
        <a href="javascript:void(0);">
      <img src="assets/images/img19.png" alt="" />
      <p class="special-text">Pulmonology</p></a>
    </div>
    <div class="col-3 special-box">
        <a href="javascript:void(0);">
      <img src="assets/images/img20.png" alt="" />
      <p class="special-text">Rheumatology</p></a>
    </div>
  </div>
</div>
