<section class="ph-banner">
    <div class="ph-bannerOuter">
        <div class="ph-bannerLeft">
            <p>Trained experts with highest level of expertise</p>
            <a href="javascript:void(0);">know more</a>
        </div>
        <div class="ph-bannerRight">
            <img src="assets/images/header-pic.png" alt="">
        </div>
    </div>
</section>

<section class="ph-appDoc ph-container">
    <div class="ph-appDocOuter">
        <div class="ph-appDocInner">
            <p class="pg-bookAppText">Book An Appointment</p>
            <p class="ph-howcanwe">How Can We Help?</p>
            <select name="" id="" class="ph-appDocSelect">
                <option value="New patient">New patient</option>
                <option value="Current patient">Current patient</option>
            </select>
            <div class="ph-bookSearchLocate">
                <a href="javascript:void(0);">Book now</a>
            </div>
        </div>

        <div class="ph-appDocInner">
            <p class="pg-bookAppText">Book An Appointment</p>
            <p class="ph-howcanwe">How Can We Help?</p>
            <select name="" id="" class="ph-appDocSelect">
                <option value="Critical Care">Critical Care</option>
                <option value="Dentistry">Dentistry</option>
                <option value="Dermatology">Dermatology</option>
                <option value="Emergency Medicine">Emergency Medicine</option>
                <option value="Endocrinology">Endocrinology</option>
                <option value="Hematology">Hematology</option>
                <option value="Internal Medicine">Internal Medicine</option>
                
            </select>
            <div class="ph-bookSearchLocate">
                <a href="javascript:void(0);">Search</a>
                <a href="javascript:void(0);">All Doctors <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" class="svg-inline--fa fa-chevron-right fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"></path></svg></a>
            </div>
        </div>

        <div class="ph-appDocInner">
            <p class="pg-bookAppText">Book An Appointment</p>
            <p class="ph-howcanwe">How Can We Help?</p>
            <select name="" id="" class="ph-appDocSelect">   
                <option value="Gurgaon">Gurgaon</option>
                <option value="Patna">Patna</option>
                <option value="Darbhanga">Darbhanga</option>
                <option value="Panchkula">Panchkula</option>
                <option value="Ranchi">Ranchi</option>
                <option value="Udaipur">Udaipur</option>
                <option value="Paras">Paras</option>
                <option value="Bliss">Bliss</option>
            </select>
            <div class="ph-bookSearchLocate">
                <a href="javascript:void(0);">Locate</a>
                <a href="javascript:void(0);">All locations <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" class="svg-inline--fa fa-chevron-right fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"></path></svg></a>
            </div>
        </div>
    </div>
</section>
<app-coe-slider></app-coe-slider>
<section class="ph-makeDiffinP ph-container">
    <div class="makDiffInpOuter ph-container-flax">
        <div class="ph-mkDiffLeft">
            <p class="ph-mkadiffPea">Making A Difference In People’s Lives</p>
            <p class="ph-atthebestpri">At the best private hospitals in India, Paras Hospitals, we strive to provide the best treatments and care possible to ensure the good health and well-being of all our patients. With our specialised doctors, state-of-the-art technology, and world-class facilities, we provide exceptional care and medical expertise, and change people’s lives for the better.</p>
            <a class="ph-btn" href="javascript:void(0);">Read Our Patient’s Stories</a>
        </div>
        <div class="ph-mkDiffRight">
            <div class="ph-mkdiffImageinner ph-container-flax">
                <div class="ph-mkimagerOuter1">
                    <img src="assets/images/5as782ve.png" alt="">
                    <a class="ph-playLink" href="javascript:void(0);"><i class="fa fa-play" aria-hidden="true"></i>Transplant gives Shalini a second chance</a>
                    <div class="ph-divbgGradiant"></div>
                </div>
                <div class="ph-mkimagerOuter2">
                    <img src="assets/images/laogxrys.png" alt="">
                    <a class="ph-playLink" href="javascript:void(0);"><i class="fa fa-play" aria-hidden="true"></i>New hope to Mr. Tejas</a>
                    <div class="ph-divbgGradiant"></div>
                </div>
            </div>
            <div class="ph-mkdiffImageinner ph-itemTop ph-container-flax">
                <div class="ph-mkimagerOuter2">
                    <img src="assets/images/5t1ucrzi.png" alt="">
                    <a class="ph-playLink" href="javascript:void(0);"><i class="fa fa-play" aria-hidden="true"></i>New hope to Mr. Tejas</a>
                    <div class="ph-divbgGradiant"></div>
                </div>
                <div class="ph-mkimagerOuter1">
                    <img src="assets/images/wtjd5i6l.png" alt="">
                    <a class="ph-playLink" href="javascript:void(0);"><i class="fa fa-play" aria-hidden="true"></i>Transplant gives Shalini a second chance</a>
                    <div class="ph-divbgGradiant"></div>
                </div>
                
            </div>
        </div>
    </div>

</section>
<app-our-hospitals></app-our-hospitals>

<section class="ph-awardsAndRec ph-container">
    <div class="ph-awardsandRecOuter ph-container-flax">
        <div class="ph-awardFirst">
            <div class="ph-awardInnerText">
                <p>View Our Cutting <br> Edge Technology</p>
                <a href="javascript:void(0);">know more <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" class="svg-inline--fa fa-chevron-right fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"></path></svg></a>
            </div>
            <img src="assets/images/pet_ct_panchkula.png" alt="">
        </div>

        <div class="ph-awardFirst">
            <div class="ph-awardInnerText" style="background-color: #58C3BA;">
                <p>Take A Tour <br> Of Our Hospitals</p>
                <a href="javascript:void(0);">View all <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" class="svg-inline--fa fa-chevron-right fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"></path></svg></a>
            </div>
            <img src="assets/images/paras-hospital-gurgaon-2.png" alt="">
        </div>

        <div class="ph-awardFirst">
            <div class="ph-awardInnerText" style="background-color: #00BBF2;">
                <p>Awards <br> And Recognition</p>
                <a href="javascript:void(0);">know more <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" class="svg-inline--fa fa-chevron-right fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"></path></svg></a>
            </div>
            <img src="assets/images/best-neurosurgery-award-1.png" alt="">
        </div>
    </div>
    <div class="ph-awardBorderOuter ph-container-flax">
        <div class="ph-awardBorderLeft"></div>
        <div class="ph-awardBorderRight"></div>
    </div>
</section>

<section class="ph-ceofexSlider ph-container ph-Slider ph-blogs">
    <p class="ph-centerofExc">Our Blogs</p>
    <owl-carousel [options]="blogs" [carouselClasses]="['owl-theme','customClassName']">
        <div class="item">
            <div class="ph-blogSlider ph-container-flax">
                <div class="ph-blogSliderleft">
                    <img src="assets/images/te1qj9ij.png" alt="">
                </div>
                <div class="ph-blogSliderRight">
                    <p class="ph-blogText01">General</p>
                    <p class="ph-blogText02">Preparing For Your First Visit To Paras Hospitals</p>
                    <p class="ph-blogText03">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                    <a class="ph-blogsReadMore" href="javascript:void(0);">read more <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" class="svg-inline--fa fa-chevron-right fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"></path></svg></a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="ph-blogSlider ph-container-flax">
                <div class="ph-blogSliderleft">
                    <img src="assets/images/07xxw4q1.png" alt="">
                </div>
                <div class="ph-blogSliderRight">
                    <p class="ph-blogText01">General</p>
                    <p class="ph-blogText02">Preparing For Your First Visit To Paras Hospitals</p>
                    <p class="ph-blogText03">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                    <a class="ph-blogsReadMore" href="javascript:void(0);">read more <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" class="svg-inline--fa fa-chevron-right fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"></path></svg></a>
                </div>
            </div>
        </div>
    </owl-carousel>
</section>
<section class="ph-testimonial ph-container">
    <div class="ph-testimonialOuter ph-container-flax">
        <div class="ph-testFirst01">
            <i class="fa fa-quote-left"></i>
        </div>
        <div class="ph-testSecond01">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <p>DR. DHARMENDRA NAGAR, MD</p>
        </div>
        <div class="ph-testThird01">
            <img src="assets/images/testmonial01.png" alt="">
        </div>
    </div>
</section>
<app-footer></app-footer>
