<div class="hospital-page">
    <section class="ph-hospital">
        <div class="ph-hospital-name">
            <div class="ph-desc">
                <h2>Paras Hospital, Gurugram</h2>
                <p>
                    C-1, Sushant Lok- 1, Sector-43, Phase- I, Gurugram,<br />
                    Haryana 122002 (INDIA)
                </p>

                <b>Phone: </b> <span>+911244585555</span> <br />
                <b>Email: </b><span> contact@parashospitals.com </span><br />
                <button class="book">Book an appointment</button>
                <button class="read-more">Get Directions</button>
            </div>
            <div class="ph-hospital-img">
                <img src="assets/images/gurugam-hospital.png" alt="" />
            </div>
        </div>
    </section>
</div>
<section class="ph-container ph-beardCIcons">
    <div class="ph-container-flax beardCIconsOuter">
        <div class="ph-beardCIconsLeft">
            <nav class="rank-math-breadcrumb-example">
                <p>
                    <a href="/">Home</a>
                    <span class="separator"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                    <span>Doctors</span>
                    <span class="separator"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                    <span>Details</span>
                </p>
            </nav>
        </div>
    </div>
</section>
<div class="hospital-section-2">
    <div class="ph-hospital-section-img">
        <img src="assets/images/hospital-pageimg01.png" alt="" />
    </div>
    <div class="ph-hospital-img-text">
        <h3>
            Always ready. <br />
            So you are always <br />
            protected.
        </h3>
        <p>
            Passionate about medicine,<br />
            compassionate about people.
        </p>
        <button class="ph-hospital-butn">Find a doctor</button>
    </div>
    <section class="ph-ceofexSlider ph-Slider">
        <p class="ph-centerofExc">Centres Of Excellence</p>
        <owl-carousel [options]="customOptions" [carouselClasses]="['owl-theme', 'customClassName']">
            <div class="item">
                <div class="ph-itemSlider">
                    <img src="assets/images/cfe01.png" alt="" />
                    <p>NEUROLOGY</p>
                </div>
            </div>
            <div class="item">
                <div class="ph-itemSlider">
                    <img src="assets/images/cfe02.png" alt="" />
                    <p>CARDIOLOGY</p>
                </div>
            </div>
            <div class="item">
                <div class="ph-itemSlider">
                    <img src="assets/images/cfe03.png" alt="" />
                    <p>BARIATRIC SURGERY</p>
                </div>
            </div>
            <div class="item">
                <div class="ph-itemSlider">
                    <img src="assets/images/cfe04.png" alt="" />
                    <p>PLASTIC SURGERY</p>
                </div>
            </div>
            <div class="item">
                <div class="ph-itemSlider">
                    <img src="assets/images/cfe05.png" alt="" />
                    <p>ORTHOPAEDICS</p>
                </div>
            </div>
            <div class="item">
                <div class="ph-itemSlider">
                    <img src="assets/images/cfe01.png" alt="" />
                    <p>NEUROLOGY</p>
                </div>
            </div>
            <div class="item">
                <div class="ph-itemSlider">
                    <img src="assets/images/cfe05.png" alt="" />
                    <p>ORTHOPAEDICS</p>
                </div>
            </div>
            <div class="item">
                <div class="ph-itemSlider">
                    <img src="assets/images/cfe01.png" alt="" />
                    <p>NEUROLOGY</p>
                </div>
            </div>
        </owl-carousel>
    </section>

    <section class="ph-ceofexSlider shadow slider-2 ph-Slider">
        <p class="ph-centerofExc">Specialities</p>
        <owl-carousel [options]="specialOptions" [carouselClasses]="['owl-theme', 'customClassName']">
            <div class="item">
                <div class="ph-hospital-slider">
                    <img src="assets/images/physco.png" alt="" />
                    <a class="ph-playLinks" href="javascript:void(0);">Physiotherapy</a>
                    <div class="ph-divbgGradiants"></div>
                </div>
            </div>
            <div class="item">
                <div class="ph-hospital-slider">
                    <img src="assets/images/ivf.png" alt="" />
                    <a class="ph-playLinks" href="javascript:void(0);">IVF</a>
                    <div class="ph-divbgGradiants"></div>
                </div>
            </div>
            <div class="item">
                <div class="ph-hospital-slider">
                    <img src="assets/images/eyes.png" alt="" />
                    <a class="ph-playLinks" href="javascript:void(0);">Ophthalmology</a>
                    <div class="ph-divbgGradiants"></div>
                </div>
            </div>
            <div class="item">
                <div class="ph-hospital-slider">
                    <img src="assets/images/dentist.png" alt="" />
                    <a class="ph-playLinks" href="javascript:void(0);">Dentistry</a>
                    <div class="ph-divbgGradiants"></div>
                </div>
            </div>
            <div class="item">
                <div class="ph-hospital-slider">
                    <img src="assets/images/eyes.png" alt="" />
                    <a class="ph-playLinks" href="javascript:void(0);">Ophthalmology</a>
                    <div class="ph-divbgGradiants"></div>
                </div>
            </div>
            <div class="item">
                <div class="ph-hospital-slider">
                    <img src="assets/images/dentist.png" alt="" />
                    <a class="ph-playLinks" href="javascript:void(0);">Dentistry</a>
                    <div class="ph-divbgGradiants"></div>
                </div>
            </div>
            <div class="item">
                <div class="ph-hospital-slider">
                    <img src="assets/images/physco.png" alt="" />
                    <a class="ph-playLinks" href="javascript:void(0);">Physiotherapy</a>
                    <div class="ph-divbgGradiants"></div>
                </div>
            </div>
            <div class="item">
                <div class="ph-hospital-slider">
                    <img src="assets/images/ivf.png" alt="" />
                    <a class="ph-playLinks" href="javascript:void(0);">IVF</a>
                    <div class="ph-divbgGradiants"></div>
                </div>
            </div>
        </owl-carousel>
    </section>

    <div class="ph-hospital-years">
        <div class="ph-years-box text-center">
            <img src="assets/images/20years.png" alt="" />
        </div>
        <div class="ph-years-box-desc">
            <h2>Best Hospital in Gurgaon</h2>
            <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
                illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
                odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                voluptatem sequi nesciunt.
            </p>
        </div>
    </div>
    <div class="ph-doctor-team">
        <div class="ph-doctor-heading text-center">
            <h2>Meet out team of experts</h2>
        </div>
        <div class="ph-doctors-photos">
            <div class="ph-doctors-team-img">
                <img src="assets/images/drteam1.png" alt="" class="phimg">
                <div class="overlay">
                    <div class="ph-doc-text">
                        <h2>Dr. Rajnish gill</h2>
                        <p>Neurology</p>
                        <a href="javascript:void(0);">
                            <i class="fa fa-facebook-square" aria-hidden="true"></i>
                        </a>
                        <a href="javascript:void(0);">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>

                        <a href="javascript:void(0);">
                            <i class="fa fa-youtube-play" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="ph-doctors-team-img">
                <img src="assets/images/doctor.png" alt="" class="phimg">
                <div class="overlay">
                    <div class="ph-doc-text">
                        <h2>Dr. Rajnish gill</h2>
                        <p>Neurology</p>
                        <a href="javascript:void(0);">
                            <i class="fa fa-facebook-square" aria-hidden="true"></i>
                        </a>
                        <a href="javascript:void(0);">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>

                        <a href="javascript:void(0);">
                            <i class="fa fa-youtube-play" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="ph-doctors-team-img">
                <img src="assets/images/doctor02.png" alt="" class="phimg">
                <div class="overlay">
                    <div class="ph-doc-text">
                        <h2>Dr. Rajnish gill</h2>
                        <p>Neurology</p>
                        <a href="javascript:void(0);">
                            <i class="fa fa-facebook-square" aria-hidden="true"></i>
                        </a>
                        <a href="javascript:void(0);">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>

                        <a href="javascript:void(0);">
                            <i class="fa fa-youtube-play" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="ph-doctors-team-img">
                <img src="assets/images/doctor03.png" alt="" class="phimg">
                <div class="overlay">
                    <div class="ph-doc-text">
                        <h2>Dr. Rajnish gill</h2>
                        <p>Neurology</p>
                        <a href="javascript:void(0);">
                            <i class="fa fa-facebook-square" aria-hidden="true"></i>
                        </a>
                        <a href="javascript:void(0);">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>

                        <a href="javascript:void(0);">
                            <i class="fa fa-youtube-play" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="ph-doctors-team-img">
                <img src="assets/images/doctor05.png" alt="" class="phimg">
                <div class="overlay">
                    <div class="ph-doc-text">
                        <h2>Dr. Rajnish gill</h2>
                        <p>Neurology</p>
                        <a href="javascript:void(0);">
                            <i class="fa fa-facebook-square" aria-hidden="true"></i>
                        </a>
                        <a href="javascript:void(0);">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>

                        <a href="javascript:void(0);">
                            <i class="fa fa-youtube-play" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="ph-doctors-team-img">
                <img src="assets/images/doctor.png" alt="" class="phimg">
                <div class="overlay">
                    <div class="ph-doc-text">
                        <h2>Dr. Rajnish gill</h2>
                        <p>Neurology</p>
                        <a href="javascript:void(0);">
                            <i class="fa fa-facebook-square" aria-hidden="true"></i>
                        </a>
                        <a href="javascript:void(0);">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>

                        <a href="javascript:void(0);">
                            <i class="fa fa-youtube-play" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>


        </div>
        <div class="ph-doctors-photos">
            <div class="ph-doctors-team-img">
                <img src="assets/images/doctor02.png" alt="" class="phimg">
                <div class="overlay">
                    <div class="ph-doc-text">
                        <h2>Dr. Rajnish gill</h2>
                        <p>Neurology</p>
                        <a href="javascript:void(0);">
                            <i class="fa fa-facebook-square" aria-hidden="true"></i>
                        </a>
                        <a href="javascript:void(0);">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>

                        <a href="javascript:void(0);">
                            <i class="fa fa-youtube-play" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="ph-doctors-team-img">
                <img src="assets/images/doctor03.png" alt="" class="phimg">
                <div class="overlay">
                    <div class="ph-doc-text">
                        <h2>Dr. Rajnish gill</h2>
                        <p>Neurology</p>
                        <a href="javascript:void(0);">
                            <i class="fa fa-facebook-square" aria-hidden="true"></i>
                        </a>
                        <a href="javascript:void(0);">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>

                        <a href="javascript:void(0);">
                            <i class="fa fa-youtube-play" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="ph-doctors-team-img">
                <img src="assets/images/doctor05.png" alt="" class="phimg">
                <div class="overlay">
                    <div class="ph-doc-text">
                        <h2>Dr. Rajnish gill</h2>
                        <p>Neurology</p>
                        <a href="javascript:void(0);">
                            <i class="fa fa-facebook-square" aria-hidden="true"></i>
                        </a>
                        <a href="javascript:void(0);">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>

                        <a href="javascript:void(0);">
                            <i class="fa fa-youtube-play" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="ph-doctors-team-img">
                <img src="assets/images/doctor02.png" alt="" class="phimg">
                <div class="overlay">
                    <div class="ph-doc-text">
                        <h2>Dr. Rajnish gill</h2>
                        <p>Neurology</p>
                        <a href="javascript:void(0);">
                            <i class="fa fa-facebook-square" aria-hidden="true"></i>
                        </a>
                        <a href="javascript:void(0);">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>

                        <a href="javascript:void(0);">
                            <i class="fa fa-youtube-play" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="ph-doctors-team-img">
                <img src="assets/images/doctor03.png" alt="" class="phimg">
                <div class="overlay">
                    <div class="ph-doc-text">
                        <h2>Dr. Rajnish gill</h2>
                        <p>Neurology</p>
                        <a href="javascript:void(0);">
                            <i class="fa fa-facebook-square" aria-hidden="true"></i>
                        </a>
                        <a href="javascript:void(0);">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>

                        <a href="javascript:void(0);">
                            <i class="fa fa-youtube-play" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="ph-doctors-team-img">
                <img src="assets/images/drteam1.png" alt="" class="phimg">
                <div class="overlay">
                    <div class="ph-doc-text">
                        <h2>Dr. Rajnish gill</h2>
                        <p>Neurology</p>
                        <a href="javascript:void(0);">
                            <i class="fa fa-facebook-square" aria-hidden="true"></i>
                        </a>
                        <a href="javascript:void(0);">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>

                        <a href="javascript:void(0);">
                            <i class="fa fa-youtube-play" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
<div class="viewall text-center">
            <button class="ph-view">View all Doctors</button>
        </div>
        </div>
        <hr>
    </div>
<div class="ph-footer-list">
    <div class="ph-patient-testimonial">
        <div class="ph-patient-text">
            <h2>Patient <br> Testimonials</h2>
            <p>View all <i class="fa fa-angle-right" aria-hidden="true"></i></p>
        </div>
        <div class="ph-testi-img ph-mkimagerOuter1">
            <img src="assets/images/pat1.png" alt="">
            <a class="ph-playLink" href="javascript:void(0);"><i class="fa fa-play" aria-hidden="true"></i>Spinal Tumour Treatment & Surgery</a>
            <div class="ph-divbgGradiant"></div>
        </div>
    </div>
    <div class="ph-patient-testimonial">
        <div class="ph-patient-text event">
            <h2>Event and <br> Press release</h2>
            <p>View all <i class="fa fa-angle-right" aria-hidden="true"></i></p>
        </div>
        <div class="ph-testi-img ph-mkimagerOuter1">
            <img src="assets/images/award.png" alt="">
           
        </div>
    </div>
    <div class="ph-patient-testimonial">
        <div class="ph-patient-text hub">
            <h2>Information <br> Hub</h2>
            <p>View all <i class="fa fa-angle-right" aria-hidden="true"></i></p>
        </div>
        <div class="ph-testi-img ph-mkimagerOuter1">
            <img src="assets/images/heart.png" alt="">
            
        </div>
    </div>
</div>


</div>
<app-footer></app-footer>
